swagger: '2.0'

info:
  description: 'Bargain Finder Max (BFM), our best-in-class low fare search product, is used to search for the lowest available priced itineraries based upon a specific date.'
  title: Bargain Finder Max
  version: v3
host: api.cert.platform.sabre.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /v3/offers/shop:
    post:
      operationId: createBargainFinderMax
      parameters:
        - description: The Bargain Finder Max for flights to create.
          in: body
          name: createBargainFinderMaxRequest
          required: false
          schema:
            $ref: '#/definitions/BargainFinderMaxRequest'
      responses:
        '200':
          description: Success.
          schema:
            $ref: '#/definitions/GroupedItineraryResponse'
definitions:
  org.opentravel.ota._2003._05.CabinPrefType:
    additionalProperties: false
    description: Defines the preferred cabin type(s) to be used in a search. The Cabin type specified in a OriginDestinationInformation/TPA_Extensions overrides this Cabin type for that specific segment/leg. If a Cabin type is not specified in a OriginDestinationInformation/TPA_Extensions the cabin type in this element will be used as default cabin type for that segment/leg.
    properties:
      Cabin:
        description: 'The specific type of the cabin. Valid values are Premium First (P), First (F), Premium Business (J), Business (C), Premium Economy (S), Economy (Y).'
        example: Economy or Y
        type: string
      PreferLevel:
        description: 'Used to specify a preference level for something that is or will be requested (e.g. a supplier of a service, a type of service, a form of payment, etc.).'
        example: Only
        type: string
    type: object
  org.opentravel.ota._2003._05.TransactionType.RequestType:
    additionalProperties: false
    properties:
      Name:
        description: The name of the type of request.
        example: 50ITINS
        type: string
  org.opentravel.ota._2003._05.TransactionType.ResponseSorting:
    additionalProperties: false
    description: Settings for IntelliSell merchandising
    properties:
      EnableChronologicalSorting:
        type: boolean
        description: 'If true, chronological sorting will be enabled.'
        example: true
      SortFaresInsideItin:
        type: boolean
        description: 'If true, fares will be sorted inside the itinerary.'
        example: true
    type: object
  Allowance:
    properties:
      ref:
        description: The unique ID of the baggage allowance.
        example: 1
        type: integer
    required:
      - ref
    type: object
  AncillaryFeeDetailsType:
    properties:
      amount:
        description: 'The total amount of the fee to be paid, in cash.'
        example: 20
        type: number
      ancillaryTypeCode:
        description: The code used to represent the type of the ancillary fee. Type F is flight related and type P means prepaid.
        example: F
        pattern: (F)|(P)
        type: string
      baggageId:
        description: The unique ID used to represent the baggage of the traveler.
        example: 1
        type: integer
      carrier:
        description: The carrier name of the traveler's journey.
        example: American Airlines
        pattern: '^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$'
        type: string
      code:
        description: The code of the carrier of the traveler's journey.
        example: AA
        pattern: '[A-Z][A-Z0-9]{2}'
        type: string
      departureDate:
        description: The date of the departure. The format is YYYY-MM-DD.
        example: '2024-02-11'
        type: string
      description:
        description: A text description of the ancillary's fee details.
        example: The baggage fee is paid ahead of the flight.
        type: string
      description1:
        description: Baggage description line 1.
        example: 'UP TO 50 POUNDS/23 KILOGRAMS'
        type: string
      description2:
        description: Baggage description line 2.
        example: 'UP TO 80 LINEAR INCHES/203 LINEAR CM'
        type: string
      destination:
        description: The end destination of the journey.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      endSegment:
        description: The end segment of the travelers journey.
        example: 4
        type: integer
      firstOccurrence:
        type: integer
        description: Ancillary Fee description lines from ATPCO filing.
        example: 1
      lastOccurrence:
        description: Ancillary Baggage Information. Last occurrence for which the baggage charge applies. If last occurrence is not returned, baggage option has no limit of pieces that can be sold.
        example: 2
        type: integer
      origin:
        description: 'The origin, meaning starting location, of the travelers journey.'
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      startSegment:
        description: 'The start, or beginning, segment of the travelers journey.'
        example: 1
        type: integer
      subcode:
        description: The subcode of the ATPCO Optional Services Industry.
        example: 0
        maxLength: 3
        minLength: 3
        type: string
      subgroup:
        description: Ancillary subgroup two letter code.
        example: SP
        maxLength: 2
        minLength: 2
        type: string
    required:
      - code
      - origin
      - destination
      - carrier
      - amount
      - startSegment
      - endSegment
    type: object
  AncillaryFeeGroupType:
    properties:
      ancillaryFees:
        items:
          $ref: '#/definitions/AncillaryFeeType'
        type: array
      orderStandardBag:
        $ref: '#/definitions/OrderStandardBag'
    type: object
  AncillaryFeeType:
    properties:
      code:
        description: 'The code used to represent the ancillary fee type. Can be BG (Baggage), IE (in-flight entertainment), ML (Meals), SA (Seats), UN (Unaccompanied Passenger).'
        example: BG
        type: string
      details:
        description: A text description of the ancillary fee's details.
        items:
          $ref: '#/definitions/AncillaryFeeDetailsType'
        type: array
      message:
        description: The text information of the message.
        example: AIR EXTRAS NOT APPLICABLE OR ARE UNKNOWN
        type: string
      name:
        description: The name of the ancillary fee.
        example: IN-FLIGHT ENTERTAINMENT
        type: string
    required:
      - code
      - name
    type: object
  Arrival:
    properties:
      airport:
        description: The airport in which the journey will end.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      city:
        description: The city in which the journey will end.
        example: KRK
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      country:
        description: The country in which the journey will end.
        example: US
        pattern: '[A-Z]{2}'
        type: string
      dateAdjustment:
        description: 'The change in the timezones between the origin and destination locations, if applicable, in hours.'
        example: 2
        type: integer
      state:
        description: The state or province in which the journey will end.
        example: CA
        maxLength: 2
        minLength: 2
        pattern: '[A-Z]{2}'
        type: string
      terminal:
        description: The name of the departure terminal.
        example: A
        type: string
      time:
        description: 'The time of the journeys end, i.e. when the traveler will arrive at their end destination.'
        example: '20:30'
        type: string
    required:
      - airport
      - time
    type: object
  BaggageAllowanceType:
    properties:
      description1:
        description: The first line of the description of the baggage's allowance type.
        example: You have up to 20 kg of baggage allowed.
        type: string
      description2:
        description: The second line of the description of the baggage's allowance type.
        example: Baggage above 20 kg will incur penalties.
        type: string
      id:
        description: The unique ID that represents the baggage's allowance type.
        example: 1
        type: integer
      pieceCount:
        description: The total amount of baggage pieces allowed on the journey.
        example: 2
        type: integer
      unit:
        description: The unit of measurement used for the baggage type.
        example: kg
        pattern: (lbs)|(kg)
        type: string
      weight:
        description: the total allowed weight of the baggages.
        example: 30
        type: integer
    required:
      - id
    type: object
  BaggageChargeType:
    properties:
      description1:
        description: The first line of the charge type's description.
        example: This charge is airport only.
        type: string
      description2:
        description: The second line of the charge type's description.
        example: It applies only to additional baggage items.
        type: string
      equivalentAmount:
        description: The equivalent amount of the charge.
        example: 200
        type: number
      equivalentCurrency:
        description: The currency in which the charge is applied.
        example: USD
        pattern: '[a-zA-Z]{3}'
        type: string
      firstPiece:
        description: The first of the baggage pieces this specific baggage charge applies to.
        example: 1
        type: integer
      id:
        description: The unique ID of the charge type. Baggage Charge ID.
        example: 1
        type: integer
      lastPiece:
        description: The last  of the baggage pieces this specific baggage charge applies to.
        example: 1
        type: integer
      noChargeNotAvailable:
        description: 'This attribute will be returned in the response whenever charges are unavailable when requesting baggage information. The response might contain one of the below possible description. X - service not available. F - no charge for service (free) and an EMD is not issued to reflect the free service. E - no charge for service (free) and an EMD is issued to reflect the free service. G - no charge for service (free), booking is not required and an EMD is not issued to reflect the free service. H - no charge for service (free), booking is not required and an EMD is issued to reflect the free service.'
        example: X
        maxLength: 1
        minLength: 1
        type: string
    required:
      - id
    type: object
  BeverageAmenityType:
    description: Identifies beverage service in a given cabin. These elements are later referenced from FlightAmenities.
    properties:
      alcoholicCost:
        enum:
          - free
          - paid
        description:  Indicates whether there is a charge for alcoholic beverages, possible values; "paid", "free", "free or paid".
        example: paid
        type: string
      exists:
        description: Specifies whether beverages exist on the flight in the cabin, possible values; "yes" or "no".
        example: yes
        type: boolean
      id:
        description: The number of the Beverages return.
        example: 1
        type: integer
      nonAlcoholicCost:
        enum:
          - free
          - paid
        description: Identifies whether there is a charge for non-alcoholic beverages, possible values. Can be paid, free, free or paid.
        example: free
        type: string
    required:
      - id
    type: object
  BaggageInformationType:
    properties:
      airlineCode:
        description: The code used to identify the airline in charge of the baggage.
        example: AA
        pattern: '^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*)|([A-Za-z]{0}).*$'
        type: string
      allowance:
        $ref: '#/definitions/Allowance'
      charge:
        $ref: '#/definitions/Charge'
      provisionType:
        description: Contains baggage information with the following possible values."A"- Check-in Allowance and "C"- Day of Check-in Charges.
        example: A
        pattern: (A)|(C)|(B)|(CC)|(E)|(P)|(EE)|()
        type: string
      segments:
        items:
          $ref: '#/definitions/Segment'
        maxItems: 2147483647
        minItems: 1
        type: array
    required:
      - segments
      - provisionType
      - airlineCode
    type: object
  BaggageSequenceOrder:
    properties:
      baggageRef:
        description: Baggage ID number that follows the current hierarchy in sorting Air Extras.
        example: 1
        type: integer
      standardBag:
        description: Identifies the number of the standard baggages. It can be 1-the first standard bag, 2-the second standard bag.
        example: 1
        type: integer
    required:
      - baggageRef
      - standardBag
    type: object
  BargainFinderMaxRequest:
    example:
      OTA_AirLowFareSearchRQ:
        OriginDestinationInformation:
          - DepartureDateTime: '2026-06-21T00:00:00'
            DestinationLocation:
              LocationCode: LAX
            OriginLocation:
              LocationCode: NYC
            RPH: '0'
          - DepartureDateTime: '2026-06-22T00:00:00'
            DestinationLocation:
              LocationCode: NYC
            OriginLocation:
              LocationCode: LAX
            RPH: '1'
        POS:
          Source:
            - PseudoCityCode: F9CE
              RequestorID:
                CompanyName:
                  Code: TN
                ID: '1'
                Type: '1'
        TPA_Extensions:
          IntelliSellTransaction:
            RequestType:
              Name: 200ITINS
        TravelPreferences:
          TPA_Extensions:
            DataSources:
              ATPCO: Enable
              LCC: Disable
              NDC: Disable
            NumTrips: {}
        TravelerInfoSummary:
          AirTravelerAvail:
            - PassengerTypeQuantity:
                - Code: ADT
                  Quantity: 1
          SeatsRequested:
            - 1
        Version: '3'
    properties:
      OTA_AirLowFareSearchRQ:
        additionalProperties: false
        description: 'The Low Fare Search Request message requests priced itinerary options for flights between specific city pairs on specific dates for specific numbers and types of passengers. Optional request information can include: - Time / Time Window - Connecting cities. - Client Preferences (airlines, cabin, flight types etc.) The Low Fare Search request contains similar information to a Low Fare Search entry on an airline CRS or GDS.'
        properties:
          AltLangID:
            description: The unique ID of the alternate language.
            example: en-us
            type: string
          AvailableFlightsOnly:
            description: 'If true, only flights with available booking codes will be included.'
            example: true
            type: boolean
          DirectFlightsOnly:
            description: 'If true, a request will be made for direct flights between given locations. This defaults to false.'
            example: false
            type: boolean
          EchoToken:
            description: 'A sequence number for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.'
            example: 'ase032lpscilyxf.idm.sgdccert.sabre.com:27037 2024-03-10T02:34:20 1429671'
            type: string
          MaxResponses:
            description: A positive integer value that indicates the maximum number of responses desired in the return.
            example: three.
            type: string
          OriginDestinationInformation:
            items:
              $ref: '#/definitions/org.opentravel.ota._2003._05.OTAAirLowFareSearchRQ.OriginDestinationInformation'
            type: array
          POS:
            $ref: '#/definitions/org.opentravel.ota._2003._05.POSType'
          PrimaryLangID:
            description: Identifes the primary language preference for the form of travel represented in a collection. The language is identified by an ISO 639-3 code.
            example: eng
            type: string
          ResponseType:
            description: The type of the response given back to the caller.
            example: GIR
            type: string
          ResponseVersion:
            description: The version number of the response.
            example: v3
            type: string
          SeparateMessages:
            description: 'If true, all messages should be printed in a separate MTP element. This only works with PSS response serializers.'
            example: true
            type: boolean
          SequenceNmbr:
            description: Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been offline and needs to retrieve messages that were missed.
            example: '1'
            type: string
          TPA_Extensions:
            $ref: '#/definitions/org.opentravel.ota._2003._05.OTAAirLowFareSearchRQ.TPAExtensions'
          Target:
            description: Used to indicate whether the request is for the Test or Production system.
            example: Test
            type: string
          TimeStamp:
            description: 'Indicates the creation date and time of the message in UTC using the following format specified by ISO 8601; YYYY-MM-DDThh:mm:ssZ with time values using the 24 hour clock (e.g. 20 November 2024, 1:59:38 pm UTC becomes 2024-11-20T13:59:38Z).'
            example: '2024-11-20T13:59:38Z'
            type: string
          TransactionIdentifier:
            description: A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).
            example: ad1b91b3-91e0-4854-8788-fa795354
            type: string
          TransactionStatusCode:
            description: |-
              This indicates where this message falls within a sequence of messages. Start - First message within a transaction. End - Last message within a transaction. Rollback - Indicates that all messages within the current transaction must be ignored. InSeries - Any message that is not the first or last message within a transaction.
            example: Start
            type: string
          TravelPreferences:
            $ref: '#/definitions/org.opentravel.ota._2003._05.AirSearchPrefsType'
          TravelerInfoSummary:
            $ref: '#/definitions/org.opentravel.ota._2003._05.TravelerInfoSummaryType'
          TruncateMessages:
            description: 'If true, each MTP content should be truncated to specified length. This only works with PSS response serializers.'
            example: true
            type: boolean
          Version:
            description: The version of the content.
            example: v3
            type: string
        type: object
    title: org.opentravel.ota._2003._05.OTAAirLowFareSearchRQ
    type: object
  BrandFeatureIDType:
    properties:
      ref:
        description: A number that is used as a reference for BrandFeature ID.
        example: 3
        type: integer
      serviceId:
        description: The unique ID of a service within the context of one message. A service is a feature/service included in a given flight.
        example: db857d657cb7kdz4rk7aeur020-1-1-1
        type: string
    required:
      - ref
    type: object
  BrandFeatureType:
    properties:
      application:
        description: 'Indicates if the service is free (F), not offered (N), chargeable (C), or displayed but not offered (D).'
        example: free
        maxLength: 1
        minLength: 1
        type: string
      commercialName:
        description: Textual description of the service within the brand.
        example: CHECKED BAG SECOND
        type: string
      id:
        description: the unique ID of the Brand Feature.
        example: 210
        type: integer
      serviceGroup:
        description: The code used to specify the group of ancilliaries of the service.
        example: BG
        pattern: '[A-Z0-9]{2}'
        type: string
      serviceType:
        description: 'Service possible codes. Z- Branded Fares, F-Flight related, T- ticket related ancillary, A- Allowance, P- Prepaid.'
        example: T
        maxLength: 1
        minLength: 1
        type: string
      subCode:
        description: Three-character alphanumeric code that is filed in the S5 record. This can be an industry sub-code or a carrier defined sub-code.
        example: 0EN
        pattern: '[A-Z0-9]{3}'
        type: string
      vendor:
        description: 'The code used to represent the vendor, or the data provider from where it was taking the information.'
        example: ATP
        type: string
    required:
      - id
      - application
      - serviceType
      - serviceGroup
      - subCode
      - vendor
      - commercialName
    type: object
  BrandType:
    properties:
      brandName:
        description: The name of the brand.
        example: American Airlines
        type: string
      code:
        description: The two-character code for the brand.
        example: AA
        type: string
      programCode:
        description: The code of the Brand program that is returned from the branding service.
        example: DOMBE
        type: string
      programDescription:
        description: The description of the program. A program is a set of fare brands with a point of sale and origin and destination that is designed to be marketed with services desirable to customers.
        example: BT FARES
        type: string
      programId:
        description: The unique ID assigned by the system.
        example: AAA
        type: string
      programSystemCode:
        description: Program code assigned by the system.
        example: A
        type: string
    required:
      - code
    type: object
  Cached:
    properties:
      hoursSinceCreation:
        description: The amount of hours passed since the option was created and stored in the cache (in hours).
        example: 2
        type: integer
      ref:
        description: The reference for the ID of the Cache source description.
        example: 1
        type: integer
      timeToLive:
        description: 'The time to live in the cache, specified in seconds.'
        example: 900
        type: integer
    required:
      - ref
    type: object
  Carrier:
    properties:
      alliances:
        description: Only these alliances will be considered.
        example: Star Alliance
        type: string
      basicBookingRequest:
        description: 'If true, the booking request is basic for this carrier.'
        example: true
        type: boolean
      callDirect:
        description: 'If true, the carrier will be called directly.'
        example: false
        type: boolean
      codeShared:
        description: The code of the shared carrier.
        example: AA
        type: string
      disclosure:
        description: The disclosure agreement of the carrier.
        example: VS
        pattern: '^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$'
        type: string
      equipment:
        $ref: '#/definitions/Equipment'
      marketing:
        description: The marketing code of the carrier.
        example: AA
        pattern: '^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$'
        type: string
      marketingFlightNumber:
        description: Marketing flight number.
        example: 557
        type: integer
      operating:
        description: The name of the operating carrier.
        example: American Airlines
        pattern: '^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$'
        type: string
      operatingFlightNumber:
        description: The number of the operating flight.
        example: 665
        type: integer
    required:
      - marketing
      - marketingFlightNumber
    type: object
  Cat16TextOnly:
    properties:
      fareBasisCode:
        description: The fare basis code for the price for this passenger type code (PTC).
        example: ONLN3C
        maxLength: 15
        minLength: 1
        pattern: '[A-Z0-9]+(\/[A-Z0-9]+)?'
        type: string
      fareComponentId:
        description: The unique ID of the fare component. Category 16 contains text only.
        example: 1
        type: integer
    required:
      - fareBasisCode
      - fareComponentId
    type: object
  ChangeFeeType:
    properties:
      amount:
        description: The total amount of the changed fee.
        example: 100
        type: number
      currency:
        description: The currency of the changed fee.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      highest:
        description: Highest change fee indicator.
        example: false
        type: boolean
      notApplicable:
        description: 'If true, the changed fee is not applicable.'
        example: true
        type: boolean
      waived:
        description: 'If true, the changed fee has been waived.'
        example: false
        type: boolean
    required:
      - amount
      - currency
    type: object
  Charge:
    properties:
      ref:
        description: The reference ID for the baggage charge.
        example: 1
        type: integer
    required:
      - ref
    type: object
  Country:
    properties:
      code:
        description: The two-letter IATA code of the country.
        example: US
        pattern: '[A-Z]{2}'
        type: string
    required:
      - code
    type: object
  CurrencyConversionType:
    properties:
      exchangeRate:
        description: The exchange rate of the currency.
        example: 2
        type: number
      exchangeRateUsed:
        description: The Exchange rate used in the currency conversion.
        example: 2
        type: number
      from:
        description: The name of the currency the conversion is from.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      overriden:
        description: 'If true, the conversion is overridden.'
        example: true
        type: boolean
      to:
        description: The name of the currency the conversion is for.
        example: GBP
        pattern: '[A-Z]{3}'
        type: string
    type: object
  Departure:
    properties:
      airport:
        description: The three-letter code of the departure airport.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      city:
        description: The three-letter code of the departure city.
        example: KRK
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      country:
        description: The three-letter code of the departure country.
        example: USA
        pattern: '[A-Z]{2}'
        type: string
      state:
        description: The two-letter code of the departure state.
        example: NY
        maxLength: 2
        minLength: 2
        pattern: '[A-Z]{2}'
        type: string
      terminal:
        description: The name of the departure terminal.
        example: A
        type: string
      time:
        description: The time of the departure.
        example: '12:40:00+04:00'
        type: string
    required:
      - airport
      - time
    type: object
  EntertainmentAmenityType:
    description: This describes best available entertainment in a given cabin. These alements are later referenced from FlightAmenities.
    properties:
      cost:
        enum:
          - free
          - paid
        description: Indicates whether there is a charge for entertainment. It can be free or paid.
        example: paid
        type: string
      exists:
        description: Indicates whether entertainment is available on the flight in the cabin. It can be "yes" or "no".
        example: yes
        type: boolean
      id:
        description: The number of Entertainment returned.
        example: 1
        type: integer
      type:
        pattern: (none)|(livetv)|(loop)|(on-demand)|(overhead)|(seatback)|(pre-download)|(streaming)|(tablet)
        description: Indicates the best entertainment type available. It can be livetv, loop, none, on-demand, overhead, pre-download, pre-download seatback, streaming, tablet.
        example: tablet
        type: string
    required:
      - id
    type: object
  Equipment:
    properties:
      change:
        description: 'If true, there is a change of equipment.'
        example: true
        type: boolean
      code:
        description: The equipment code.
        example: ABCD
        pattern: '[0-9A-Z]{1,4}'
        type: string
      typeForFirstLeg:
        description: The type of the equipment for the first leg.
        example: B
        maxLength: 1
        minLength: 1
        type: string
      typeForLastLeg:
        description: The type of the equipment for the last leg.
        example: B
        maxLength: 1
        minLength: 1
        type: string
    type: object
  FareComponentBreakdownType:
    properties:
      contractId:
        description: The unique ID of the commission contract.
        example: 57895904
        type: integer
      fareComponentCommission:
        description: The amount of the commission per fare component.
        example: 300
        type: number
      fareComponentReferenceId:
        description: The unique reference ID of the fare component.
        example: 1
        type: integer
      programId:
        description: Program ID number identifier
        example: 429496729A
        type: string
      ruleId:
        description: The unique ID of the commission's rule.
        example: 4294967295
        type: integer
    type: object
  FareComponentIDType:
    properties:
      brandFeatures:
        items:
          $ref: '#/definitions/BrandFeatureIDType'
        type: array
      ref:
        description: The reference to the unique ID of FareComponentDesc.
        example: 2
        type: integer
      segments:
        description: This contains additional data about the segments.
        items:
          $ref: '#/definitions/FareComponentSegmentsType'
        maxItems: 2147483647
        minItems: 1
        type: array
      taxSummaries:
        description: Information about the tax summary.
        items:
          $ref: '#/definitions/TaxSummaryIDType'
        type: array
      taxes:
        items:
          $ref: '#/definitions/TaxIDType'
        type: array
      totalFare:
        $ref: '#/definitions/TotalFareType'
    required:
      - segments
      - ref
    type: object
  FareComponentSegmentsType:
    properties:
      segment:
        $ref: '#/definitions/SegmentType'
      surface:
        type: object
    type: object
  FareComponentType:
    properties:
      applicablePricingCategories:
        description: The pricing categories that are applicable to the fare.
        example: '31'
        pattern: '[0-9]{1,2}( [0-9]{1,2})*'
        type: string
      aslRetailerRuleCode:
        description: Matched agency adjusted selling level retailer rule code.
        example: MBRKERRQ
        pattern: '[0-9A-Za-z]{2,20}'
        type: string
      brand:
        $ref: '#/definitions/BrandType'
      corporateIdMatched:
        description: 'IF true, the corporate ID is matched.'
        example: true
        type: boolean
      direction:
        description: Global Direction indicator.
        enum:
          - AF
          - AL
          - AP
          - AT
          - CA
          - CT
          - DI
          - DO
          - DU
          - EH
          - EM
          - EU
          - FE
          - IN
          - ME
          - NA
          - NP
          - PA
          - PE
          - PN
          - PO
          - PV
          - RU
          - RW
          - SA
          - SN
          - SP
          - TB
          - TS
          - TT
          - US
          - WH
          - XX
        example: SN
        type: string
      directionality:
        description: The directionality of the fare calculation, meaning whether the fare is to or from a location.
        example: TO
        pattern: (FROM)|(TO)
        type: string
      fareAmount:
        description: The total amount of the fare.
        example: 50
        type: number
      fareBasisCode:
        description: The code for the fare's basis.
        example: XLEE5M3
        type: string
      fareComponentReferenceId:
        description: The reference ID for the fare component.
        example: 1
        type: integer
      fareCurrency:
        description: The currency type of the fare.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      farePassengerType:
        description: The passenger type of the fare.
        example: ADT
        maxLength: 7
        minLength: 1
        type: string
      fareRule:
        description: 'A code specifying the specific fare rule used, part of fare pricing, should be present if the carrier uses it in ancillaries records.'
        example: 62DD
        type: string
      fareTariff:
        description: 'The number used to represent the fare tariff type, part of fare pricing, should be present if the carrier uses it in ancillaries records.'
        example: '21'
        type: string
      fareType:
        description: 'The code used to represent the fare type, part of fare pricing, should be present if the carrier uses it in ancillaries records.'
        example: RU
        type: string
      fareTypeBitmap:
        description: 'Fare type bitmap, part of fare pricing, should be present if the carrier uses it in ancillaries records.'
        example: 4A
        pattern: '[0][A-F0-9]'
        type: string
      generalRetailerRuleCode:
        description: The code representing the general retailer's rule.
        example: MBRKERRQNET
        pattern: '[0-9A-Za-z]{2,20}'
        type: string
      governingCarrier:
        description: The name of the governing carrier.
        example: American Airlines
        pattern: '^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$'
        type: string
      handlingMarkupDetails:
        items:
          $ref: '#/definitions/HandlingMarkupDetailType'
        type: array
      higherIntermediatePoints:
        items:
          $ref: '#/definitions/HigherIntermediatePointType'
        type: array
      id:
        description: The unique ID of the fare component type.
        example: 1
        type: integer
      matchedAccountCode:
        description: The code of the matched account of the fare component type.
        example: ABC01
        maxLength: 20
        minLength: 1
        type: string
      mileage:
        description: Indicates the routing mileage.
        example: true
        type: boolean
      mileageSurcharge:
        description: The total surcharge amount of the mileage.
        example: 300
        type: integer
      milesAmount:
        description: The total amount of miles for the fare.
        example: 2000
        type: integer
      negotiatedFare:
        description: 'If true, the fare is negotiated.'
        example: true
        type: boolean
      notValidAfter:
        description: The date after which the fare is not valid.
        example: '2024-04-26T00:00:00.000Z'
        type: string
      notValidBefore:
        description: The date before which the fare is not valid.
        example: '2024-04-30T00:00:00.000Z'
        type: string
      oneWayFare:
        description: 'If true, the fare is a one way trip.'
        example: true
        type: boolean
      plusUps:
        items:
          $ref: '#/definitions/PlusUpInformationType'
        type: array
      privateFare:
        description: 'If true, the fare is a private fare.'
        example: true
        type: boolean
      publishedFareAmount:
        description: The total sum of the published fare.
        example: 200
        type: number
      segments:
        items:
          $ref: '#/definitions/SegmentsType'
        maxItems: 2147483647
        minItems: 1
        type: array
      vendorCode:
        description: The code of the ticket's vendor.
        example: AA
        maxLength: 4
        minLength: 1
        type: string
      webBasedFare:
        description: 'If true, the fare is a web based one.'
        example: true
        type: boolean
    required:
      - segments
      - id
      - fareAmount
      - fareCurrency
      - fareBasisCode
      - farePassengerType
    type: object
  FareMessageType:
    properties:
      carrier:
        description: The name of the fares carrier.
        example: American Airlines
        pattern: '^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*).*$'
        type: string
      code:
        description: The code used to represent the type of the fare message.
        example: 0
        type: string
      info:
        description: Text information about the fare message's type.
        example: VALID ON DY/D8/DI NONREF
        type: string
      type:
        description: The type of the fare message.
        example: D
        type: string
    required:
      - type
      - code
    type: object
  FareSegmentType:
    properties:
      extraMileageAllowance:
        description: 'If true, the fare segment has an allowance for extra mileage.'
        example: true
        type: boolean
      sideTrip:
        $ref: '#/definitions/SideTrip'
      stopover:
        description: 'If true, the fare segment is a stopover.'
        example: true
        type: boolean
      stopoverCharge:
        description: The amount of the charge for the stopover.
        example: 200
        type: number
      stopoverChargeCurrency:
        description: The currency used for the stopover charge.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      surcharges:
        items:
          $ref: '#/definitions/SurchargeType'
        type: array
      transferCharge:
        description: 'The charge, if there is one, for a transfer in the fare.'
        example: 100
        type: number
    type: object
  FareType:
    properties:
      ancillaryFeeGroup:
        $ref: '#/definitions/AncillaryFeeGroupType'
      divideByParty:
        description: If true, the fare type is divided by party.
        example: false
        type: boolean
      eTicketable:
        description: If true, this fare type can be used with an eTicket.
        example: false
        type: boolean
      governingCarriers:
        description: The names of the governing carriers for the fare.
        example: American Airlines
        type: string
      lastTicketDate:
        description: The date specified on the last ticket.
        example: '2024-10-12T00:00:00.000Z'
        type: string
      lastTicketTime:
        description: Attribute added at the fare level, specifies deadline to purchase the ticket for this fare.
        example: '10:28'
        pattern: ([0-1][0-9]|2[0-3]):[0-5][0-9]
        type: string
      offerItemId:
        description: The unique ID of the item on offer.
        example: do3385fr4jsvz1el50-2-1
        type: string
      passengerInfoList:
        items:
          $ref: '#/definitions/PassengerInfoListElementType'
        maxItems: 2147483647
        minItems: 1
        type: array
      reissue:
        description: 'If true, the item can be reissued.'
        example: true
        type: boolean
      serviceId:
        description: The unique ID of the service in question.
        example: do3385fr4jsvz1el50-2-1-1
        type: string
      simultaneousReservation:
        description: If true, the reservation can happen simultaneously.
        example: false
        type: boolean
      spanishFamilyDiscount:
        description: Spanish discount indicator. Valid values are A - Spanish Large Family discount only. B - Spanish Large Family discount + Spanish Islander discount. C - Spanish Islander discount only.
        example: A
        pattern: (A)|(B)|(C)
        type: string
      totalFare:
        $ref: '#/definitions/TotalFareType'
      validatingCarrierCode:
        description: The unique code used to identify the validating carrier of the journey.
        example: AA
        pattern: '^([A-Z][A-Z0-9]{1})|([A-Z0-9][A-Z][A-Z0-9]?)|(\*\*)|([A-Za-z]{0}).*$'
        type: string
      validatingCarriers:
        items:
          $ref: '#/definitions/ValidatingCarrierIDType'
        description: Validating Carrier information.
        type: array
      vita:
        description: If true, the itinerary has a Validate Interline Ticketing Agreement (VITA).
        example: true
        type: boolean
    required:
      - passengerInfoList
    type: object
  FlightAmenities:
    description: List of references to flight amenities.
    properties:
      beverageRef:
        description: Reference ID to beverage amenity item.
        example: 1
        type: integer
      entertainmentRef:
        description: Reference ID to entertainment amenity item.
        example: 2
        type: integer
      foodRef:
        description: Reference ID to food amenity item.
        example: 3
        type: integer
      layoutRef:
        description: Reference ID to layout amenity item.
        example: 4
        type: integer
      powerRef:
        description: Reference ID to power amenity item.
        example: 5
        type: integer
      seatRef:
        description: Reference ID to seat amenity item.
        example: 6
        type: integer
      subsegment:
        description: The one based on the number of the flights "Subsegment" the referred amenity applies to. "Subsegment" is a portion of the flight separated by a hidden stop. This attribute is omitted for flights without hidden stops.
        example: 1
        type: integer
      wifiRef:
        description: Reference ID to wifi amenity item.
        example: 7
        type: integer
    type: object
  FlightAmenitiesListType:
    description: List of all Flight Amenities of different types that are available on any of the returned flights. They are later referenced from other elements.
    properties:
      beverage:
        items:
          $ref: '#/definitions/BeverageAmenityType'
        type: array
      entertainment:
        items:
          $ref: '#/definitions/EntertainmentAmenityType'
        type: array
      food:
        items:
          $ref: '#/definitions/FoodAmenityType'
        type: array
      layout:
        items:
          $ref: '#/definitions/LayoutAmenityType'
        type: array
      power:
        items:
          $ref: '#/definitions/PowerAmenityType'
        type: array
      seat:
        items:
          $ref: '#/definitions/SeatAmenityType'
        type: array
      wifi:
        items:
          $ref: '#/definitions/WifiAmenityType'
        type: array
    type: object
  FoodAmenityType:
    description: Contains the dominating row layout in a given cabin. These elements are later referenced from FlightAmenities.
    properties:
      cost:
        enum:
          - free
          - paid
        description: Indicates whether there is a charge for entertainment. It can be free, paid, free or paid.
        example: free
        type: string
      exists:
        description: Indicates whether Food exists on the flight in the cabin. It can be "yes" or "no".
        example: yes
        type: boolean
      id:
        description: The number of the food returned.
        example: 2
        type: integer
      type:
        pattern: (light meal)|(meal)|(premium meal)|(snack)|(premium snack)
        description: Indicates the type of food available. It can be light meal, meal, premium meal, snack, premium snack.
        example: meal
        type: string
    required:
      - id
    type: object

  GroupDescription:
    properties:
      itineraryType:
        description: 'The type of the itinerary available. This attribute can name one of the following types: branded, oneWay, soldOut, legMissed'
        example: oneWay
        type: string
      legDescriptions:
        items:
          $ref: '#/definitions/LegDescriptionType'
        maxItems: 2147483647
        minItems: 1
        type: array
    required:
      - legDescriptions
    type: object
  GroupedItineraryResponse:
    additionalProperties: false
    properties:
      groupedItineraryResponse:
        example:
          groupedItineraryResponse:
            fareComponentDescs:
              - applicablePricingCategories: 2 4 5 6 7 8 10 11 12 15 16 18
                direction: WH
                directionality: FROM
                fareAmount: 171.16
                fareBasisCode: N0AHZSB1
                fareCurrency: USD
                farePassengerType: ADT
                governingCarrier: AA
                id: 1
                notValidAfter: '2024-06-22'
                notValidBefore: '2024-06-22'
                oneWayFare: true
                publishedFareAmount: 171.16
                segments:
                  - segment:
                      stopover: true
                vendorCode: ATP
              - applicablePricingCategories: 2 4 5 6 7 8 10 11 12 15 16 18
                direction: WH
                directionality: FROM
                fareAmount: 171.16
                fareBasisCode: N0AHZSB5
                fareCurrency: USD
                farePassengerType: ADT
                governingCarrier: AA
                id: 2
                notValidAfter: '2024-06-23'
                notValidBefore: '2024-06-23'
                oneWayFare: true
                publishedFareAmount: 171.16
                segments:
                  - segment: {}
                  - segment: {}
                vendorCode: ATP
            itineraryGroups:
              - groupDescription:
                  legDescriptions:
                    - arrivalLocation: LAX
                      departureDate: '2026-06-22'
                      departureLocation: JFK
                    - arrivalLocation: LGA
                      departureDate: '2026-06-23'
                      departureLocation: LAX
                itineraries:
                  - id: 1
                    legs:
                      - ref: 1
                      - ref: 2
                    pricingInformation:
                      - fare:
                          eTicketable: true
                          governingCarriers: AA AA
                          offerItemId: do26pq4jwjsfv46u20-1-1
                          passengerInfoList:
                            - passengerInfo:
                                currencyConversion:
                                  exchangeRateUsed: 110.80692755
                                  from: USD
                                  to: JPY
                                fareComponents:
                                  - ref: 1
                                    segments:
                                      - segment:
                                          availabilityBreak: true
                                          bookingCode: B
                                          cabinCode: 'Y'
                                          mealCode: S
                                          seatsAvailable: 9
                                  - ref: 2
                                    segments:
                                      - segment:
                                          bookingCode: B
                                          cabinCode: 'Y'
                                          mealCode: L
                                          seatsAvailable: 9
                                      - segment:
                                          availabilityBreak: true
                                          bookingCode: B
                                          cabinCode: 'Y'
                                          seatsAvailable: 9
                                fareMessages:
                                  - carrier: AA
                                    code: '0'
                                    info: NONREF/NOCHG/BESH/NOSEAT
                                    type: 'N'
                                  - code: '0'
                                    info: VALIDATING CARRIER - AA
                                    type: W
                                nonRefundable: true
                                passengerNumber: 1
                                passengerTotalFare:
                                  baseFareAmount: 342.32
                                  baseFareCurrency: USD
                                  commissionAmount: 0
                                  commissionPercentage: 0
                                  constructionAmount: 342.32
                                  constructionCurrency: USD
                                  currency: JPY
                                  equivalentAmount: 38000
                                  equivalentCurrency: JPY
                                  exchangeRateOne: 1
                                  totalFare: 45020
                                  totalTaxAmount: 7020
                                passengerType: ADT
                                taxSummaries:
                                  - ref: 3
                                  - ref: 1
                                  - ref: 4
                                  - ref: 2
                                taxes:
                                  - ref: 4
                                  - ref: 6
                                  - ref: 1
                                  - ref: 7
                                  - ref: 8
                                  - ref: 5
                                  - ref: 3
                                  - ref: 2
                                  - ref: 9
                          serviceId: do26pq4jwjsfv46u20-1-1-1
                          totalFare:
                            baseFareAmount: 342.32
                            baseFareCurrency: USD
                            constructionAmount: 342.32
                            constructionCurrency: USD
                            currency: JPY
                            equivalentAmount: 38000
                            equivalentCurrency: JPY
                            totalPrice: 45020
                            totalTaxAmount: 7020
                          validatingCarrierCode: AA
                          validatingCarriers: []
                          vita: true
                        offer:
                          offerId: do26pq4jwjsfv46u20-1
                          source: ATPCO
                          timeToLive: 900
                        pricingSubsource: MIP
                    pricingSource: ADVJR1
            legDescs:
              - id: 1
                schedules:
                  - ref: 1
              - id: 2
                schedules:
                  - ref: 2
                  - ref: 3
            messages:
              - code: TRANSACTIONID
                severity: Info
                text: '1482130224109631664'
                type: WORKERTHREAD
              - code: TTFHLI700
                severity: Info
                text: '27038'
                type: SERVER
              - code: RULEID
                severity: Info
                text: '65863'
                type: DRE
              - code: RULEID
                severity: Info
                text: '65866'
                type: DEFAULT
            scheduleDescs:
              - arrival:
                  airport: LAX
                  city: LAX
                  country: US
                  dateAdjustment: 1
                  state: CA
                  terminal: '0'
                  time: '00:43:00-08:00'
                carrier:
                  alliances: 'OW '
                  equipment:
                    code: 32B
                    typeForFirstLeg: 'N'
                    typeForLastLeg: 'N'
                  marketing: AA
                  marketingFlightNumber: 185
                  operating: AA
                  operatingFlightNumber: 185
                departure:
                  airport: JFK
                  city: NYC
                  country: US
                  state: NY
                  terminal: '8'
                  time: '21:15:00-05:00'
                dotRating: '6'
                eTicketable: true
                frequency: SMTWTF*
                id: 1
                stopCount: 0
                totalMilesFlown: 2475
              - arrival:
                  airport: IND
                  city: IND
                  country: US
                  state: IN
                  time: '17:08:00-05:00'
                carrier:
                  alliances: 'OW '
                  equipment:
                    code: '319'
                    typeForFirstLeg: 'N'
                    typeForLastLeg: 'N'
                  marketing: AA
                  marketingFlightNumber: 488
                  operating: AA
                  operatingFlightNumber: 488
                departure:
                  airport: LAX
                  city: LAX
                  country: US
                  state: CA
                  terminal: '0'
                  time: '09:50:00-08:00'
                dotRating: '7'
                eTicketable: true
                frequency: SMTWTFS
                id: 2
                stopCount: 0
                totalMilesFlown: 1814
              - arrival:
                  airport: LGA
                  city: NYC
                  country: US
                  state: NY
                  terminal: B
                  time: '20:04:00-05:00'
                carrier:
                  alliances: 'OW '
                  codeShared: ENVOY AIR AS AMERICAN EAGLE
                  equipment:
                    code: ERD
                    typeForFirstLeg: 'N'
                    typeForLastLeg: 'N'
                  marketing: AA
                  marketingFlightNumber: 3836
                  operating: AA
                  operatingFlightNumber: 3836
                departure:
                  airport: IND
                  city: IND
                  country: US
                  state: IN
                  time: '17:59:00-05:00'
                dotRating: '4'
                eTicketable: true
                frequency: SMTWTFS
                id: 3
                stopCount: 0
                totalMilesFlown: 659
            statistics:
              itineraryCount: 1
            taxDescs:
              - amount: 2850
                code: US1
                country: US
                currency: JPY
                description: This is a transportation tax that is wholy domestic within the US and a 225 mile buffer zone.
                id: 1
                publishedAmount: 25.7
                publishedCurrency: USD
                station: JFK
              - amount: 500
                code: XF
                country: US
                currency: JPY
                description: Passenger facility charges.
                id: 2
                publishedAmount: 4.5
                publishedCurrency: USD
                station: LAX
              - amount: 500
                code: XF
                country: US
                currency: JPY
                description: Passenger facility charges.
                id: 3
                publishedAmount: 4.5
                publishedCurrency: USD
                station: JFK
              - amount: 630
                code: AY
                country: US
                currency: JPY
                description: A fee for the passenger civil aviation security service.
                id: 4
                publishedAmount: 5.6
                publishedCurrency: USD
                station: JFK
              - amount: 470
                code: ZP
                country: US
                currency: JPY
                description: FLIGHT SEGMENT TAX DOMESTIC
                id: 5
                publishedAmount: 4.2
                publishedCurrency: USD
                station: IND
              - amount: 630
                code: AY
                country: US
                currency: JPY
                description: A fee for the passenger civil aviation security service.
                id: 6
                publishedAmount: 5.6
                publishedCurrency: USD
                station: LAX
              - amount: 470
                code: ZP
                country: US
                currency: JPY
                description: A domestic tax for this flight segment.
                id: 7
                publishedAmount: 4.2
                publishedCurrency: USD
                station: JFK
              - amount: 470
                code: ZP
                country: US
                currency: JPY
                description: A domestic tax for this flight segment.
                id: 8
                publishedAmount: 4.2
                publishedCurrency: USD
                station: LAX
              - amount: 500
                code: XF
                country: US
                currency: JPY
                description: Charges for the passenger facility.
                id: 9
                publishedAmount: 4.5
                publishedCurrency: USD
                station: IND
            taxSummaryDescs:
              - amount: 1410
                code: ZP
                country: US
                currency: JPY
                description: A domestic tax for this flight segment.
                id: 1
                publishedAmount: 4.2
                publishedCurrency: USD
                station: JFK
              - amount: 1500
                code: XF
                country: US
                currency: JPY
                description: A charge for the passenger facility.
                id: 2
                publishedAmount: 4.5
                publishedCurrency: USD
              - amount: 2850
                code: US1
                country: US
                currency: JPY
                description: A domestic transportation tax wholly within the US and a 225 mile buffer zone.
                id: 3
                publishedAmount: 0.075
                publishedCurrency: USD
                station: JFK
              - amount: 1260
                code: AY
                country: US
                currency: JPY
                description: A fee for the passenger civil aviation security service.
                id: 4
                publishedAmount: 5.6
                publishedCurrency: USD
                station: JFK
            version: v3
        properties:
          baggageAllowanceDescs:
            items:
              $ref: '#/definitions/BaggageAllowanceType'
            type: array
          baggageChargeDescs:
            items:
              $ref: '#/definitions/BaggageChargeType'
            type: array

          flightAmenities:
            $ref: '#/definitions/FlightAmenitiesListType'
          obFeeDescs:
            items:
              $ref: '#/definitions/OBFeeType'
            type: array
          brandFeatureDescs:
            items:
              $ref: '#/definitions/BrandFeatureType'
            type: array
          fareComponentDescs:
            items:
              $ref: '#/definitions/FareComponentType'
            type: array
          itineraryGroups:
            items:
              $ref: '#/definitions/ItineraryGroupType'
            type: array
          legDescs:
            items:
              $ref: '#/definitions/LegType'
            type: array
          messages:
            items:
              $ref: '#/definitions/MessageType'
            maxItems: 2147483647
            minItems: 1
            type: array
          scheduleDescs:
            items:
              $ref: '#/definitions/ScheduleDescType'
            type: array
          scheduleMessages:
            items:
              $ref: '#/definitions/ScheduleMessageType'
            type: array
          statistics:
            $ref: '#/definitions/StatisticsType'
          taxDescs:
            items:
              $ref: '#/definitions/TaxType'
            type: array
          taxSummaryDescs:
            items:
              $ref: '#/definitions/TaxSummaryType'
            type: array
          validatingCarrierDescs:
            items:
              $ref: '#/definitions/ValidatingCarrierType'
            type: array
          version:
            description: The version number of the schema.
            example: v3
            type: string
        required:
          - messages
          - version
        type: object
    required:
      - groupedItineraryResponse
    title: Grouped Itinerary Response
    type: object
  HandlingMarkupDetailType:
    properties:
      amountCurrency:
        description: The currency of the amount of the markup.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      fareAmountAfterMarkup:
        description: The total sum of the fare after the markup is applied.
        example: 30
        type: number
      markupAmount:
        description: The sum of the markup.
        example: 30
        type: number
      markupHandlingFeeAppId:
        description: The unique ID of the application of the markup handling fee.
        example: ABCD
        type: string
      markupRuleItemNumber:
        description: Markup Rule Item Number.
        example: 1
        type: integer
      markupRuleSourcePcc:
        description: The source Pseudo City Code of the markup's rule.
        example: KRK
        maxLength: 4
        minLength: 3
        pattern: '[A-Z0-9]+'
        type: string
  HandlingMarkupType:
    properties:
      amount:
        description: The total sum of the markup fee.
        example: 30
        type: number
      description:
        description: The description of the handling markup's type.
        example: string
        type: string
      type:
        description: 'Message type with the following possible values; D "Display"; W "Warning"; N "Endorsement"; R "Restriction"; E "Error"; I "Info"; X - Diagnostics.'
        example: B
        maxLength: 1
        minLength: 1
        pattern: '[A-Za-z]{1}'
        type: string
    required:
      - type
      - description
      - amount
    type: object
  HiddenStopType:
    properties:
      airMiles:
        description: The distance in air miles for this stop.
        example: 800
        type: integer
      airport:
        description: The airport of origin of this stop.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      arrivalDateAdjustment:
        description: 'The adjustment, in 2024-05-26 format, for the arrival date.'
        example: 2
        type: integer
      arrivalTime:
        description: The time of arrival.
        example: '09:30:47+05:00'
        type: string
      city:
        description: The city of origin for this stop.
        example: KRK
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      country:
        description: The country of origin for this stop.
        example: US
        pattern: '[A-Z]{2}'
        type: string
      departureDateAdjustment:
        description: 'The adjustment, in 2024-05-26, for the departure date.'
        example: 2
        type: integer
      departureTime:
        description: The time of the departure from the stop.
        example: '09:30:47+05:00'
        type: string
      elapsedLayoverTime:
        description: Elapsed layover time in minutes
        example: 20
        type: integer
      elapsedTime:
        description: Elapsed time in minutes.
        example: 1
        type: integer
      equipment:
        description: Equipement type for intermediate point.
        example: 73G
        pattern: '[0-9A-Z]{1,4}'
        type: string
      state:
        description: The state of origin for the hidden stop.
        example: TX
        maxLength: 2
        minLength: 2
        pattern: '[A-Z]{2}'
        type: string
    required:
      - airport
    type: object
  HigherIntermediatePointType:
    properties:
      amount:
        description: The higher Intermediate Point differential information.
        example: 140.84
        type: number
      cabinHigh:
        description: The cabin High Intermediate Point.
        example: D
        maxLength: 1
        minLength: 1
        type: string
      cabinLow:
        description: The cabin Low Intermediate Point.
        example: 'Y'
        maxLength: 1
        minLength: 1
        type: string
      destination:
        description: The destination of the traveler's journey.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      fareClassHigh:
        description: The high point of the fare class.
        example: DV3K
        maxLength: 15
        minLength: 1
        pattern: '[A-Z0-9]+(\/[A-Z0-9]+)?'
        type: string
      fareClassLow:
        description: The low point of the fare class.
        example: BV2K
        maxLength: 15
        minLength: 1
        pattern: '[A-Z0-9]+(\/[A-Z0-9]+)?'
        type: string
      highDestination:
        description: The destination city of the high destination.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      highOrigin:
        description: The origin city of the high origin.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      lowDestination:
        description: The destination city of the low destination.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      lowOrigin:
        description: the origin city of the low origin.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      mileageSurchargePercentage:
        description: The fuel surcharge percentage refers to the markup that Air Lines place on invoices to cover the fuel costs for the routing.
        example: 1
        type: integer
      origin:
        description: 'The origin location of the journey, i.e. where it began.'
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
    type: object
  IETCountryWOBSP:
    properties:
      country:
        items:
          $ref: '#/definitions/Country'
        type: array
    type: object
  ItineraryGroupType:
    properties:
      groupDescription:
        $ref: '#/definitions/GroupDescription'
      itineraries:
        items:
          $ref: '#/definitions/ItineraryType'
        type: array
      processingMessages:
        items:
          $ref: '#/definitions/ProcessingMessageType'
        type: array
    required:
      - groupDescription
    type: object
  ItineraryType:
    properties:
      currentItinerary:
        description: If true, this is the current itinerary type in use.
        example: true
        type: boolean
      id:
        description: The unique ID of the itinerary type, asequence number.
        example: 2
        type: integer
      legs:
        items:
          $ref: '#/definitions/LegIDType'
        type: array
      pricingInformation:
        items:
          $ref: '#/definitions/PricingInformationType'
        type: array
      pricingSource:
        description: The source of the pricing offer.
        example: ADVJR1
        type: string
      routingItinerary:
        description: 'If true, this is a routing itinerary.'
        example: true
        type: boolean
    required:
      - id
      - pricingSource
    type: object
  LayoutAmenityType:
    description: This describes the dominating row layout in a given cabin. These alements are later referenced from FlightAmenities.
    properties:
      directAisleAccess:
        description: Indicates whether all seats in the configuration offer direct aisle access (only applicable to premium cabins). It can be "yes" or "no".
        example: yes
        type: boolean
      id:
        description: The number of the layout returned.
        example: 1
        type: integer
      rowLayout:
        pattern: (1-1)|(1-1-1)|(1-2)|(1-2-1)|(1-2-2)|(2-0)|(2-1)|(2-1-2)|(2-2)|(2-2-1)|(2-2-2)|(2-3)|(2-3-2)|(2-4-2)|(2-4-3)|(3-2)|(3-3)|(3-3-3)|(3-4-2)|(3-4-3)
        description: Indicates the most prevalent configuration of seats in the cabin for the aircraft sub fleet operated. It can be 1-1, 1-2-1, 2-4-2, etc.
        example: 1-1
        type: string
    required:
      - id
    type: object
  LegDescriptionType:
    properties:
      arrivalLocation:
        description: The location of the leg's arrival.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      departureDate:
        description: The date of the departure for this leg of the journey.
        example: '2024-05-26T00:00:00.000Z'
        type: string
      departureLocation:
        description: The location of the leg's departure.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
    required:
      - departureDate
    type: object
  LegIDType:
    properties:
      departureDate:
        description: The departure date of the journey.
        example: '2024-05-26T00:00:00.000Z'
        type: string
      ref:
        description: The reference nunber for the journey's leg.
        example: 2
        type: integer
    required:
      - ref
    type: object
  LegType:
    properties:
      elapsedTime:
        description: Elapsed leg trip time in minutes.
        example: 45
        type: integer
      id:
        description: The unique ID for the leg type.
        example: 2
        type: integer
      schedules:
        items:
          $ref: '#/definitions/ScheduleType'
        maxItems: 2147483647
        minItems: 1
        type: array
    required:
      - schedules
    type: object
  MessageType:
    properties:
      code:
        description: The unique code used to represent the message.
        example: XZ
        type: string
      numberOfOccurences:
        description: If the message occurs more than once, this value contains the number of times the message is repeated. If no messages are found, or if the message is not repeated then the value is 0.
        example: 3
        type: integer
      severity:
        description: 'Severity level. Valid values are: Info, Warning, Error, Diagnostic, Header.'
        example: Info
        type: string
      text:
        description: A block of text that describes the message type.
        example: This message is a sample one.
        type: string
      type:
        description: The type of the message.
        example: 'Y'
        type: string
      value:
        description: If the message requires a longer text, it is placed here while the text filed contains only description.
        example:  A longer block of text that describes the message type.
        type: string
    type: object
  OBFeeIDType:
    properties:
      ref:
        description: Reference to OBFeeDescID.
        example: 1
        type: integer
    required:
      - ref
    type: object
  OBFeeType:
    properties:
      amount:
        description: OB Fee Amount.
        example: 44.24
        type: number
      currency:
        pattern: '[A-Z]{3}'
        description: OB Fee Currency Code.
        example: AED
        type: string
      id:
        description: OB Fee ID.
        example: 2
        type: integer
      type:
        description: OB Fee sub type code. Ticketing fees (also known by the two-character tax code of OB assigned by IATA) are newly recognized industry fees that are to be collected from a customer. These fees allow a validating/issuing carrier to file an additional fee associated with the purchase of the ticket by a credit card.
        example: FCA
        type: string
    required:
      - id
      - amount
      - currency
    type: object
  Offer:
    properties:
      offerId:
        description: The unique ID of an offer item within the context of one message, and the Offer ID is assigned to an itinerary's price point.
        example: cdjnxalksm0-1
        type: string
      source:
        description: The source of origin for the offer.
        example: ATPCO
        pattern: (ATPCO)|(LCC)|(NDC)
        type: string
      timeToLive:
        description: 'Indicates Time to Live in seconds, how long the offer will be valid in the Offer Store. The time to live for NDC offers is different than for ATPCO.'
        example: 900
        type: integer
    required:
      - offerId
      - timeToLive
      - source
    type: object
  OrderStandardBag:
    properties:
      passengerBags:
        items:
          $ref: '#/definitions/PassengerBags'
        maxItems: 2147483647
        minItems: 1
        type: array
    required:
      - passengerBags
    type: object
  PassengerBags:
    properties:
      baggageSequenceOrders:
        items:
          $ref: '#/definitions/BaggageSequenceOrder'
        maxItems: 2147483647
        minItems: 1
        type: array
      code:
        description: passenger type code related to specific baggage sequence order with applicable hint.
        example: ADT
        pattern: '[A-Z][A-Z0-9]{2}'
        type: string
    required:
      - baggageSequenceOrders
      - code
    type: object
  PassengerInfoListElementType:
    properties:
      passengerInfo:
        $ref: '#/definitions/PassengerInformationType'
      passengerNotAvailableInfo:
        $ref: '#/definitions/PassengerNotAvailableInfoType'
    type: object
  PassengerInformationType:
    properties:
      baggageInformation:
        items:
          $ref: '#/definitions/BaggageInformationType'
        type: array
      currencyConversion:
        $ref: '#/definitions/CurrencyConversionType'
      divide:
        description: 'If true, the passenger fare type is divided by party.'
        example: true
        type: boolean
      fareComponents:
        items:
          $ref: '#/definitions/FareComponentIDType'
        maxItems: 2147483647
        minItems: 1
        type: array
      fareMessages:
        items:
          $ref: '#/definitions/FareMessageType'
        type: array
      nonRefundable:
        description: 'If true, this fee is not refundable.'
        example: true
        type: boolean
      obFees:
        items:
          $ref: '#/definitions/OBFeeIDType'
        type: array
      passengerNumber:
        description: The numerical value used to identify the passenger.
        example: 32
        type: integer
      passengerTotalFare:
        $ref: '#/definitions/PassengerTotalFareType'
      passengerType:
        description: The type the passenger belongs to. It can be ADT - Adult, CNN - Child, MIL - Military.
        example: ADT
        pattern: '[A-Z][A-Z0-9]{2}'
        type: string
      penaltiesInfo:
        $ref: '#/definitions/PenaltiesType'
      plusUps:
        items:
          $ref: '#/definitions/PlusUpInformationType'
        type: array
      reissue:
        $ref: '#/definitions/ReissueType'
      seatSelection:
        type: array
        items:
          "$ref": '#/definitions/SeatSelectionType'
      sellingFareData:
        items:
          $ref: '#/definitions/SellingFareDataType'
        type: array
      stopover:
        description: The number of the breaks (stopovers) in the journey.
        example: 2
        type: integer
      taxSummaries:
        items:
          $ref: '#/definitions/TaxSummaryIDType'
        type: array
      taxes:
        items:
          $ref: '#/definitions/TaxIDType'
        type: array
      total:
        description: The total sum of the fee.
        example: 300
        type: integer
      validatingCarrierCommissionInfo:
        items:
          $ref: '#/definitions/ValidatingCarrierCommissionInfoType'
        maxItems: 23
        minItems: 0
        type: array
    required:
      - fareComponents
      - passengerType
    type: object
  PassengerNotAvailableInfoType:
    properties:
      passengerType:
        description: The type of passenger the passenger belongs to.
        example: Business
        pattern: '[A-Z][A-Z0-9]{2}'
        type: string
      reason:
        description: The reason for the passenger's information not being available.
        example: string
        type: string
    required:
      - passengerType
      - reason
    type: object
  PassengerTotalFareType:
    properties:
      baseFareAmount:
        description: 'The total sum of the base fare, with no additional fees included.'
        example: 2000
        type: number
      baseFareCurrency:
        description: 'The currency in which the base fare, with no additional fees included, is calculated.'
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      cat35CommissionAmount:
        description: The total sum of the cateogry 35 commission.
        example: 120
        type: number
      cat35CommissionPercentage:
        description: The percentage (%) of the total fee that the category 35 commission makes up.
        example: 23
        type: number
      cat35MarkupAmount:
        description: The sum by which the category 35 commission was marked up.
        example: 30
        type: number
      commissionAmount:
        description: The sum of the commission made on the sale.
        example: 11
        type: number
      commissionAmountInEquivalent:
        description: The equivalent of the total commission sum.
        example: 200
        type: number
      commissionPercentage:
        description: The percentage of the total sum that is made up by the commission.
        example: 15
        type: number
      commissionSource:
        description: The source of the commission's origin.
        example: AA
        pattern: '[A-Za-z0-9]'
        type: string
      constructionAmount:
        description: The total sum of the construction.
        example: 50
        type: number
      constructionCurrency:
        description: The currency used in calculating the construction.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      currency:
        description: The currency type used in the sale.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      equivalentAmount:
        description: An amount that is equivalent to the sum of the exchange.
        example: 150
        type: number
      equivalentCurrency:
        description: The currency used in the equivalent amount calculation.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      exchangeRateOne:
        description: The first exchange rate for the fare.
        example: 2
        type: number
      stopoverChargeAmount:
        description: The total sum of the charge for the stopover.
        example: 13
        type: number
      totalFare:
        description: 'The total sum of the fare altogether, with all fees and any other sums included.'
        example: 1339
        type: number
      totalTaxAmount:
        description: The total sum of the tax for the fare.
        example: 301
        type: number
    required:
      - totalFare
      - totalTaxAmount
      - currency
    type: object
  PenaltiesType:
    properties:
      penalties:
        items:
          $ref: '#/definitions/Penalty'
        maxItems: 2147483647
        minItems: 1
        type: array
    required:
      - penalties
    type: object
  Penalty:
    properties:
      amount:
        description: The sum of the penalty.
        example: 20
        type: number
      applicability:
        description: Whether the penalty is applicable before or after the journey is complete.
        example: After
        pattern: (After)|(Before)
        type: string
      cat16Info:
        description: 'If true, the penalty is under category 16.'
        example: true
        type: boolean
      cat16TextOnly:
        items:
          $ref: '#/definitions/Cat16TextOnly'
        type: array
      changeable:
        description: 'If true, the penalty can be changed or modified.'
        example: false
        type: boolean
      conditionsApply:
        description: 'If true, the terms and conditions apply for the penalty.'
        example: true
        type: boolean
      currency:
        description: The currency type for the penalty.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      refundable:
        description: 'If true, the penalty is refundable.'
        example: true
        type: boolean
      type:
        description: The type of the penalty. Can be either a refund or an exchange.
        example: Refund
        pattern: (Refund)|(Exchange)
        type: string
    type: object
  PlusUpInformationType:
    properties:
      amount:
        description: The total sum for the fee.
        example: 20
        type: number
      countryOfPayment:
        description: The country in which the payment is made.
        example: US
        pattern: '[A-Z]{2}'
        type: string
      destination:
        description: The destination airport of the journey.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      fareDestination:
        description: The destination of the fare.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      fareOrigin:
        description: The place in which the fare originated.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      message:
        description: A textual description of the fare.
        example: This fare originated in the US.
        type: string
      origin:
        description: The origin location of the plus up fare.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      viaCity:
        description: The city via which the journey moved through.
        example: KRK
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
    required:
      - amount
      - origin
      - destination
      - message
    type: object
  PowerAmenityType:
    description: This describes electric power access in a given cabin. These elements are later referenced from FlightAmenities.
    properties:
      cost:
        enum:
          - free
          - paid
        description: Indicates whether there is a charge for entertainment. It can be free, paid, free or paid.
        example: free
        type: string
      distribution:
        description: Indicates whether power is provided in some or all rows. It can be "all" or "some".
        example: some
        pattern: (all)|(some)
        type: string
      id:
        description: The number of power returned.
        example: 1
        type: integer
      type:
        pattern: (adapter)|(none)|(power)|(power/usb)|(usb)
        description: Indicates the type of power outlet available. It can be adapter, none, power, power/USB, USB.
        example: adapter
        type: string
    required:
      - id
    type: object
  PricingInformationType:
    properties:
      brand:
        description: The brand name of the brand responsible for the pricing information.
        example: American Airlines
        type: string
      brandsOnAnyMarket:
        description: 'If true, this information applies to any brands in any markets.'
        example: true
        type: boolean
      cached:
        $ref: '#/definitions/Cached'
      fare:
        $ref: '#/definitions/FareType'
      flexibleFare:
        description: '(optional) Attribute, If the fare is an additional flexible fare, this is the fare group ID.'
        example: 2
        type: integer
      offer:
        $ref: '#/definitions/Offer'
      passengerGroup:
        description: The group the passenger falls into.
        example: 2
        type: integer
      pricingSubsource:
        description: '(mandatory) Attribute, value returned by internal Sabre Shopping Service system.'
        example: MIP
        type: string
      program:
        description: The program that the pricing information falls under.
        example: Budget
        type: string
      pseudoCityCode:
        description: The pseudo city code is a GDS code used to identify the location of the travel agency responsible for the journey.
        example: ASMV
        maxLength: 4
        minLength: 3
        pattern: '[A-Z0-9]+'
        type: string
      revalidated:
        description: 'IF true, this has been revalidated.'
        example: true
        type: boolean
      soldOut:
        $ref: '#/definitions/SoldOutType'
      shelfId:
        description: ShelfId is assigned to an itinerary's price point. Classifies a fare to the shelf Id in shelf Definition.
        example: 3
        type: integer
    type: object
  ProcessingMessageType:
    properties:
      pricingSource:
        description: The source or origin of the pricing information.
        example: AA
        type: string
      text:
        description: This messages was delivered from ATPCO source.
        example: Free text dependent on the issuing party.
        type: string
    required:
      - pricingSource
      - text
    type: object
  ReissueType:
    properties:
      changeFees:
        items:
          $ref: '#/definitions/ChangeFeeType'
        type: array
      electronicTicketNotAllowed:
        description: 'If true, an electronic ticket cannot be used for this flight.'
        example: true
        type: boolean
      electronicTicketRequired:
        description: 'If true, an electronic ticket is required and mandatory for this flight.'
        example: false
        type: boolean
      formOfRefund:
        description: The form of the refund.
        example: S
        maxLength: 1
        minLength: 1
        type: string
      residual:
        description: The indicator for the residual of the reissue.
        example: S
        maxLength: 1
        minLength: 1
        type: string
      tag7Result:
        description: 'If true, then reissue Result from tag 7.'
        example: true
        type: boolean
    type: object
  ScheduleDescType:
    properties:
      arrival:
        $ref: '#/definitions/Arrival'
      carrier:
        $ref: '#/definitions/Carrier'
      departure:
        $ref: '#/definitions/Departure'
      dotRating:
        description: Department of Transportation (DOT) rating.
        example: XY
        maxLength: 1
        minLength: 1
        type: string
      elapsedTime:
        description: Elapsed time in minutes.
        example: 45
        type: integer
      eTicketable:
        description: 'If true, this journey can be ticketed via an eTicket.'
        example: true
        type: boolean
      flightStatused:
        description: The status of the flight.
        example: 130
        type: integer
      frequency:
        description: The frequency of the flight on the week's days.
        example: SMTWTFS
        pattern: '[S*][M*][T*][W*][T*][F*][S*]'
        type: string
      funnel:
        description: funnel fligh =  change of gauge. Change of aircraft that retains the same flight number
        example: true
        type: boolean
      governmentApproval:
        description: 'If true, this journey requires the approval of the local government.'
        example: true
        type: boolean
      hiddenStops:
        items:
          $ref: '#/definitions/HiddenStopType'
        type: array
      id:
        description: The unique ID of the journey's schedule.
        example: 1
        type: integer
      message:
        description: Message from the carrier.
        example: Agreement granted.
        type: string
      messageType:
        description: The type of message provided by the carrier.
        example: 'Y'
        type: string
      onTimePerformance:
        description: 'An attribute that describes the flights on time performance.'
        example: 20
        type: integer
      smokingAllowed:
        description: 'If true, smoking is allowed on board the flight.'
        example: true
        type: boolean
      stopCount:
        description: The amount of stops in the journey.
        example: 2
        type: integer
      totalMilesFlown:
        description: The total sum of miles flown over the course of the journey.
        example: 2240
        type: integer
      trafficRestriction:
        description: The code of the traffic restriction.
        example: A1
        maxLength: 2
        minLength: 1
        pattern: '[0-9A-Z]{1,2}'
        type: string
    required:
      - departure
      - arrival
      - carrier
      - id
    type: object
  ScheduleMessageType:
    properties:
      destination:
        description: The destination airport of the journey.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      origin:
        description: The origin airport of the journey.
        example: DFW
        maxLength: 3
        minLength: 3
        pattern: '[A-Z]{3}'
        type: string
      pricingSource:
        description: 'The source, or origin, for the pricing information.'
        example: AA
        type: string
      text:
        description: A description of the message included with the schedule.
        example: text
        type: string
      type:
        description: The type of the scheduled message.
        example: A
        type: string
    required:
      - origin
      - destination
      - pricingSource
    type: object
  ScheduleType:
    properties:
      departureDateAdjustment:
        description: '(optional) Attribute, the Departure Date Adjustment which is the difference in days between leg departure and departure date of this segment leg.'
        example: 1
        type: integer
      ref:
        description: '(mandatory) Attribute, a reference to ScheduleDescription ID.'
        example: 1
        type: integer
      requestedStopover:
        description: 'If true, there is a stopover that has been requested for this journey.'
        example: true
        type: boolean
    required:
      - ref
    type: object
  Segment:
    properties:
      id:
        description: The unique ID of this segment of the journey.
        example: 1
        type: integer
    required:
      - id
    type: object
  SeatSelectionType:
    description: Contains information if pre-reserved seat selection is free, chargeable, or if it is not applicable.
    type: object
    properties:
      segment:
        description: Lists seat selection information.
        type: array
        minItems: 1
        maxItems: 2147483647
        items:
          "$ref": '#/definitions/SeatSelectionSegmentType'
      type:
        description: The single-character seat response code. F - Free (No charge). Seat selection on the listed segment is free. ; C - Charge. Seat selection on the listed segment is paid. ; N - Not applicable. Seat selection on the listed segment is not allowed.
        example: F
        type: string
        minLength: 1
        maxLength: 1
    required:
      - segment
      - type
  SeatSelectionSegmentType:
    description: Contains FlexibleFares/MFPI seat information.
    type: object
    properties:
      id:
        description: Segment reference ID for seat selection type.
        example: 1
        type: integer
    required:
      - id
  SegmentType:
    properties:
      availabilityBreak:
        description: 'If true, there is a break available during the segment.'
        example: true
        type: boolean
      bookingCode:
        description: The code used to represent the booking.
        example: O
        pattern: '[A-Z]'
        type: string
      cabinCode:
        description: The code of the cabin.
        example: A
        maxLength: 1
        minLength: 1
        type: string
      mealCode:
        description: 'The code for the meal available on board. Example: B - Breakfast'
        example: B
        pattern: '[A-Z0-9]{1,8}'
        type: string
      seatsAvailable:
        description: The amount of seats available for the journey.
        example: 13
        type: integer
    required:
      - bookingCode
      - cabinCode
    type: object
  SegmentsType:
    properties:
      segment:
        $ref: '#/definitions/FareSegmentType'
      surface:
        $ref: '#/definitions/SurfaceType'
    type: object
  SellingFareDataType:
    properties:
      handlingMarkups:
        description: 'Summary information about the Agency Retailer markup amount, type, and description. When this element is present, the total fare amount does not include the markup amount.'
        items:
          $ref: '#/definitions/HandlingMarkupType'
        type: array
      type:
        description: The type of the tax applied on the transaction.
        example: VAT
        type: string
    required:
      - type
    type: object
 
  SeatAmenityType:
    properties:
      id:
        description: Number of seats returned.
        example: 1
        type: integer
      pitch:
        pattern: "[0-9]+(\\.[0-9]+)?"
        maxLength: 5
        description: The size of the returned seat type. Value returned in inches.
        example: 30"
        type: string
      type:
        pattern: "(middle seat free)|(standard legroom)|(below average legroom)|(above average legroom)|(skycouch)|(recliner seat)|(full flat seat)|(full flat pod)|(private suite)|(angle flat seat)|(cradle recliner)"
        description: Name of the seat type. The list returned is from rich content.
        example: above average legroom
        type: string
    required:
      - id
    type: object
  SideTrip:
    properties:
      begin:
        description: 'If true, the side trip has began.'
        example: true
        type: boolean
      end:
        description: 'If true, the side trip has ended.'
        example: false
        type: boolean
    type: object
  SoldOutLegType:
    properties:
      ref:
        description: The reference to the LegDescription ID.
        example: 1
        type: integer
      status:
        description: Specifies the detailed reason why the fare could not be returned. It can be A - Class is not available, O - Class is not offered, F - No fare found or applicable.
        example: A
        maxLength: 1
        minLength: 1
        type: string
    required:
      - ref
    type: object
  SoldOutType:
    properties:
      soldOutLegs:
        items:
          $ref: '#/definitions/SoldOutLegType'
        type: array
      status:
        description: Specifies the detailed reason why the fare could not be returned. It can be A - Class is not available, O - Class is not offered, F - No fare found or applicable.
        example: A
        maxLength: 1
        minLength: 1
        type: string
    type: object
  StatisticsType:
    properties:
      branded:
        description: The total number of Branded OneWay itineraries returned. This is the sum of all itineraries in all legs combined.
        example: 13
        type: integer
      departed:
        description: The number of departed itineraries returned in the response.
        example: 8
        type: integer
      itineraryCount:
        description: The number of options returned in the response.
        example: 2
        type: integer
      legMissed:
        description: The number of itineraries with missing legs returned in the response.
        example: 32
        type: integer
      oneWay:
        description: The total number of Simple OneWay itineraries returned. This is the sum of all itineraries in all legs combined.
        example: 12
        type: integer
      soldOut:
        description: The total number of sold out itineraries returned in the response.
        example: 8
        type: integer
    type: object
  SurchargeType:
    properties:
      amount:
        description: The total amount of the surcharge.
        example: 209
        type: number
      currency:
        description: The currency code for the surcharge.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      description:
        description: The description of the surcharge.
        example: FUEL
        type: string
      type:
        description: The type of the surcharge.
        example: F
        maxLength: 1
        minLength: 1
        type: string
    required:
      - amount
      - currency
    type: object
  SurfaceType:
    properties:
      extraMileageAllowance:
        description: 'If true, there is allowance for extra mileage in this journey.'
        example: true
        type: boolean
      stopover:
        description: 'If true, there is a stopover segment.'
        example: true
        type: boolean
      stopoverCharge:
        description: The total sum of the charge for the stopover.
        example: 200
        type: number
      stopoverChargeCurrency:
        description: The currency code for the stopover's charge.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      unchargeable:
        description: 'If true, this journey is unchargeable.'
        example: true
        type: boolean
    type: object
  TaxIDType:
    properties:
      ref:
        description: Reference to the ID of TaxDesc.
        example: 1
        type: integer
    required:
      - ref
    type: object
  TaxSummaryIDType:
    properties:
      ref:
        description: Reference to TaxSummaryDesc ID.
        example: 1
        type: integer
    required:
      - ref
    type: object
  TaxSummaryType:
    properties:
      amount:
        description: The total sum of the tax.
        example: 100
        type: number
      code:
        description: The code for the tax.
        example: VAT
        pattern: '[0-9A-Z]{2,3}'
        type: string
      country:
        description: The code of the country the tax applies in.
        example: US
        pattern: '[A-Z]{2}'
        type: string
      currency:
        description: The currency code of the currency the tax is in.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      description:
        description: A text description of the tax.
        example: 'This is the Value Added Tax, applied on every purchase in the US.'
        type: string
      id:
        description: The unique ID of the tax.
        example: 1
        type: integer
      publishedAmount:
        description: The published amount of the tax.
        example: 20
        type: number
      publishedCurrency:
        description: The currency code of the published tax.
        example: USD
        pattern: '[A-Z]{3}'
        type: string
      station:
        description: The station code or airport code at which the tax or surcharge is applied.
[...]
