---
swagger: '2.0'
info:
  title: 'Booking Management API'
  description: The Booking Management API allows you to manage Sabre Reservations (bookings) through a set of dedicated
    services. It offers a range of functionalities, including operations on both bookings and tickets. These features
    enable seamless management of reservations, ensuring you can easily update, cancel, or verify bookings as needed.
  version: '1.33'
x-lingo-api-type: rpc
x-samples-languages:
  - java
host: api.cert.platform.sabre.com
schemes:
  - https
basePath: /v1/trip/orders
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  oauth2_authentication:
    type: oauth2
    tokenUrl: 'https://api.cert.platform.sabre.com/v2/auth/token'
    scopes:
      {}
    flow: application
    x-base64-encode-client-credentials: true
security:
  - oauth2_authentication:
      []
tags:
  - name: Booking
    description: The Booking endpoints are designed to provide a normalized view of a Sabre reservation, create and modify
      booking content, and cancel booking items by combining both the Sabre PNR and the Sabre Order.
  - name: Flight Tickets
    description: The Flight Tickets endpoints are a set of methods designed to perform specific operations (fulfill, void,
      or refund) on selected tickets.
paths:
  /cancelBooking:
    post:
      operationId: cancelBooking
      description: Cancels a booking or specified booking items, optionally voiding or refunding related flight tickets.
      tags:
        - Booking
      parameters:
        - in: body
          name: 'cancelBooking'
          description: Contains both required and optional elements to cancel the whole or parts of a booking.
          required: true
          schema:
            $ref: '#/definitions/CancelBookingRequest'
        - in: header
          x-example: Bearer TOKEN
          name: Authorization
          description: The bearer authentication token.
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/CancelBookingResponse'

  /voidFlightTickets:
    post:
      operationId: voidTickets
      description: Voids tickets with ticket numbers listed in the request, optionally including nonelectronic tickets (paper).
      tags:
        - Flight Tickets
      parameters:
        - in: body
          name: 'cancelTickets'
          description: Contains required and optional elements to void the tickets.
          required: true
          schema:
            $ref: '#/definitions/VoidTicketsRequest'
        - in: header
          x-example: Bearer TOKEN
          name: Authorization
          description: The bearer authentication token.
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/VoidTicketsResponse'

  /refundFlightTickets:
    post:
      operationId: refundTickets
      description: Processes documents by providing a request containing a list of tickets or/and EMDs which should be refunded.
      tags:
        - Flight Tickets
      parameters:
        - in: body
          name: 'refundTickets'
          description: Contains required and optional elements to refund the tickets.
          required: true
          schema:
            $ref: '#/definitions/RefundTicketsRequest'
        - in: header
          x-example: Bearer TOKEN
          name: Authorization
          description: The bearer authentication token.
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/RefundTicketsResponse'

  /checkFlightTickets:
    post:
      operationId: checkTickets
      description: Checks tickets with ticket numbers listed in the request for void, refund and exchange conditions. EMDs are
        currently not supported.
      tags:
        - Flight Tickets
      parameters:
        - in: body
          name: 'checkTickets'
          description: Contains required and optional elements to check the tickets.
          required: true
          schema:
            $ref: '#/definitions/CheckTicketsRequest'
        - in: header
          x-example: Bearer TOKEN
          name: Authorization
          description: The bearer authentication token.
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/CheckTicketsResponse'

  /fulfillFlightTickets:
    post:
      operationId: fulfillTickets
      description: Processes the fulfillment of flight tickets (for ATPCO and NDC content) and Electronic Miscellaneous
        Documents (EMDs).
      tags:
        - Flight Tickets
      parameters:
        - in: body
          name: 'fulfillTickets'
          description: Contains required and optional elements to fulfill selected tickets and EMDs.
          required: true
          schema:
            $ref: '#/definitions/FulfillTicketsRequest'
        - in: header
          x-example: Bearer TOKEN
          name: Authorization
          description: The bearer authentication token.
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/FulfillTicketsResponse'
  /getBooking:
    post:
      operationId: getBooking
      description: Displays comprehensive booking details irrespective of source, optionally narrowing down the response to
        selected elements.
      tags:
        - Booking
      parameters:
        - in: body
          name: 'getBookingRequest'
          description: Contains both required and optional elements to make a booking request.
          required: true
          schema:
            $ref: '#/definitions/GetBookingRequest'
        - in: header
          x-example: Bearer TOKEN
          name: Authorization
          description: The bearer authentication token.
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/GetBookingResponse'
  /createBooking:
    post:
      operationId: createBooking
      description: Creates an air booking (NDC/ATPCO/LCC).
      tags:
        - Booking
      parameters:
        - in: body
          name: 'createBookingRequest'
          description: Contains required and optional elements to make a booking request.
          required: true
          schema:
            $ref: '#/definitions/CreateBookingRequest'
        - in: header
          x-example: Bearer TOKEN
          name: Authorization
          description: The bearer authentication token.
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/CreateBookingResponse'
  /modifyBooking:
    post:
      operationId: modifyBooking
      description: Creates a list of booking items that need to be modified.
      tags:
        - Booking
      parameters:
        - in: body
          name: 'modifyBooking'
          description: Contains both required and optional elements to modify non-itinerary data in the existing booking.
          required: true
          schema:
            $ref: '#/definitions/ModifyBookingRequest'
        - in: header
          x-example: Bearer TOKEN
          name: Authorization
          description: The bearer authentication token.
          required: true
          type: string
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/ModifyBookingResponse'

definitions:
  GetBookingRequest:
    type: object
    description: Contains both required and optional elements to make a booking request.
    required:
      - confirmationId
    properties:
      confirmationId:
        type: string
        pattern: '^[A-Z0-9]{6,}$'
        example: 'GLEBNY'
        description: The booking reference ID as shown in the source supplier/vendor system. For `SABRE`, this is the PNR
          Locator value.
        #source: Taken from Order/@pnrLocator.
      bookingSource:
        $ref: '#/definitions/BookingSourceEnum'
        description: Identifies the source of the booking. Defaults to `SABRE`.
        #source: GraphQL only. Returns SABRE_ORDER if length(@confirmationId)>6, otherwise SABRE.
      targetPcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'G7HE'
        description: The pseudo city code of the target destination in which the booking retrieval is requested.
      givenName:
        type: string
        example: 'John'
        description: The traveler's first name.
        #source: Unused
      middleName:
        type: string
        example: 'W'
        description: The middle name or the initial of the middle name of the traveler.
        #source: Unused
      surname:
        type: string
        example: 'Smith'
        description: The traveler's last name.
        #source: Used for first line validation. If @surname from parameter is different than in @confirmationId, UNAUTHORIZED_ACCESS error is returned.
      returnOnly:
        type: array
        description: Lists the response sections which are returned by the service. If this list is empty or not provided, then
          the full structure is returned. By using this option, the application may exclude or simplify calls of
          downline APIs, which usually results in a significant performance boost.
        items:
          $ref: '#/definitions/ReturnOnlyEnum'
          description: Identifies the portion of data to be returned.
        #source: Taken from returnOnly parameter sent in request body.
      extraFeatures:
        $ref: '#/definitions/ExtraFeatures'
        description: Contains a set of additional features whose usage requires explicit indication to maintain backward
          compatibility. These functionalities will be seamlessly incorporated into a future major version of this API.
      unmaskPaymentCardNumbers:
        type: boolean
        example: false
        description: If true, the application unmasks payment card information stored in the booking. To display this data, the
          Employee Profile Record (EPR) needs to include the CCVIEW keyword.

  GetBookingResponse:
    type: object
    description: Contains service response object with booking information.
    allOf:
      - $ref: '#/definitions/Booking'
      - type: object
        properties:
          timestamp:
            type: string
            format: date-time
            example: '2024-10-28T11:11:21Z'
            description: Provides the exact point in time when the response was generated. The timestamp is expressed in UTC and
              presented in the YYYY-MM-DDTHH:MM:SSZ format.
          bookingSignature:
            type: string
            example: '76c2817b178cc264fa44cf85df1da5fb9e1b963006b2339aa5edc09129415bba5fcf5bf91a5f'
            description: The unique ID of the Get Booking response. It is used to verify the state of the booking during the
              modification operation. Available only if obtaining the booking state does not result in any errors.
          request:
            $ref: '#/definitions/GetBookingRequest'
            description: Copy of the service request object.
          errors:
            type: array
            description: Lists detailed error information. This array is not displayed in successful responses.
            items:
              $ref: '#/definitions/Error'

  CancelBookingRequest:
    type: object
    description: Contains required and optional elements to cancel a booking.
    required:
      - confirmationId
    properties:
      confirmationId:
        type: string
        pattern: '^[A-Z0-9]{6,}$'
        example: 'GLEBNY'
        description: The booking reference ID as shown in the source supplier/vendor system. For `SABRE`, this is the PNR
          Locator value.
        xml:
          attribute: true
      bookingSource:
        $ref: '#/definitions/BookingSourceEnum'
        description: Identifies the source of the booking. Defaults to `SABRE`.
      retrieveBooking:
        type: boolean
        default: false
        example: true
        description: If `true`, the response includes the current state of the booking.
      receivedFrom:
        type: string
        example: 'Booking Management API testing'
        description: The entity that authorizes the changes in a Passenger Name Record.
      flightTicketOperation:
        $ref: '#/definitions/FlightTicketOperationEnum'
        description: Identifies the policy for handling flight ticket operations within the Cancel Booking service.
      errorHandlingPolicy:
        $ref: '#/definitions/CancelErrorPolicyEnum'
        description: Identifies the policy for handling errors within the Cancel Booking service.
      cancelAll:
        type: boolean
        default: false
        example: false
        description: If true, segments of all kinds will be cancelled from the reservation. Flights, Hotels, Cars, Trains,
          Cruises and all other segments included in the response are ignored.
      flights:
        type: array
        description: Lists flights to cancel.
        items:
          $ref: '#/definitions/FlightReference'
          description: Contains flight object reference by `itemId`.
      hotels:
        type: array
        description: Lists the hotels which should be cancelled.
        items:
          $ref: '#/definitions/HotelReference'
          description: Contains hotel object reference by `itemId`.
      cars:
        type: array
        description: Lists the cars which should be cancelled.
        items:
          $ref: '#/definitions/CarReference'
          description: Contains car object reference by `itemId`.
      trains:
        type: array
        description: Lists the trains which should be cancelled.
        items:
          $ref: '#/definitions/TrainReference'
          description: Contains train object reference by `itemId`.
      cruises:
        type: array
        description: Lists the cruises which should be cancelled.
        items:
          $ref: '#/definitions/CruiseReference'
          description: Contains cruise object reference by `itemId`.
      segments:
        type: array
        description: Lists the items which should be cancelled.
        items:
          $ref: '#/definitions/Segment'
          description: Contains reference to the segment for cancellation, identified either by `sequence` or by `id`.
      targetPcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'G7HE'
        description: Used to specify whether the API should change context to a desired pseudo city code. Context is not
          reverted after the booking has been completed.
      notification:
        $ref: '#/definitions/Notification'
        description: Contains actions to be performed after the booking creation. Currently, you can choose either
          queuePlacement or email notification. It is not possible to combine both. Additionally, for booking creation
          purposes, only `DEFAULT` e-mail notification is supported.
      designatePrinters:
        type: array
        description: Lists printers or a printer profile to designate. It is possible to provide a single `PrinterAddress`
          object with a printer profile. Alternatively, the array may contain multiple `PrinterAddress` objects, but
          each of them must have the same printer type definition.
        items:
          $ref: '#/definitions/PrinterAddress'
      offerItemId:
        type: string
        example: 'cb7778589bcbklg7tkkp8sdo50'
        description: Contains Id for a void or refund offer available based on checkFlightTicketsResponse for the tickets
          belonging to the requested confirmationId. Applicable only for NDC orders.
      retentionEndDate:
        type: string
        format: date
        example: '2024-01-30'
        description: The retention date of the booking. Used optionally to keep the booking active past the date of the last
          itinerary item (flight, hotel, car, etc.). After this date, the booking is set for purging.
      retentionLabel:
        type: string
        pattern: '^[a-zA-Z0-9 ,.*?\-\/]{0,215}$'
        example: 'RETENTION DATE'
        description: The label associated with the retention date.
      voidNonElectronicTickets:
        type: boolean
        default: false
        example: true
        description: If `true`, nonelectronic tickets are included in the void process.
      refundDocumentsType:
        $ref: '#/definitions/DocumentsTypeEnum'
        description: Identifies the policy for a refund of electronic documents.

  CancelBookingResponse:
    type: object
    description: Contains booking information.
    properties:
      timestamp:
        type: string
        format: date-time
        example: '2024-10-28T11:11:21Z'
        description: Provides the exact point in time when the response was generated. The timestamp is expressed in UTC and
          presented in the YYYY-MM-DDTHH:MM:SSZ format.
      request:
        $ref: '#/definitions/CancelBookingRequest'
        description: Contains a copy of the original request.
      booking:
        $ref: '#/definitions/Booking'
        description: Contains information about the remaining booking after cancellation.
      tickets:
        type: array
        description: Lists information about cancellation eligibility and refundable amounts per ticket in the order of the request.
        items:
          $ref: '#/definitions/Ticket'
      errors:
        type: array
        description: Lists detailed error information. This array is not displayed in successful responses.
        items:
          $ref: '#/definitions/Error'
      voidedTickets:
        type: array
        description: Lists all successfully voided tickets.
        items:
          type: string
          description: The number of a successfully voided ticket.
          pattern: '^[0-9A-Z\/-]+$'
          example: '0017544536141'
      refundedTickets:
        type: array
        description: Lists all successfully refunded tickets.
        items:
          type: string
          description: The number of a successfully refunded ticket.
          pattern: '^[0-9A-Z\/-]+$'
          example: '0017544536141'
      flightRefunds:
        type: array
        description: Lists all successfully refunded flight bookings.
        items:
          $ref: '#/definitions/FlightRefund'

  VoidTicketsRequest:
    type: object
    description: Contains required and optional elements to void tickets.
    properties:
      errorHandlingPolicy:
        $ref: '#/definitions/CancelErrorPolicyEnum'
        description: Policy for handling errors by the Cancel Booking service.
      targetPcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'G7HE'
        description: The pseudo city code of the target destination for which the ticket voiding is requested.
      tickets:
        type: array
        description: Lists document numbers for tickets or EMDs which should be voided. Can contain up to 12 elements.
        items:
          type: string
          pattern: '^[0-9A-Z]{13}(/[0-9]{2})?$'
          example: '0167489825830'
          description: The electronic document number of the ticket that needs to be voided.
      receivedFrom:
        type: string
        example: 'Booking Management API testing'
        description: The entity that authorizes the changes in a Passenger Name Record.
      notification:
        $ref: '#/definitions/Notification'
        description: Contains actions to be performed after the booking creation. Currently, you can choose either
          queuePlacement or email notification. It is not possible to combine both. Additionally, for booking creation
          purposes, only `DEFAULT` e-mail notification is supported.
      designatePrinters:
        type: array
        description: Lists printers or a printer profile to designate. It is possible to provide a single `PrinterAddress`
          object with a printer profile. Alternatively, the array may contain multiple `PrinterAddress` objects, but
          each of them must have the same printer type definition.
        items:
          $ref: '#/definitions/PrinterAddress'
      confirmationId:
        type: string
        pattern: '^[A-Z0-9]{6,}$'
        example: 'GLEBNY'
        description: The booking reference ID as shown in the source supplier or vendor system.
      voidNonElectronicTickets:
        type: boolean
        default: false
        example: true
        description: If `true`, nonelectronic tickets are included in the void process.

  VoidTicketsResponse:
    type: object
    description: Contains voided ticket information.
    properties:
      timestamp:
        type: string
        format: date-time
        example: '2024-10-28T11:11:21Z'
        description: Provides the exact point in time when the response was generated. The timestamp is expressed in UTC and
          presented in the YYYY-MM-DDTHH:MM:SSZ format.
      request:
        $ref: '#/definitions/VoidTicketsRequest'
        description: Copy of the request.
      errors:
        type: array
        description: Lists detailed error information. This array is not displayed in successful responses.
        items:
          $ref: '#/definitions/Error'
      voidedTickets:
        type: array
        description: Lists all successfully voided tickets.
        items:
          type: string
          description: The number of a successfully voided ticket.
          pattern: '^[0-9A-Z\/-]+$'
          example: '0017544536141'

  RefundTicketsRequest:
    type: object
    description: Contains required and optional elements to refund tickets.
    properties:
      errorHandlingPolicy:
        $ref: '#/definitions/CancelErrorPolicyEnum'
        description: Policy for handling errors by the Cancel Booking service.
      targetPcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'G7HE'
        description: The pseudo city code of the target destination for which the ticket refund is requested.
      tickets:
        type: array
        minItems: 1
        maxItems: 12
        description: Lists tickets which should be refunded. Can contain up to 12 elements.
        items:
          $ref: '#/definitions/RefundFlightTicket'
      receivedFrom:
        type: string
        example: 'Booking Management API testing'
        description: The entity that authorizes the changes in a Passenger Name Record.
      notification:
        $ref: '#/definitions/Notification'
        description: Contains actions to be performed after the booking creation. Currently, you can choose either
          queuePlacement or email notification. It is not possible to combine both. Additionally, for booking creation
          purposes, only `DEFAULT` e-mail notification is supported.
      designatePrinters:
        type: array
        description: Lists printers or a printer profile to designate. It is possible to provide a single `PrinterAddress`
          object with a printer profile. Alternatively, the array may contain multiple `PrinterAddress` objects, but
          each of them must have the same printer type definition.
        items:
          $ref: '#/definitions/PrinterAddress'
      confirmationId:
        type: string
        pattern: '^[A-Z0-9]{6,}$'
        example: 'GLEBNY'
        description: The booking reference ID as shown in the source supplier or vendor system.
      documentsType:
        $ref: '#/definitions/DocumentsTypeEnum'
        description: Identifies the policy for a refund of electronic documents.

  RefundTicketsResponse:
    type: object
    description: Contains voided ticket information.
    properties:
      timestamp:
        type: string
        format: date-time
        example: '2024-10-28T11:11:21Z'
        description: Provides the exact point in time when the response was generated. The timestamp is expressed in UTC and
          presented in the YYYY-MM-DDTHH:MM:SSZ format.
      request:
        $ref: '#/definitions/RefundTicketsRequest'
        description: Copy of the request.
      tickets:
        type: array
        description: Lists information about cancellation eligibility and refundable amounts per ticket in the order of the request.
        items:
          $ref: '#/definitions/Ticket'
      errors:
        type: array
        description: Lists detailed error information. This array is not displayed in successful responses.
        items:
          $ref: '#/definitions/Error'
      refundedTickets:
        type: array
        description: Lists all successfully refunded tickets.
        items:
          type: string
          description: The number of a successfully refunded ticket.
          pattern: '^[0-9A-Z\/-]+$'
          example: '0017544536141'

  CheckTicketsRequest:
    type: object
    description: Contains required and optional elements to check tickets.
    properties:
      targetPcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'G7HE'
        description: The pseudo city code of the target destination for which the ticket check is requested.
      tickets:
        type: array
        minItems: 1
        maxItems: 12
        description: Lists tickets which should be refunded. Can contain up to 12 elements.
        items:
          $ref: '#/definitions/RefundFlightTicket'
      confirmationId:
        type: string
        pattern: '^[A-Z0-9]{6,}$'
        example: 'GLEBNY'
        description: The booking reference ID as shown in the source supplier or vendor system.

  CheckTicketsResponse:
    type: object
    description: Contains information about cancellation eligibility and refundable amounts per ticket.
    properties:
      timestamp:
        type: string
        format: date-time
        example: '2024-10-28T11:11:21Z'
        description: Provides the exact point in time when the response was generated. The timestamp is expressed in UTC and
          presented in the YYYY-MM-DDTHH:MM:SSZ format.
      request:
        $ref: '#/definitions/CheckTicketsRequest'
        description: Copy of the request.
      tickets:
        type: array
        description: Lists information about cancellation eligibility and refundable amounts per ticket in the order of the request.
        items:
          $ref: '#/definitions/CheckedTicket'
      errors:
        type: array
        description: Lists detailed error information. This array is not displayed in successful responses.
        items:
          $ref: '#/definitions/Error'
      cancelOffers:
        type: array
        description: Lists information about cancellation options for NDC Orders.
        items:
          $ref: '#/definitions/CancelOffer'
      flightRefunds:
        type: array
        description: Lists information about flight refund options.
        items:
          $ref: '#/definitions/FlightRefund'

  CreateBookingRequest:
    type: object
    description: Contains required and optional elements to make a booking request.
    properties:
      errorHandlingPolicy:
        type: array
        description: Lists selected error handling policies to adopt for this request.
        items:
          $ref: '#/definitions/CreateErrorPolicyEnum'
          description: Identifies the error handling policy adopted for the booking request.
      targetPcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'AAA'
        description: Specifies the desired pseudo city code value. The API does not revert context after completing the booking.
      receivedFrom:
        type: string
        default: 'Create Booking'
        example: 'Create Booking'
        description: The entity that authorizes the changes in a Passenger Name Record.
      asynchronousUpdateWaitTime:
        type: integer
        format: int32
        minimum: 0
        maximum: 10000
        default: 0
        example: 3000
        description: The maximum wait time in milliseconds applied to asynchronous updates related to booking creation. Mainly
          used for the redisplay operation of NDC bookings.
      profiles:
        type: array
        minItems: 1
        maxItems: 13
        description: Lists profile lookup inputs used to load profile data into the active session (AAA). When a traveler
          profile is loaded, traveler fields in the booking request may be partially or fully pre-populated.
        items:
          $ref: '#/definitions/BookProfile'
          description: Contains required and optional fields needed to retrieve the profile information needed to complete a
            booking.
      agency:
        $ref: '#/definitions/Agency'
        description: Contains agency information for the booking.
      flightOffer:
        $ref: '#/definitions/FlightOffer'
        description: Contains required and optional fields needed to make an NDC air booking.
      flightDetails:
        $ref: '#/definitions/FlightDetails'
        description: Contains details of all flights to book.
      hotel:
        $ref: '#/definitions/HotelToBook'
        description: Contains all details of the hotel to be booked.
      car:
        $ref: '#/definitions/CarToBook'
        description: Contains all details of the car to be booked.
      travelers:
        type: array
        description: Lists personal information of the travelers.
        items:
          $ref: '#/definitions/BookTraveler'
          description: Contains traveler information. Multiple travelers are supported when you book by passing flight details.
      contactInfo:
        $ref: '#/definitions/BookContactInformation'
        description: Contains traveler's or agency contact information for the booking. Valid only with the phones and emails.
          When adding phone numbers, please add agency contact number as a first item followed by the main contact
          number for the traveler.
      payment:
        $ref: '#/definitions/Payment'
        description: Contains required and optional fields needed to pass payment information necessary to complete the booking.
      remarks:
        type: array
        description: Contains remarks to be added to the booking.
        items:
          $ref: '#/definitions/BookRemark'
          description: Contains a remark to add to the booking. Please note that the `PRINT_ON_TICKET`, `FILLER_STRIP`,
            `INTERFACE`, and `FORM_OF_PAYMENT` remark types are currently not supported. The `FORM_OF_PAYMENT` remark
            type is automatically added to a booking upon populating the `formsOfPayment` array.
      notification:
        $ref: '#/definitions/Notification'
        description: Contains actions to be performed after the booking creation. Currently, you can choose either
          queuePlacement or email notification. It is not possible to combine both. Additionally, for booking creation
          purposes, only `DEFAULT` e-mail notification is supported.
      otherServices:
        type: array
        description: Lists Other Service Information (OSI) sent to an airline. Not supported for hotel chains and/or car rental
          vendors.
        items:
          $ref: '#/definitions/OtherServiceInformation'
      retentionEndDate:
        type: string
        format: date
        example: '2024-01-30'
        description: The retention date of the booking. Used optionally to keep the booking active past the date of the last
          itinerary item (flight, hotel, car, etc.). After this date, the booking is set for purging.
      retentionLabel:
        type: string
        pattern: '^[a-zA-Z0-9 ,.*?\-\/]{0,215}$'
        example: 'RETENTION DATE'
        description: The label associated with the retention date.
      travelersEmployers:
        type: array
        description: Lists details of the travelers' employers.
        items:
          $ref: '#/definitions/TravelersEmployer'
          description: Contains details of a traveler's employer.
      sendLoyaltiesToAllAirlines:
        type: boolean
        example: true
        description: If `true`, all frequent flyer loyalty programs present in the payload or profiles are submitted to all
          carriers in the booking.

  CreateBookingResponse:
    type: object
    description: Contains booking information.
    properties:
      timestamp:
        type: string
        format: date-time
        example: '2024-10-28T11:11:21Z'
        description: Provides the exact point in time when the response was generated. The timestamp is expressed in UTC and
          presented in the YYYY-MM-DDTHH:MM:SSZ format.
      confirmationId:
        type: string
        pattern: '^[A-Z0-9]{6,}$'
        example: 'GLEBNY'
        description: The booking ID generated by the Create Booking API. The Sabre system considers it a PNR locator.
      booking:
        $ref: '#/definitions/Booking'
        description: Contains booking information.
      errors:
        type: array
        description: Lists detailed error information. This array is not displayed in successful responses.
        items:
          $ref: '#/definitions/Error'
      request:
        $ref: '#/definitions/CreateBookingRequest'
        description: Contains required and optional elements to make a booking request.

  ModifyBookingRequest:
    type: object
    description: Contains required and optional elements to modify a booking.
    required:
      - confirmationId
      - bookingSignature
      - after
      - before
    properties:
      bookingSignature:
        type: string
        example: '76c2817b178cc264fa44cf85df1da5fb9e1b963006b2339aa5edc09129415bba5fcf5bf91a5f'
        description: The unique identifier of a booking, obtained by the means of the Get Booking method. Used to verify the
          state of the booking prior to a modification operation.
      confirmationId:
        type: string
        pattern: '^[A-Z0-9]{6,}$'
        example: 'GLEBNY'
        description: The booking reference ID as shown in the source supplier/vendor system.
      bookingSource:
        $ref: '#/definitions/BookingSourceEnum'
        description: Identifies the source of the booking. Defaults to `SABRE`.
      retrieveBooking:
        type: boolean
        default: false
        example: true
        description: If `true`, the response includes the current state of the booking.
      receivedFrom:
        type: string
        default: 'Modify Booking'
        example: 'Booking Management API testing'
        description: The entity that authorizes the changes in a booking.
      before:
        $ref: '#/definitions/BookingToModify'
        description: Contains the original booking details (within the `before` property) or the target booking details used
          after a finalized modification (within the `after` property). Based on the difference between the `before` and
          `after` properties, appropriate add, update, or delete operations are performed on the booking.
      after:
        $ref: '#/definitions/BookingToModify'
        description: Contains the original booking details (within the `before` property) or the target booking details used
          after a finalized modification (within the `after` property). Based on the difference between the `before` and
          `after` properties, appropriate add, update, or delete operations are performed on the booking.
      targetPcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'AAA'
        description: Specifies the desired pseudo city code value. The API does not revert context after completing the booking.
      unmaskPaymentCardNumbers:
        type: boolean
        example: false
        description: If `true`, unmasks payment card information during the `bookingSignature` verification step. To use
          unmasked data, the Employee Profile Record (EPR) needs to include the CCVIEW keyword.
      extraFeatures:
        $ref: '#/definitions/CommonExtraFeatures'
        description: Contains a set of additional features whose usage requires explicit indication to maintain backward
          compatibility. These functionalities will be seamlessly incorporated into a future major version of this API.
          The same `extraFeatures` data should be sent in the preceding Get Booking request to avoid issues with
          `bookingSignature` verification.

  ModifyBookingResponse:
    type: object
    description: Contains the response from the Modify Booking service.
    properties:
      timestamp:
        type: string
        format: date-time
        example: '2024-10-28T11:11:21Z'
        description: Provides the exact point in time when the response was generated. The timestamp is expressed in UTC and
          presented in the YYYY-MM-DDTHH:MM:SSZ format.
      booking:
        $ref: '#/definitions/Booking'
        description: Contains information about the modified booking.
      errors:
        type: array
        description: Lists detailed error information. This array is not displayed in successful responses.
        items:
          $ref: '#/definitions/Error'
      request:
        $ref: '#/definitions/ModifyBookingRequest'
        description: Contains a copy of the original request.

  FulfillTicketsRequest:
    type: object
    description: Contains required and optional elements to fulfill tickets and EMDs.
    required:
      - confirmationId
      - fulfillments
    properties:
      errorHandlingPolicy:
        type: array
        description: Lists the type of error handling policy used by the Fulfill Flight Tickets service.
        items:
          $ref: '#/definitions/FulfillErrorPolicyEnum'
          description: Identifies the type of error handling policy used by the Fulfill Flight Tickets service. Can be
            `ALLOW_PARTIAL_FULFILLMENT` (continues processing upon encountering any error from downline services during
            ticket issuance) or `HALT_ON_INVALID_MINIMUM_CONNECTING_TIME_ERROR` (stops processing if the minimum
            connecting time between flights is not met).
      bookingSource:
        $ref: '#/definitions/BookingSourceEnum'
        description: Identifies the source of the booking. Defaults to `SABRE`.
      confirmationId:
        type: string
        pattern: '^[A-Z0-9]{6,}$'
        example: 'GLEBNY'
        description: The booking reference ID as shown in the source supplier/vendor system. For `SABRE`, this is the PNR
          Locator value.
      retainAccounting:
        type: boolean
        default: false
        example: true
        description: If `true`, the service does not delete any existing accounting lines prior to ticketing.
      agency:
        $ref: '#/definitions/GenericAgency'
        description: Contains basic agency information.
      fulfillments:
        type: array
        minItems: 1
        maxItems: 99
        description: Lists fulfillment details required to issue a document, such as a ticket or an EMD.
        items:
          $ref: '#/definitions/FulfillmentDetails'
          description: Contains fulfillment details related to a given document.
      targetPcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'G7HE'
        description: The pseudo city code of the target destination for which the ticket exchange is requested.
      receivedFrom:
        type: string
        default: 'Fulfill Flight Tickets'
        example: 'Booking Management API testing'
        description: The entity that authorizes the changes in a Passenger Name Record.
      designatePrinters:
        type: array
        description: Lists printers or a printer profile to designate. It is possible to provide a single `PrinterAddress`
          object with a printer profile. Alternatively, the array may contain multiple `PrinterAddress` objects, but
          each of them must have the same printer type definition.
        items:
          $ref: '#/definitions/PrinterAddress'
      formsOfPayment:
        type: array
        minItems: 1
        maxItems: 10
        description: Lists the payment methods to use during the fulfillment process.
        items:
          $ref: '#/definitions/FulfillFormOfPayment'
          description: Contains details of a form of payment.
      travelers:
        type: array
        minItems: 1
        maxItems: 9
        description: Lists information about the travelers.
        items:
          $ref: '#/definitions/TravelerName'
          description: Contains traveler information.
      generateSingleInvoice:
        type: boolean
        default: false
        example: true
        description: If `true`, sends multiple tickets to commit to the PNR in a single batch after they have been issued.
      commitTicketToBookingWaitTime:
        type: integer
        format: int32
        minimum: 0
        maximum: 10000
        default: 0
        example: 3000
        description: The maximum wait time in milliseconds applied to asynchronous updates during the ghost ticket validation
          process, which is performed to check if the newly issued tickets have been committed to the face of the PNR.
      acceptNegotiatedFare:
        type: boolean
        default: true
        example: true
        description: If `true`, uses the negotiated fare for ticketing when it is not possible to use the stored fare.
      acceptPriceChanges:
        type: boolean
        default: true
        example: true
        description: If `true`, issues a ticket when the price increases during processing.
      backDatePriceQuoteMethod:
        $ref: '#/definitions/PriceQuoteHandlingMethodEnum'
        description: Identifies how the service handles expired Price Quotes (PQ) or Price Quotes with a back date price.
      priceQuoteExpirationMethod:
        $ref: '#/definitions/PriceQuoteHandlingMethodEnum'
        description: Identifies how the service handles expired Price Quotes (PQ) or Price Quotes with a back date price.
      notificationEmail:
        $ref: '#/definitions/NotificationEmailEnum'
        description: Identifies the method of e-mail notification. `DEFAULT` sends a default e-mail notification based on the
          agency/PCC configuration. `INVOICE` sends an e-mail with a copy of the eInvoice, `ETICKET` sends an e-mail
          with a text copy of the eTicket, and `ITINERARY` sends an e-mail with a text copy of the itinerary.

  FulfillTicketsResponse:
    type: object
    description: Contains information about issued tickets and EMDs.
    properties:
      timestamp:
        type: string
        format: date-time
        example: '2024-10-28T11:11:21Z'
        description: Provides the exact point in time when the response was generated. The timestamp is expressed in UTC and
          presented in the YYYY-MM-DDTHH:MM:SSZ format.
      tickets:
        type: array
        description: Lists all electronic flight tickets issued for the travelers.
        items:
          $ref: '#/definitions/FulfillTicket'
      request:
        $ref: '#/definitions/FulfillTicketsRequest'
        description: Copy of the request.
      errors:
        type: array
        description: Lists detailed error information. This array is not displayed in successful responses.
        items:
          $ref: '#/definitions/Error'
      warnings:
        type: array
        minItems: 1
        description: Lists detailed warning information.
        items:
          $ref: '#/definitions/Warning'
          description: Contains warning information.

  Booking:
    type: object
    description: Contains booking information.
    properties:
      bookingId:
        type: string
        pattern: '^[A-Z0-9]{6,14}$'
        example: '1SXXX1A2B3C4D'
        description: The booking reference ID as shown in the source supplier/vendor system. For `SABRE`, this is the PNR
          Locator or NDC `orderId` value, depending on content type.
      startDate:
        type: string
        format: date
        example: '2024-07-09'
        description: The start date of the booking in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.
        #source: Based on the allSegments array.
      endDate:
        type: string
        format: date
        example: '2024-07-19'
        description: The end date of the booking in [ISO 8601](https://www.iso.org/iso-8601-date-and-time-format.html) format.
        #source: Based on the allSegments array.
      isCancelable:
        type: boolean
        example: false
        description: If `true`, the booking is cancelable in full or in segments. Refer to the `refundPenalties` array for more
          information.
        #source: Value calculated from StructureFareRuleRQ. Fare rule must exists and at least one has to be refundable.
      isTicketed:
        type: boolean
        example: false
        description: If true, at least one ticket was issued for the booking.
        #source: Taken from GetBookingService, if payments exists, value is updated from GetElectronicDocument.
      agencyCustomerNumber:
        type: string
        pattern: '^[0-9A-Z]{6}([1-9A-Z*]{1}|[0-9A-Z]{4})?$'
        example: '1234567'
        description: The customer identifier used by their travel agency, also known as the customer number or the DK number.
          Can be a six, seven, or 10-character string.
        #source: Taken from GetReservation Response/Reservation/DKNumbers. In NDC context information is sourced from OrderViewResponse.order.customerNumber.
      creationDetails:
        $ref: '#/definitions/CreationDetails'
        description: Contains details about the creation.
      contactInfo:
        $ref: '#/definitions/ContactInformation'
        description: Contains contact information for the booking.
      travelers:
        type: array
        description: Lists the traveler(s) associated with the booking.
        #source: Values are merged from GetReservationRS and Order service.
        items:
          $ref: '#/definitions/Traveler'
          description: Contains traveler information.
      travelersGroup:
        $ref: '#/definitions/TravelersGroup'
        description: Contains information about the group the travelers belong to.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Corporate
      flights:
        type: array
        description: Lists all flights associated with the booking in chronological order.
        #source: Values are merged from GetReservationRS and Order service.
        items:
          $ref: '#/definitions/Flight'
          description: Contains flight information, identified by `itemId`, for the given booking.
      journeys:
        type: array
        description: |
          Lists all the journeys associated with the booking.
            * For one-way, this is a single element list.
            * For round-trip, the list contains two journeys.
            * For multi-destinations, the list contains more than two journeys.
        #source: Values are merged from /GetReservationRS/Reservation/PassengerReservation/Segments/@Air
        items:
          $ref: '#/definitions/Journey'
          description: Contains details of the flights within the journey.
      fareRules:
        type: array
        description: Lists most restrictive fare rule information displayed at the time of purchase. This service applies data
          from either Tickets or Price Quotes.
        #source: Taken from StructureFareRulesRS where source is a 'A - Active'. For Price Quote in status 'M - Manual' information not available; Taken from PNRPricingRS where source is an active ticket.
        items:
          $ref: '#/definitions/FareRule'
          description: Contains eligibility requirements and travel restrictions for a flight.
      fareOffers:
        type: array
        description: Lists ancillary offers for selected flights identified by `itemId` flight references.
        #source: GetAncillaryOffersRS
        items:
          $ref: '#/definitions/FareOffer'
          description: Contains ancillary offer for selected flights identified by `itemId` flight references and for selected
            travelers identified by indices in `travelers` list.
      fares:
        type: array
        description: Lists the details for saved fares. This service applies data either from a Price Quote or an Order Item.
        #source: Taken from GetReservationRS.PriceQuoteInfo where source is a Price Quote in status 'A - Active' or 'M - Manual'; Taken from Orders/ViewRS.orderItems where source is a Sabre Order.
        items:
          $ref: '#/definitions/Fare'
      remarks:
        type: array
        description: Contains list of remarks added to the PNR.
        #source: /GetReservationRS/Reservation/Remarks/Remark
        items:
          $ref: '#/definitions/Remark'
          description: Contains remark added to the PNR.
      hotels:
        type: array
        description: Lists all hotel reservations associated with the booking.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Hotel
        items:
          $ref: '#/definitions/Hotel'
          description: Contains hotel reservation information identified by `itemId` and associated with a booking.
      cars:
        type: array
        description: Lists all car rentals associated with the booking.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Vehicle
        items:
          $ref: '#/definitions/Car'
          description: Contains car rental information, identified by `itemId`, for the given booking.
      trains:
        type: array
        description: Lists all trains associated with the booking.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/ProductType/Trains
        items:
          $ref: '#/definitions/Train'
          description: Contains train reservation information, identified by `itemId`, for the given booking.
      cruises:
        type: array
        description: Lists all cruises associated with the booking.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/General
        items:
          $ref: '#/definitions/Cruise'
          description: Contains cruise reservation information, identified by `itemId`, for the given booking.
      allSegments:
        type: array
        description: Lists all segments of the booking which overlaps with contextual booking elements such as flights, hotels,
          cars, trains and so on. This list also contains non-product related segments which exist in an underlying
          booking system.
        items:
          $ref: '#/definitions/SegmentBasics'
          description: Indicates essential information about the booking segment, common for all possible types of booking segments.
      flightTickets:
        type: array
        description: Lists all electronic flight tickets issued for the travelers.
        #source: Merged from GetReservationRS and Order service.
        items:
          $ref: '#/definitions/FlightTicket'
          description: Contains information about an electronic flight ticket or EMD issued for a traveler.
      payments:
        $ref: '#/definitions/TotalPayments'
        description: Contains all total payment amounts across flights, hotels, cars and others.
        #source: Values are merged from GetReservationRS and Order service.
      otherServices:
        type: array
        description: Lists Other Service Information (OSI) sent to or retrieved from a specific vendor.
        items:
          $ref: '#/definitions/OtherServiceInformation'
      futureTicketingPolicy:
        $ref: '#/definitions/FutureTicketingPolicy'
        description: Contains a detailed ticket arrangement for a future date.
      specialServices:
        type: array
        description: Lists all special services associated with a traveler.
        items:
          $ref: '#/definitions/SpecialService'
      retentionEndDate:
        type: string
        format: date
        example: '2024-01-30'
        description: The retention date of the booking. Used optionally to keep the booking active past the date of the last
          itinerary item (flight, hotel, car, etc.). After this date, the booking is set for purging.
      retentionLabel:
        type: string
        pattern: '^[a-zA-Z0-9 ,.*?\-\/]{0,215}$'
        example: 'RETENTION DATE'
        description: The label associated with the retention date.
      accountingItems:
        type: array
        description: Lists accounting items from the booking.
        items:
          $ref: '#/definitions/AccountingItem'
          description: Contains accounting data correlated with a fulfilled document. Supported for ATPCO content only.
      nonElectronicTickets:
        type: array
        description: Lists nonelectronic tickets from the booking.
        items:
          $ref: '#/definitions/NonElectronicTicket'
          description: Contains a nonelectronic ticket. Supported for ATPCO content only.
      travelersEmployers:
        type: array
        description: Lists details of the travelers' employers.
        #source: order.passengers[n].employer.
        items:
          $ref: '#/definitions/TravelersEmployer'
          description: Contains details of a traveler's employer.
      profiles:
        type: array
        minItems: 1
        description: Lists profiles used in the booking.
        items:
          $ref: '#/definitions/Profile'
          description: Contains parameters needed to retrieve profile information.

  BookingToModify:
    type: object
    description: Contains the original booking details (within the `before` property) or the target booking details used
      after a finalized modification (within the `after` property). Based on the difference between the `before` and
      `after` properties, appropriate add, update, or delete operations are performed on the booking.
    properties:
      agencyCustomerNumber:
        type: string
        pattern: '^[0-9A-Z]{6}([1-9A-Z*]{1}|[0-9A-Z]{4})?$'
        example: '1234567'
        description: The customer identifier used by their travel agency, also known as the customer number or the DK number.
          Can be a six, seven, or 10-character string.
      creationDetails:
        $ref: '#/definitions/CreationDetailsToModify'
        description: Contains creation information for the booking.
      flights:
        type: array
        description: Lists all flights associated with the booking in chronological order.
        items:
          $ref: '#/definitions/FlightToModify'
          description: Contains flight details to modify for the given booking.
      remarks:
        type: array
        description: Lists all remarks stored in the booking. Note that the `FORM_OF_PAYMENT` remark type is not supported
          manually; these remarks are handled automatically when the `formsOfPayment` array is modified.
        items:
          $ref: '#/definitions/Remark'
          description: Contains remark details stored within the booking.
      hotels:
        type: array
        description: Lists the hotels which should be modified.
        items:
          $ref: '#/definitions/HotelToModify'
          description: Contains hotel reservation information identified by `itemId` and associated with a booking.
      payments:
        $ref: '#/definitions/PaymentToModify'
        description: Contains payment information necessary to modify the booking.
      specialServices:
        type: array
        description: Lists all special service request (SSR) messages sent to an airline. The messages may contain traveler
          preferences or mandatory/optional information directed to the airline.
        items:
          $ref: '#/definitions/SpecialServiceToModify'
          description: Contains special service information (SSR).
      travelers:
        type: array
        description: Lists personal information of the travelers.
        items:
          $ref: '#/definitions/TravelerToModify'
          description: Contains traveler information.
      retentionEndDate:
        type: string
        format: date
        example: '2024-01-30'
        description: The retention date of the booking. Used optionally to keep the booking active past the date of the last
          itinerary item (flight, hotel, car, etc.). After this date, the booking is set for purging.
      retentionLabel:
        type: string
        pattern: '^[a-zA-Z0-9 ,.*?\-\/]{0,215}$'
        example: 'RETENTION DATE'
        description: The label associated with the retention date.
      otherServices:
        type: array
        description: Lists Other Service Information (OSI) which should be modified.
        items:
          $ref: '#/definitions/CommonOtherServiceInformation'
      fares:
        type: array
        description: Lists details of saved fares. This service applies data from a Price Quote.
        #source: Taken from GetReservationRS.PriceQuoteInfo where source is a Price Quote in status 'A - Active' or 'M - Manual'.
        items:
          $ref: '#/definitions/FareToModify'

  ModifyIdentityDocument:
    type: object
    description: Contains details of the identity document to modify.
    allOf:
      - $ref: '#/definitions/IdentityDocumentDetails'
      - type: object
        properties:
          flights:
            type: array
            description: Lists flights associated with a document referenced by their `itemId`. A single identity document can be
              associated with multiple flight IDs.
            items:
              $ref: '#/definitions/FlightReference'
              description: Contains flight object reference by `itemId`.

  IdentityDocumentDetails:
    type: object
    description: Contains details of an identity document.
    required:
      - documentType
    properties:
      documentNumber:
        type: string
        pattern: '^[a-zA-Z0-9]+$'
        example: '0123456789'
        description: The unique identifier of the document.
      documentType:
        $ref: '#/definitions/DocumentTypeEnum'
        description: Identifies the type of passenger document.
      passportType:
        $ref: '#/definitions/PassportTypeResponseEnum'
        description: Identifies the type of the passenger's passport document. Must be combined with the `documentType`
          parameter set to `PASSPORT`.
      visaType:
        $ref: '#/definitions/VisaTypeResponseEnum'
        description: Identifies the type of the passenger's visa document. Must be combined with the `documentType` parameter
          set to `VISA`.
      expiryDate:
        type: string
        format: date
        example: '2024-07-09'
        description: The expiration date of the identity document in the `YYYY-MM-DD` format.
      issuingCountryCode:
        type: string
        pattern: '^[A-Z]{2,3}$'
        example: 'US'
        description: The country issuing the passenger document provided as a two- or three-letter ISO 3166 code. Not applicable
          to the `VISA` document type.
      residenceCountryCode:
        type: string
        pattern: '^[A-Z]{2,3}$'
        example: 'US'
        description: The country the passenger resides in or their nationality country provided as a two- or three-letter ISO
          3166 code.
      placeOfIssue:
        type: string
        maxLength: 35
        example: 'LONDON UK'
        description: The country the `VISA` document was issued in. Used with the `VISA` document type (NDC not supported).
      placeOfBirth:
        type: string
        maxLength: 35
        example: 'LYON FR'
        description: The place of birth of the passenger. Mainly used with the `VISA` document type (NDC not supported).
      hostCountryCode:
        type: string
        pattern: '^[A-Z]{2,3}$'
        example: 'US'
        description: The two- or three-letter country code where the document is valid. Used with the `VISA` document type (NDC
          not supported).
      issueDate:
        type: string
        format: date
        example: '2024-07-09'
        description: The date the identity document was issued on provided in the `YYYY-MM-DD` format. Mainly used with the
          `VISA` document type.
      givenName:
        type: string
        example: 'John'
        description: The traveler's first name.
      middleName:
        type: string
        example: 'Jack'
        description: The traveler's middle name (NDC not supported).
      surname:
        type: string
        example: 'Smith'
        description: The traveler's last name.
      birthDate:
        type: string
        format: date
        example: '2024-12-02'
        description: The traveler's date of birth in the `YYYY-MM-DD` format.
      gender:
        $ref: '#/definitions/GenderEnum'
        description: Identifies the gender of the passenger.
      isPrimaryDocumentHolder:
        type: boolean
        example: true
        description: If `true`, indicates the primary holder of a document issued for multiple travelers.
      isLapChildDocument:
        type: boolean
        example: true
        description: If `true`, the identity document applies to a lap child. Can only be used with `VISA`, `RESIDENCE_ADDRESS`,
          and `DESTINATION_ADDRESS` document types.
      residenceDestinationAddress:
        $ref: '#/definitions/Address'
        description: The residence or destination address of the traveler.
      citizenshipCountryCode:
        type: string
        pattern: '^[A-Z]{2,3}$'
        example: 'US'
        description: The traveler's citizenship country provided as a two- or three-letter ISO 3166 code.

  CreationDetails:
    type: object
    description: Contains details about the creation.
    properties:
      creationUserSine:
        type: string
        example: 'A12'
        description: The sine of the Employee Profile Record that created the booking. Not supported for NDC bookings.
        #source: For ATPCO bookings: /GetReservationRS/Reservation/BookingDetails/CreationAgentID. For ATPCO fares: /GetReservationRS/PriceQuoteInfo/Details/Agentinfo@sine.
      creationDate:
        type: string
        format: date
        example: '2024-01-09'
        description: The date in `YYYY-MM-DD` format when the booking was created.
        #source: For ATPCO bookings: /GetReservationRS/Reservation/BookingDetails/CreationTimestamp. For ATPCO fares: /GetReservationRS/PriceQuoteInfo/Transactioninfo/CreateDateTime.
      creationTime:
        type: string
        pattern: '^[0-9]{2}:[0-9]{2}$'
        example: '15:00'
        description: The time in `HH:MM` format when the booking was created. Not supported for NDC bookings.
        #source: For ATPCO bookings: /GetReservationRS/Reservation/BookingDetails/CreationTimestamp. For ATPCO fares: /GetReservationRS/PriceQuoteInfo/Transactioninfo/CreateDateTime.
      purchaseDeadlineDate:
        type: string
        format: date
        example: '2024-01-09'
        description: The date in the `YYYY-MM-DD` format by which the price is guaranteed by the airline. Applies to NDC content only.
        #source: OrderViewResponse.order.orderItem.priceGuaranteeTimeLimit
      purchaseDeadlineTime:
        type: string
        pattern: '^[0-9]{2}:[0-9]{2}$'
        example: '15:00'
        description: The time in the `HH:MM` format by which the price is guaranteed by the airline. Applies to NDC content only.
        #source: OrderViewResponse.order.orderItem.priceGuaranteeTimeLimit
      agencyIataNumber:
        type: string
        pattern: '^[0-9]{7,8}$'
        example: '99119911'
        description: A unique identifier accredited by the International Air Transport Association (IATA).
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Lodging/ResGlobalInfo/BookingInfo/HotelReservationIds/HotelReservation
      userWorkPcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'AB12'
        description: The pseudo city code where the booking was created.
        #source: For the ATPCO bookings: /GetReservationRS/Reservation/POS/Source@PseudoCityCode. For NDC bookings: OrderViewResponse.order.pseudoCityCode. For ATPCO fares: /GetReservationRS/PriceQuoteInfo/Details/Agentinfo/WorkLocation. NDC fares are not supported.
      userHomePcc:
        type: string
        pattern: '^[A-Z0-9]{3,4}$'
        example: 'CD34'
        description: The pseudo city code of the agent who created the booking.
        #source: For ATPCO bookings: /GetReservationRS/Reservation/POS/Source@HomePseudoCityCode. For ATPCO fares: /GetReservationRS/PriceQuoteInfo/Details/Agentinfo/HomeLocation.
      primeHostId:
        type: string
        example: '1S'
        description: The identification code for the prime host (global distribution system) associated with the reservation.
        #source: For ATPCO bookings: /GetReservationRS/Reservation/POS/Source@PrimeHostID. ATPCO and NDC fares are not supported.
      lastUpdateDate:
        type: string
        format: date
        example: '2026-01-09'
        description: The date in `YYYY-MM-DD` format when the booking was last updated.
        #source: For ATPCO bookings: /GetReservationRS/Reservation/BookingDetails/UpdateTimestamp.
      lastUpdateTime:
        type: string
        pattern: '^[0-9]{2}:[0-9]{2}$'
        example: '15:00'
        description: The time in `HH:MM` format when the booking was last updated. Not supported for NDC bookings.
        #source: For ATPCO bookings: /GetReservationRS/Reservation/BookingDetails/UpdateTimestamp.
      numberOfUpdates:
        type: integer
        format: int32
        minimum: 1
        example: 4
        description: The number of all booking updates committed.

  OtherServiceInformation:
    type: object
    description: Contains Other Service Information (OSI) sent to or retrieved from a specific vendor.
    allOf:
      - $ref: '#/definitions/CommonOtherServiceInformation'
      - type: object
        properties:
          chainCode:
            type: string
            pattern: '^[A-Z0-9]{2}$'
            example: 'BY'
            description: The two-character code of the hotel chain.
            #source: /GetReservationRS/Reservation/OpenReservationElements/OpenReservationElementServiceRequest@serviceType="OSI"
          vendorCode:
            type: string
            pattern: '^[A-Z]{2}$'
            example: 'ZE'
            description: The two-letter code of the car rental vendor.
            #source: /GetReservationRS/Reservation/OpenReservationElements/OpenReservationElementServiceRequest@serviceType="OSI"

  ContactInformation:
    type: object
    description: Contains contact information for the booking.
    properties:
      emails:
        type: array
        description: Lists email addresses of travelers or vendors.
        items:
          type: string
          format: email
          example: 'travel@sabre.com'
          description: An email address.
        #source: /GetReservationRS/Reservation/EmailAddresses/EmailAddress/Address
      phones:
        type: array
        description: Lists formatted phone numbers of travelers or vendors.
        items:
          type: string
          pattern: '^[0-9+-]+$'
          example: '+1-555-123-4567'
          description: A formatted phone number.
        #source: for CSL-Contents from: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Lodging/HotelInfo/LocationInfo/Contact@Phone, for GDS-Contents from: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Hotel/AdditionalInformation/ContactNumbers/PhoneNumber, for Cars from: /OTA_VehLocDetailRS/VehAvailRSCore/VehVendorAvails/VehVendorAvail/LocationDetails/ContactNumbers/ContactNumber@Phone, other: /GetReservationRS/Reservation/PhoneNumbers/PhoneNumber/Number
      faxes:
        type: array
        description: Lists formatted fax numbers of travelers or vendors.
        items:
          type: string
          pattern: '^[0-9A-Za-z+-.]+$'
          example: '+1-555-123-4567'
          description: A formatted fax number.
        #source: for CSL-Contents from: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Lodging/HotelInfo/LocationInfo/Contact@Fax, for GDS-Contents from: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Hotel/AdditionalInformation/ContactNumbers/FaxNumber, for Cars from: /OTA_VehLocDetailRS/VehAvailRSCore/VehVendorAvails/VehVendorAvail/LocationDetails/ContactNumbers/ContactNumber@Fax
      emergencyPhones:
        type: array
        description: Lists formatted phone numbers to use as vendor emergency contacts.
        items:
          type: string
          pattern: '^[0-9+-]+$'
          example: '+1-555-123-4567'
          description: A formatted phone number.
        #source: for Cars from: /OTA_VehLocDetailRS/VehAvailRSCore/VehVendorAvails/VehVendorAvail/LocationDetails/ContactNumbers/ContactNumber@Emergency

  BookContactInformation:
    type: object
    description: Contains contact information for the booking.
    properties:
      emails:
        type: array
        description: Lists email addresses of travelers or vendors.
        items:
          type: string
          format: email
          example: 'travel@sabre.com'
          description: An email address.
        #source: /GetReservationRS/Reservation/EmailAddresses/EmailAddress/Address
      phones:
        type: array
        description: Lists formatted phone numbers of travelers or vendors.
        items:
          type: string
          pattern: '^[0-9+-]+$'
          example: '+1-555-123-4567'
          description: A formatted phone number.
        #source: for CSL-Contents from: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Lodging/HotelInfo/LocationInfo/Contact@Phone, for GDS-Contents from: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Hotel/AdditionalInformation/ContactNumbers/PhoneNumber, for Cars from: /OTA_VehLocDetailRS/VehAvailRSCore/VehVendorAvails/VehVendorAvail/LocationDetails/ContactNumbers/ContactNumber@Phone, other: /GetReservationRS/Reservation/PhoneNumbers/PhoneNumber/Number
      faxes:
        type: array
        description: Lists formatted fax numbers of travelers or vendors.
        items:
          type: string
          pattern: '^[0-9A-Za-z+-.]+$'
          example: '+1-555-123-4567'
          description: A formatted fax number.
        #source: for CSL-Contents from: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Lodging/HotelInfo/LocationInfo/Contact@Fax, for GDS-Contents from: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Hotel/AdditionalInformation/ContactNumbers/FaxNumber, for Cars from: /OTA_VehLocDetailRS/VehAvailRSCore/VehVendorAvails/VehVendorAvail/LocationDetails/ContactNumbers/ContactNumber@Fax
      emergencyPhones:
        type: array
        description: Lists formatted phone numbers to use as vendor emergency contacts.
        items:
          type: string
          pattern: '^[0-9A-Za-z+-.]+$'
          example: '+1-555-123-4567'
          description: A formatted phone number.
        #source: for Cars from: /OTA_VehLocDetailRS/VehAvailRSCore/VehVendorAvails/VehVendorAvail/LocationDetails/ContactNumbers/ContactNumber@Emergency

  GenericAddress:
    type: object
    description: Contains address information.
    allOf:
      - $ref: '#/definitions/Address'
      - type: object
        properties:
          name:
            type: string
            example: 'John Smith'
            description: The name of the person or the company/organization.
          freeText:
            type: string
            example: 'John Smith

              1230 Ellen Ave, Apt 10

              Dallas, TX 75063

              US

              '
            description: The full address provided as free text. Use this alternative address representation when a structured
              address is not available.

  AgencyContacts:
    type: object
    description: Contains contact information of an agency.
    properties:
      emails:
        type: array
        description: Lists the agency's email addresses.
        items:
          type: string
          format: email
          example: 'travel@sabre.com'
          description: An email address.
      phones:
        type: array
        description: Lists the agency's formatted phone numbers.
        items:
          type: string
          pattern: '^[0-9+-]+$'
          example: '+1-555-123-4567'
          description: A formatted phone number.
      includePhoneLabel:
        type: boolean
        default: false
        description: If `true`, an agency label will be attached to each phone number in the `phones` array.

  Address:
    type: object
    description: Contains basic address information.
    properties:
      street:
        type: string
        example: '1230 Ellen Ave, apt 10'
        description: The street name and house number accompanied with the number of apartment, unit, or suite, if applicable.
      city:
        type: string
        example: 'Dallas'
        description: The name of the city.
      stateProvince:
        type: string
        example: 'TX'
        description: The name or code of the state or province.
      postalCode:
        type: string
        example: '75063'
        description: The zip or postal code.
      countryCode:
        type: string
        pattern: '^[A-Z]{2}$'
        example: 'US'
        description: The two-letter [ISO 3166](https://www.iso.org/iso-3166-country-codes.html) country code.

  Voucher:
    type: object
    description: Contains voucher information.
    properties:
      billingNumber:
        type: string
        example: '1234567'
        description: The billing number associated with the voucher.
      type:
        type: string
        example: 'FC'
        description: Abbreviated code that indicates the type of voucher.

  Traveler:
    type: object
    description: Contains traveler information.
    required:
      - givenName
      - surname
    properties:
      givenName:
        type: string
        example: 'John'
        description: The traveler's first name.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Passenger/@firstName
      middleName:
        type: string
        example: 'W'
        description: The middle name or the initial of the middle name of the traveler. Currently not supported in the Create
          Booking endpoint.
        #source: For NDC: OrderViewResponse.order.passengers.middleName
      surname:
        type: string
        example: 'Smith'
        description: The traveler's last name.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Passenger/@lastName
      birthDate:
        type: string
        format: date
        example: '2024-01-23'
        description: The date of birth of the traveler in `YYYY-MM-DD` format.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Passenger/@dateOfBirth
      gender:
        $ref: '#/definitions/GenderEnum'
        description: Identifies the gender of the traveler. Applies to NDC content only.
      type:
        $ref: '#/definitions/TravelerTypeEnum'
        description: Identifies the type of the traveler.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Passenger/@passengerType
      passengerCode:
        type: string
        pattern: '^[A-Z][A-Z0-9]{2}$'
        example: 'ADT'
        description: The ATPCO code of the passenger type used for pricing, ticketing or fare rules of booked flights.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Passenger/@passengerType
      nameAssociationId:
        type: string
        pattern: '^[A-Z0-9]+$'
        example: '3'
        description: The ID associated with the traveler. Used for reference purposes after a booking PNR divide operation or
          traveler name change have been performed.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Passenger/@nameAssocId
      nameReferenceCode:
        type: string
        pattern: '^[a-zA-Z0-9 ,.*\-]{0,29}$'
        example: 'C05'
        description: An additional code associated with the traveler (the so-called MAN number or statement information) used
          for accounting or identification purposes.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Passenger/@referenceNumber
      isGrouped:
        type: boolean
        example: true
        description: If `true`, the traveler is associated with a group booking.
        #source: Value set based on /GetReservationRS/Reservation/PassengerReservation/Passengers/Corporate element
      emails:
        type: array
        description: Lists all email addresses of the traveler.
        #source: For NDC: orders/view OrderViewResponse.order.contactInfos.emailAddresses. For ATPCO content from the Get Reservation Response: /GetReservationRS/Reservation/PassengerReservation/Passengers/Passenger/EmailAddress
        items:
          type: string
          format: email
          example: 'john@smith.family.priv'
          description: The traveler's email address.
          #source: For NDC: orders/view OrderViewResponse.order.contactInfos.emailAddresses@address. For ATPCO content from the Get Reservation Response: /GetReservationRS/Reservation/PassengerReservation/Passengers/Passenger/EmailAddress/@address
      phones:
        type: array
        description: Lists all phone numbers associated with the traveler.
        #source: For NDC: orders/view OrderViewResponse.order.contactInfos.phones. For ATPCO content from the Get Reservation Response: /GetReservationRS/Reservation/PhoneNumbers/PhoneNumber/Number
        items:
          $ref: '#/definitions/PhoneResponse'
      remarks:
        type: array
        description: Lists all remarks associated with the traveler.
        #source: For ATPCO content from the Get Reservation Response: /GetReservationRS/Reservation/PhoneNumbers/PhoneNumber/Number
        items:
          $ref: '#/definitions/Remark'
      address:
        $ref: '#/definitions/GenericAddress'
        description: The address of the traveler.
        #source: /GetReservationRS/Reservation/Remarks/Remark
      identityDocuments:
        type: array
        description: Lists the identity documents applicable for a traveler.
        items:
          $ref: '#/definitions/IdentityDocument'
          description: Contains details of an identity document.
      loyaltyPrograms:
        type: array
        description: Lists the loyalty programs applicable for a traveler.
        items:
          $ref: '#/definitions/LoyaltyProgram'
          description: Contains details of the passenger's loyalty program, such as a frequent flyer card.
        #source: Values are merged from GetReservationRS and Order service.
      ancillaries:
        type: array
        description: Lists the details of ancillary services.
        items:
          $ref: '#/definitions/Ancillary'
      formOfPaymentIndices:
        type: array
        description: Lists the indices of forms of payment associated with the traveler.
        items:
          type: integer
          format: int32
          minimum: 1
          example: 1
          description: The index of a form of payment from the `formsOfPayment` array.
      employerIndex:
        type: integer
        format: int32
        minimum: 1
        example: 1
        description: The ID of an item from the `travelersEmployers` array. Indicates the employer associated with the traveler.

  TravelersGroup:
    type: object
    description: Contains information about the group the travelers belong to.
    properties:
      itemId:
        type: string
        pattern: '^[A-Z0-9]+$'
        example: '3'
        description: Contains the ID of the group.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Corporate/@id
      name:
        type: string
        example: 'GROUP ONE'
        description: The name of the group.
        #source: /GetReservationRS/Reservation/PassengerReservation/Passengers/Corporate/Name
      numberOfTravelers:
        type: integer
        format: int32
        minimum: 1
        example: 1
        description: The total number of travelers within the group. Lap infants are not taken into consideration.
        #source: For ATPCO: /GetReservationRS/Reservation/PassengerReservation/Passengers/Corporate/NumInGroup
      numberOfTravelersRemaining:
        type: integer
        format: int32
        minimum: 0
        example: 1
        description: The number of remaining travelers within the group whose names are not provided. Lap infants are not taken
          into consideration.
        #source: For ATPCO: /GetReservationRS/Reservation/PassengerReservation/Passengers/Corporate/NumberOfSeatsRemaining

  Flight:
    type: object
    description: Contains flight information, identified by `itemId`, for the given booking.
    #source: Retrieved from GetReservationRQ or /orders/view services. ++For flights from PNR(GetReservationRQ) taken from: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air ++For NDC flights(/orders/view) taken from: OrderViewResponse.order.segments
    allOf:
      - $ref: '#/definitions/FlightReference'
      - $ref: '#/definitions/FlightItem'

  FlightReference:
    type: object
    description: Contains flight object reference by `itemId`.
    #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment
    required:
      - itemId
    properties:
      itemId:
        type: string
        pattern: '^[A-Z0-9]+$'
        example: '12'
        description: The ID of a flight.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/@id ++ /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/@id

  FlightItem:
    type: object
    description: Contains flight information for the given booking.
    #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air ++ OrderViewResponse.order.segments
    required:
      - flightNumber
      - airlineCode
      - departureDate
      - departureTime
      - fromAirportCode
      - arrivalDate
      - arrivalTime
      - toAirportCode
    properties:
      confirmationId:
        type: string
        pattern: '^[A-Z0-9]{5,}$'
        example: 'NIEBNY'
        description: The booking reference ID in the carrier's system. For example, this value would reflect the PNR Locator for
          American Airlines.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Air/AirlineRefId ++ OrderViewResponse.order.externalOrders.bookingReference.id
      sourceType:
        $ref: '#/definitions/FlightSourceEnum'
        description: Identifies applicable type of the source of booking flight.
        #source: For PNR(GetReservationRQ) -> ATPCO ++ For PNR(GetReservationRQ) when /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/AirlineRefId starts with RC -> LCC ++ For NDC flights -> NDC
      flightNumber:
        type: integer
        format: int32
        minimum: 1
        maximum: 9999
        example: 123
        description: The flight number associated with the marketing carrier.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/MarketingFlightNumber ++ OrderViewResponse.order.segments.marketingCarrier.flightNumber
      airlineCode:
        type: string
        pattern: '^[A-Z0-9]{2}$'
        example: 'AA'
        description: The two-letter [IATA](https://www.iata.org/about/members/Pages/airline-list.aspx?All=true) designator code
          of the marketing airline.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/MarketingAirlineCode ++ OrderViewResponse.order.segments.marketingCarrier.carrierCode
      airlineName:
        type: string
        example: 'AMERICAN AIRLINES'
        description: The name of the marketing airline.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/Banner ++ OrderViewResponse.order.segments.marketingCarrier.carrierName
      operatingFlightNumber:
        type: integer
        format: int32
        minimum: 1
        maximum: 9999
        example: 321
        description: The flight number associated with the operating carrier.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/FlightNumber ++ OrderViewResponse.order.segments.operatingCarrier.flightNumber or OrderViewResponse.order.segments.marketingCarrier.flightNumber
      operatingAirlineCode:
        type: string
        pattern: '^[A-Z0-9]{2}$'
        example: 'UA'
        description: The two-letter [IATA](https://www.iata.org/about/members/Pages/airline-list.aspx?All=true) designator code
          of the operating airline.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/OperatingAirlineCode ++ OrderViewResponse.order.segments.operatingCarrier.carrierCode or OrderViewResponse.order.segments.marketingCarrier.carrierCode
      operatingAirlineName:
        type: string
        example: 'UNITED AIRLINES'
        description: The name of the operating airline.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/OperatingAirlineShortName ++ OrderViewResponse.order.segments.operatingCarrier.carrierName
      fromAirportCode:
        type: string
        pattern: '^[A-Z]{3}$'
        example: 'DFW'
        description: The three-letter IATA airport code of the origin airport.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/DepartureAirport ++ OrderViewResponse.order.segments.departure.locationCode
      toAirportCode:
        type: string
        pattern: '^[A-Z]{3}$'
        example: 'HNL'
        description: The three-letter IATA airport code of the destination airport.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/ArrivalAirport ++ OrderViewResponse.order.segments.arrival.locationCode
      departureDate:
        type: string
        format: date
        example: '2024-07-09'
        description: The scheduled departure date in `YYYY-MM-DD` format in the airport's time zone.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/DepartureDateTime ++ OrderViewResponse.order.segments.departure.scheduledDateTime
      departureTime:
        type: string
        pattern: '^[0-9]{2}:[0-9]{2}(:[0-9]{2})?$'
        example: '09:15'
        description: The scheduled time of departure in `HH:MM` format.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/DepartureDateTime ++ OrderViewResponse.order.segments.departure.scheduledDateTime
      updatedDepartureDate:
        type: string
        format: date
        example: '2024-07-09'
        description: The estimated (before departure) or actual departure date in `YYYY-MM-DD` format in the airport's time zone.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/UpdatedDepartureDate
      updatedDepartureTime:
        type: string
        pattern: '^[0-9]{2}:[0-9]{2}(:[0-9]{2})?$'
        example: '09:25'
        description: The estimated (before departure) or actual departure time in `HH:MM` format.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/UpdatedDepartureTime
      departureTerminalName:
        type: string
        example: 'Terminal D'
        description: The departure terminal name.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/DepartureTerminalName ++ OrderViewResponse.order.segments.departure.terminalName
      departureGate:
        type: string
        example: 'D'
        description: The departure gate number.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/DepartureTerminalCode ++ OrderViewResponse.order.segments.departure.gateId
      arrivalDate:
        type: string
        format: date
        example: '2024-07-09'
        description: The scheduled arrival date in `YYYY-MM-DD` format in the airport's time zone.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/ArrivalDateTime ++ OrderViewResponse.order.segments.arrival.scheduledDateTime
      arrivalTime:
        type: string
        pattern: '^[0-9]{2}:[0-9]{2}(:[0-9]{2})?$'
        example: '12:28'
        description: The scheduled time of arrival in `HH:MM` format.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/ArrivalDateTime ++ OrderViewResponse.order.segments.arrival.scheduledDateTime
      updatedArrivalDate:
        type: string
        format: date
        example: '2024-07-09'
        description: The estimated (before arrival) or actual arrival date in `YYYY-MM-DD` format in the airport's time zone.
        #source: Value calculated based on updated departure date/time and flight duration
      updatedArrivalTime:
        type: string
        pattern: '^[0-9]{2}:[0-9]{2}(:[0-9]{2})?$'
        example: '12:38'
        description: The estimated (before arrival) or actual arrival time in `HH:MM` format.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/UpdatedArrivalTime
      arrivalTerminalName:
        type: string
        example: 'Terminal 1'
        description: The arrival terminal name.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/ArrivalTerminalName ++ OrderViewResponse.order.segments.arrival.terminalName
      arrivalGate:
        type: string
        example: '1'
        description: The arrival gate's number.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/ArrivalTerminalCode ++ OrderViewResponse.order.segments.arrival.gateId
      seats:
        type: array
        description: Lists seats assigned to the travelers. The first seat in the `seats` array corresponds to the first
          traveler in the `travelers` array, the second seat to the second traveler, and so on. An empty Seat object or
          a null value indicates that no seat is assigned to the corresponding traveler. In the case of a change of
          gauge or funnel flight, this array lists seats for the first aircraft.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/Seats
        items:
          $ref: '#/definitions/Seat'
          description: Contains detailed information about the seat.
      changeOfGaugeSeats:
        type: array
        description: Lists seats assigned to the travelers on the departing aircraft on a change of gauge or funnel flight. The
          first seat in the `seats` array corresponds to the first traveler in the `travelers` array, the second seat to
          the second traveler, and so on. A null value instead of a `Seat` object indicates that there is no seat
          assigned to the corresponding traveler.
        items:
          $ref: '#/definitions/Seat'
          description: Contains detailed information about the seat.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/Seats
      numberOfSeats:
        type: integer
        format: int32
        minimum: 1
        example: 1
        description: The quantity of seats occupied by the travelers. Specific seat details, if applicable, are listed in the
          'seats' array.
        #source: For ATPCO: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/NumberInParty. Not supported for NDC.
      cabinTypeName:
        type: string
        pattern: '^[A-Za-z ]+$'
        example: 'Coach'
        description: The type of aircraft cabin. The name used is specific to the airline carrier's naming convention.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Air/Cabin/@name
      cabinTypeCode:
        type: string
        pattern: '^[A-Z]$'
        example: 'C'
        description: The cabin type code.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/Cabin/@Code ++ /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Air/Cabin/@code
      aircraftTypeCode:
        type: string
        pattern: '^[A-Z0-9]{2,3}$'
        example: 'E90'
        description: The IATA code of the aircraft.
        #source: For ATPCO: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/EquipmentType. For NDC: OrderViewResponse.order.segments[].carrierAircraftType.code.
      aircraftTypeName:
        type: string
        example: 'EMBRAER EMB E90'
        description: The name of the aircraft model.
        #source: For ATPCO: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/EquipmentType. For NDC: OrderViewResponse.order.segments[].carrierAircraftType.name.
      bookingClass:
        type: string
        pattern: '^[A-Z]$'
        example: 'Y'
        description: The booking inventory code of the marketing airline.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/MarketingClassOfService ++ OrderViewResponse.order.segments.marketingCarrier.classOfService
      meals:
        type: array
        description: Lists the meal options provided on the flight.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/Meal ++ /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Air/MealCode
        items:
          $ref: '#/definitions/Meal'
          description: Contains the meal options provided on the flight.
      flightStatusCode:
        type: string
        pattern: '^[A-Z]{2}$'
        example: 'AF'
        description: The two-letter status code used by vendors. It indicates the booking status.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/ActionCode ++ /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Air/ActionCode
      flightStatusName:
        $ref: '#/definitions/StatusNameEnum'
        description: The meaningful value describing the booking status.
        #source: Description of statusName based on statusCode (lack of description when not defined for statusCode).
      durationInMinutes:
        type: integer
        format: int32
        minimum: 1
        example: 590
        description: Flight duration in minutes.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Air/ElapsedTime
      distanceInMiles:
        type: integer
        format: int32
        minimum: 1
        example: 5143
        description: The flight distance in miles.
        #source: /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Product/ProductDetails/Air/AirMilesFlown
      hiddenStopAircraftTypeCode:
        type: string
        pattern: '^[A-Z0-9]{2,3}$'
        example: 'E90'
        description: The IATA code of the aircraft. This property is not returned when the aircraft type is unchanged. This
          property will be deprecated in the future major version of this API. If you wish to check hidden stop
          information, use the `hiddenStops` list instead.
        #source: For ATPCO, taken from /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/HiddenStop/@EquipmentType. For NDC: OrderViewResponse.order.segments.datedOperatingLegs.carrierAircraftType.code.
      hiddenStopAircraftTypeName:
        type: string
        example: 'EMBRAER EMB E90'
        description: The name of the aircraft model. This property is not returned when the aircraft type is unchanged. This
          property will be deprecated in the future major version of this API. If you wish to check hidden stop
          information, use the `hiddenStops` list instead.
        #source: For ATPCO, taken from /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/HiddenStop/@EquipmentType. For NDC: OrderViewResponse.order.segments.datedOperatingLegs.carrierAircraftType.code.
      hiddenStopAirportCode:
        type: string
        pattern: '^[A-Z]{3}$'
        example: 'HAV'
        description: The three-letter IATA airport code of the hidden stop airport. This property is not returned when the
          aircraft type is unchanged. This property will be deprecated in the future major version of this API. If you
          wish to check hidden stop information, use the `hiddenStops` list instead.
        #source: For ATPCO, taken from /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/HiddenStop/@Airport. For NDC: OrderViewResponse.order.segments.datedOperatingLegs.departure.locationCode.
      hiddenStopArrivalDate:
        type: string
        format: date
        example: '2024-07-09'
        description: The arrival date to the hidden stop airport in the `YYYY-MM-DD` format in the airport's time zone. This
          property is not returned when the aircraft type is unchanged. This property will be deprecated in the future
          major version of this API. If you wish to check hidden stop information, use the `hiddenStops` list instead.
        #source: For ATPCO, taken from /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/HiddenStop/ArrivalDateTime. For NDC: OrderViewResponse.order.segments.datedOperatingLegs.arrival.scheduledDateTime.
      hiddenStopArrivalTime:
        type: string
        pattern: '^[0-9]{2}:[0-9]{2}(:[0-9]{2})?$'
        example: '09:15'
        description: The time of arrival to the hidden stop airport in the `HH:MM` format. This property is not returned when
          the aircraft type is unchanged. This property will be deprecated in the future major version of this API. If
          you wish to check hidden stop information, use the `hiddenStops` list instead.
        #source: For ATPCO, taken from /GetReservationRS/Reservation/PassengerReservation/Segments/Segment/Air/HiddenStop/ArrivalDateTime. For NDC: OrderViewResponse.order.segments.datedOperatingLegs.arrival.scheduledDateTime.
      hiddenStopDepartureDate:
        type: string
        format: date
        example: '2024-07-09'
        description: The departure date from the hidden stop airport in the `YYYY-MM-DD` format in the airport's time zone. This
          property is not returned when the aircraft type is unchanged. This property will be deprecated in the future
          major version of this API. If you wish to check hidden stop information, use the `hiddenStops` list instead.
[...]
