swagger: '2.0'
info:
  title: Get Hotel Details
  version: 'v2'
  description: The Get Hotel Details API provides information about the availability of specific properties, with descriptive and visual content included, from all the requested supply sources based on a specific stay period and occupancy.
host: api.cert.platform.sabre.com
basePath: /
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /v2.0.0/get/hoteldetails:
    post:
      operationId: getHotelDetails
      parameters:
        - name: getHotelDetailsRequest
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetHotelDetailsRequest'
        - name: Application-ID
          in: header
          required: false
          type: string
          description: Specifies the customer application ID.
      responses:
        '200':
          schema:
            $ref: '#/definitions/GetHotelDetailsResponse'
          description: Success
        '400':
          description: Invalid request format.
definitions:
  GetHotelDetailsRequest:
    type: object
    required:
      - GetHotelDetailsRQ
    properties:
      GetHotelDetailsRQ:
        type: object
        required:
          - SearchCriteria
        properties:
          POS:
            type: object
            required:
             - Source
            properties:
              Source:
                description: Shop in an authorized branch location PCC.
                required:
                  - PseudoCityCode
                properties:
                  PseudoCityCode:
                    type: string
                    description: Four-character pseudo city code (PCC) of authorized branch location.
                    pattern: '^[a-zA-Z0-9]{4}$'
                    example: "TM61"                
          SearchCriteria:
            type: object
            description: Contains the request to get the detailed static and price information for a particular hotel.
            required:
              - HotelRefs
              - RateInfoRef
            properties:
              ShopKey:
                type: string
                description: The ShopKey is returned when additional rates can be returned from sources in the API response. This ShopKey can then be appended to the request to get the next set of rates, similar to an HOD*M command in legacy.
                example: '1VPTneIQZRZ05aTk5wgCn0RX3x5yTNO6HtAtsaydr5My3ejpv0USJUNcTsjIfr/v2VB/Z/nHlU1IE45Yt8ayWw=='
              HotelRefs:
                type: object
                description: Contains option to specify the hotel property information for which the media content and descriptive information needs to be retrieved.
                required:
                - HotelRef
                properties:
                  HotelRef:
                    type: object
                    description: Contains a list of hotels by reference code.
                    required:
                      - HotelCode
                    properties:
                      HotelCode:
                        type: string
                        description: The identification code of a hotel.
                        minLength: 1
                        maxLength: 20
                        example: '100123982'
                      CodeContext:
                        type: string
                        description: Identifies the type of code context. Sabre is code context by default.
                        default: 'SABRE'
                        enum:
                          - SABRE
                          - GLOBAL
                        example: 'GLOBAL'
              RateInfoRef:
                type: object
                description: Contains rate information for the search request.
                required:
                  - StayDateRange
                  - Rooms
                properties: 
                  CurrencyCode:
                    type: string
                    pattern: '^[A-Z]{3}$'
                    description: The three-letter ISO 4217 currency code.
                    example: 'USD'
                  PrepaidQualifier:
                    type: string
                    description: Identifies whether you want to see both Prepaid and postpaid, only prepaid, or only postpaid rates. Currently, all GDS and Booking.com rates are treated as post paid and all Bedsonline rates are treated as pre-paid.
                    example: 'IncludePrepaid'
                    default: 'IncludePrepaid'
                    enum:
                      - IncludePrepaid
                      - PrepaidOnly
                      - ExcludePrepaid
                  RefundableOnly:
                    type: boolean
                    description: If true, displays only refundable rates in the response.
                    default: false
                    example: true
                  ConvertedRateInfoOnly:
                    type: boolean
                    description: If true, displays rates only in the requested currency. If false, displays rates with both the requested currency and the hotel accepted currency in the response.
                    default: true
                    example: true
                  StayDateRange:
                    type: object
                    description: Contains information regarding the hotel stay duration.
                    required:
                      - StartDate
                      - EndDate
                    properties:
                      StartDate:
                        type: string
                        format: date
                        example : '2024-06-20'
                        description: The check-in date in YYYY-MM-DD format.
                      EndDate:
                        type: string
                        format: date
                        example : '2024-06-21'
                        description: The checkout date in YYYY-MM-DD format.
                  RateRange:
                    type: object
                    description: Contains Min/Max limits for the nightly rates to be returned.
                    properties:
                      Min:
                        type: number
                        multipleOf: 0.01
                        description: Hotels with average nightly rates greater than this value will be returned in the response.
                        example: 100.05
                      Max:
                        type: number
                        multipleOf: 0.01
                        description: Hotels with average nightly rates lower than this value will be returned in the response.
                        example: 1013.05
                  Rooms:
                    type: object
                    required:
                      - Room
                    properties:
                      RoomSetType:
                        type: string
                        description: Identifies the normalised room rates all across the sources.
                        enum:
                          - BedTypeCode
                          - InfoSource
                      Room: 
                        type: array
                        description: Lists room information.
                        minItems: 1
                        items:
                          type: object
                          required:
                            - Index
                            - Adults
                          properties:
                            Index:
                              type: integer
                              minimum: 1
                              description: Specifies the index number of the room.
                              example: 1
                            Adults:
                              type: integer
                              minimum: 1
                              description: Specifies the number of adults to stay in the room.
                              example: 1
                            Children:
                              type: integer
                              minimum: 0
                              description: Specifies the number of children to stay in the room.
                              example: 1
                            ChildAges:
                              type: string
                              example: '10'
                              description: Specifies the age of children staying in the room.
                  RatePlanCandidates:
                    type: object
                    description: Contains a max of 11 `RatePlanCandidate` tags to match IRAC.
                    required:
                      - RatePlanCandidate
                    properties:
                      ExactMatchOnly:
                        type: boolean
                        description: If true, indicates the response message should send back only return rates that are an exact match to the requested `RatePlanCandidate` criteria.
                        default: false
                        example : false
                      RatePlanCandidate: 
                        type: array
                        description: Lists properties that are candidates for specific rate plans.
                        minItems: 1
                        maxItems: 11
                        items:
                          type: object
                          properties:
                            RatePlanType:
                              type: string
                              pattern: '^[0-9]{1,2}$'
                              enum:
                               - '1'
                               - '2'
                               - '3'
                               - '4'
                               - '5'
                               - '6'
                               - '7'
                               - '8'
                               - '9'
                               - '10'
                               - '11'
                               - '12'
                               - '13'
                               - '14'
                               - '15'
                               - '16'
                               - '17'
                               - '18'
                               - '19'
                               - '20'
                               - '21'
                               - '22'
                               - '23'
                               - '24'
                               - '25'
                               - '26'
                               - '27'
                               - '28'
                               - '29'
                               - '30'
                               - '31'
                               - '32'
                               - '33'
                              description: Identifies a specific rate type. Allows a query to specify the rate category type and provides major categories for comparison across brands. Refer to OpenTravel Code List Rate Plan Type (RPT).
                              example: '11' 
                            RatePlanCode:
                              type: string
                              description: A particular code or ID associated with a specific rate type. Use this if the traveler qualifies for a specific rate, such as AARP, AAA, a corporate rate, etc., or to specify a negotiated code as the result of a negotiated rate.
                              example: 'ABC'
                  LoyaltyIds:
                    type: object
                    description: Contains the traveler's loyality numbers, if applicable.
                    properties:
                      LoyaltyId:
                        type: array
                        minItems: 0
                        maxItems: 10
                        items:
                          description: Lists loyalty numbers by ID.
                          type: string
                          example: 'YX1123'
                        example: ["YX1123","MC1234"]
                  FrequentFlyerNumber:
                    type: string
                    description: Specifies the traveler's frequent flyer number.
                    example: 'AQ1234'
                  CorpDiscount:
                    type: string
                    pattern: '^[0-9a-zA-Z]{1,20}$'
                    description: Specifies the traveler's corporate discount code.
                    example: '9876'
                  InfoSource:
                    type: string
                    description: Specifies the source of the data being exchanged. By default, all available sources of content for a user will be selected.
                    example: '100,111,112,110,113'
              HotelContentRef:
                type: object
                description: Contains information related to filter the Hotel Content.
                properties: 
                  DescriptiveInfoRef:
                    type: object
                    description: Contains property and facilities description.
                    properties:
                      PropertyInfo:
                        type: boolean
                        description: If true, property information is expected in the response.
                        default: false
                        example: true
                      LocationInfo:
                        type: boolean
                        description: If true, location information is expected in the response.
                        default: false
                        example: true
                      Amenities:
                        type: boolean
                        default: false
                        description: If true, amenity information is expected in the response.
                        example: true
                      Descriptions:
                        type: object
                        description: Contains the description for the supported types which are expected in the response.
                        required:
                          - Description
                        properties:
                          Description:
                            type: array
                            description: Lists the expected supported types description.
                            minItems: 1
                            maxItems: 13
                            items:
                              type: object
                              required:
                                - Type
                              properties:
                                Type:
                                  type: string
                                  description: Contains the description for the supported types which are expected.
                                  example: "ShortDescription"
                                  enum:
                                    - ShortDescription
                                    - Alerts
                                    - Dining
                                    - Facilities
                                    - Recreation
                                    - Services
                                    - Attractions
                                    - CancellationPolicy
                                    - DepositPolicy
                                    - Directions
                                    - Policies
                                    - SafetyInfo
                                    - TransportationInfo
                      AdditionalCharges:
                        type: boolean
                        default: false
                        description: If true, additional charges information is expected in the response.
                        example: true
                      PointsOfInterest:
                        type: boolean
                        default: false
                        description: If true, nearby Points Of Interest are expected in the response.
                        example: true                    
                      Airports:
                        type: boolean
                        description: If true, the associated airports information is expected in the response.
                        default: false
                        example: true
                      AcceptedCreditCards:
                        type: boolean
                        description: If true, the accepted credit cards information is expected in the response.
                        default: false
                        example: true
                      GuaranteePolicies:
                        type: boolean
                        description: If true, guarantee policies information is expected in the response.
                        default: false
                        example: true              
                      SecurityFeatures:
                        type: boolean
                        description: If true, security feature information is expected in the response.
                        default: false
                        example: true              
                  MediaRef:
                    type: object
                    description: Contains information about the actual media types which needs to be retrieved.
                    properties:
                      MaxItems:
                        type: string
                        description: Identifies maximum media items requested by the user. Valid values are "ALL" or 1 to 99.
                        pattern: '^(ALL|([1-9]{1})|([0-9]{2}))$'
                        default: "1"
                        example: '10'
                      MediaTypes:
                        type: object
                        description: Contains types of media which are expected in the response.
                        properties:
                          Images:
                            type: object
                            description: Contains details of the image types.
                            properties:
                              Image:
                                type: array
                                minItems: 0
                                maxItems: 5
                                description: Lists multiple image type information in the same request.
                                items:
                                  type: object
                                  required:
                                    - Type
                                  properties:
                                    Type:
                                      type: string
                                      description: Identifies the different types of Images.
                                      example: 'MEDIUM'
                                      enum:
                                        - ORIGINAL
                                        - THUMBNAIL
                                        - SMALL
                                        - MEDIUM
                                        - LARGE
                          PanoramicMedias:
                            type: object
                            description: Contains the panoramic image types which needs to be returned in response.
                            properties:
                              PanoramicMedia:
                                type: array
                                minItems: 0
                                maxItems: 5
                                description: Lists multiple panoramic image types request.
                                items:
                                  type: object
                                  required:
                                    - Type
                                  properties:
                                    Type:
                                      type: string
                                      description: Identifies the different types of panoramic images.
                                      example: 'HD360'
                                      enum:
                                        - HD360
                          Videos:
                            type: object
                            description: Contains the video types which need to be returned in response.
                            properties:
                              Video:
                                type: array
                                minItems: 0
                                maxItems: 5
                                description: Lists the request for multiple Video types.
                                items:
                                  type: object
                                  required:
                                    - Type
                                  properties:
                                    Type:
                                      type: string
                                      description: The different types of Videos.
                                      example: "VIDEO360"
                                      enum:
                                        - VIDEO360
                                        - VIDEO720
                                        - VIDEOTHUMBNAIL
                                        - ALL
                      Categories:
                        type: object
                        description: Contains the type of category media items which needs to be received. It is mapped to OTA code PIC - Picture Category Code.
                        required:
                          - Category
                        properties:
                          Category:
                            type: array
                            minItems: 1
                            maxItems: 22
                            description: Lists the specify multiple category code so as to receive the media items.
                            items:
                              type: object
                              required:
                                - Code
                              properties:
                                Code:
                                  type: integer
                                  description: The OTA value of category code for which media items needs to be received.
                                  minimum: 1
                                  example: 1
                      RoomTypeCodes:
                        type: object
                        description: Contains lists of room type codes.
                        properties:
                          RoomTypeCode:
                            type: array
                            minItems: 0
                            maxItems: 22
                            description: Lists the multiple room type codes which receives the media items.
                            items:
                              type: object
                              required:
                                - Code
                              properties:
                                Code:
                                  type: string
                                  description: The system specific room type code.
                                  example: 'A1K, A1Q'
                      AdditionalInfo:
                        type: object
                        required:
                          - Info
                        description: Contains additional information related to the media item.
                        properties:
                          Info:
                            type: array
                            description: Lists information related to the media items.
                            maxItems: 10
                            items:
                              type: object
                              required:
                                - Type
                                - value
                              properties:
                                value:
                                  type: boolean
                                  description: If true, the information available for the chosen 'Info' Type is visible.
                                  example: true
                                Type:
                                  type: string
                                  description: The image related additional information.
                                  enum:
                                    - CAPTION
                                    - ROOM_TYPE_CODE
                            example:
                              - Type: "CAPTION"
                                value: true
                              - Type: "ROOM_TYPE_CODE"
                                value: false
                      Languages:
                        type: object
                        description: Contains the languages type in which you should receive the additional information related to the media items.
                        required:
                          - Language
                        properties:
                          Language:
                            type: array
                            maxItems: 10
                            items:
                              type: object
                              properties:
                                Code:
                                  type: string
                                  pattern: '^([a-z][a-z][_][A-Z][A-Z])|([a-zA-Z]{2})$'
                                  description: The two character language code.
                                  minLength: 0
                                  maxLength: 2
                                  example: 'EN'
        example:
          POS:
            Source:
              PseudoCityCode: "TM61"
          SearchCriteria:
            HotelRefs:
              HotelRef:
                HotelCode: "100123982"
                CodeContext: "GLOBAL"
            RateInfoRef:
              CurrencyCode: "USD"
              PrepaidQualifier: "IncludePrepaid"
              RefundableOnly: false
              ConvertedRateInfoOnly: true
              StayDateRange:
                StartDate: "2024-06-20"
                EndDate: "2024-06-21"
              Rooms:
                RoomSetType: "BedTypeCode"
                Room:
                  - Index: 1
                    Adults: 1
            HotelContentRef:
              DescriptiveInfoRef:
                PropertyInfo: true
                LocationInfo: true
                Amenities: true
                Descriptions:
                  Description:
                    - Type: ShortDescription
                AdditionalCharges: true
                PointsOfInterest: true
                Airports: true
                AcceptedCreditCards: true
                GuaranteePolicies: true
                SecurityFeatures: true
              MediaRef:
                MaxItems: "10"
                MediaTypes:
                  Images:
                    Image:
                      - Type: "MEDIUM"
                AdditionalInfo:
                  Info:
                    - Type: "CAPTION"
                      value: true
                Languages:
                  Language:
                    - Code: "EN"

  GetHotelDetailsResponse:
    type: object
    properties:
      GetHotelDetailsRS:
        type: object
        description: Contains the price check and rates information for the requested product.
        properties:
          ApplicationResults:
            type: object
            description: Contains the Sabre SOAP Fault/detail element content, specifically where results is referred.
            properties:
              status:
                type: string
                example: Complete
                description: Specifies if the status is complete/incomplete/not processed/unknown.
                enum:
                  - Complete
                  - Incomplete
                  - NotProcessed
                  - Unknown
              Success:
                $ref: '#/definitions/GetHotelDetailsRS.ApplicationResults.ElementStructure'
              Error:
                $ref: '#/definitions/GetHotelDetailsRS.ApplicationResults.ElementStructure'              
              Warning:
                $ref: '#/definitions/GetHotelDetailsRS.ApplicationResults.ElementStructure'
                
          HotelDetailsInfo:
            type: object
            required:
              - HotelInfo
            properties:
              HotelInfo:
                type: object
                description: Contains the hotel summary information.
                required:
                  - HotelCode
                  - CodeContext
                properties:
                  HotelCode:
                    type: string
                    minLength: 0
                    maxLength: 20
                    example: '11111'
                    description: The Hotel Code / Property ID.
                  CodeContext:
                    type: string
                    description: Identifies a context for hotel code that is represented by HotelCode.
                    enum:
                      - SABRE
                      - GLOBAL
                  SabreHotelCode:
                    type: string
                    description: Sabre property ID for the Global ID. This is populated only if the request is made for a Global ID and it is mapped to a Sabre ID.
                    example: "8315"
                  HotelName:
                    type: string
                    minLength: 0
                    maxLength: 500
                    example: "Hyatt Regency Tulsa"
                    description: The name of the hotel property.
                  ChainCode:
                    type: string
                    minLength: 0
                    maxLength: 20
                    example: "HY"
                    description: Identifies the chain code to which the hotel belongs.
                  ChainName:
                    type: string
                    minLength: 0
                    maxLength: 500
                    example: "Hyatt Hotels And Resorts"
                    description: The name of the hotel chain.
                  BrandCode:
                    type: string
                    minLength: 0
                    maxLength: 50
                    example: "10008"
                    description: The hotel brand code.
                  BrandName:
                    type: string
                    minLength: 0
                    maxLength: 500
                    example: "Hyatt"
                    description: The name of the hotel brand.
                  Status:
                    type: string
                    description: Identifies whether the hotel status is active / inactive.
                    example: "Active"
                    enum:
                      - Active
                      - Inactive
                  CurrencyCode:
                    type: string
                    minLength: 3
                    maxLength: 3
                    pattern: '^([A-Z]{3})$'
                    description: The three-letter ISO 4217 currency code accepted by the hotel.
                    example: 'USD'
                  SabreRating:
                    type: string
                    description: The Sabre Property Rating.
                    minLength: 0
                    maxLength: 10
                    example: '4'
                  TierLabels:
                    type: object
                    description: Contains the Agency or Corporate labels assigned for the hotel property.
                    properties:
                      TierLabel:
                        type: array
                        minItems: 0
                        maxItems: 5
                        items:
                          type: object
                          properties:
                            Type:
                              type: string
                              minLength: 0
                              maxLength: 500
                              description: The type of the tier label.
                              example: 'Agency'
                            Value:
                              type: string
                              minLength: 0
                              maxLength: 500
                              description: The value of the tier label.
                              example: 'Platinum'
                            ProgramId:
                              type: string
                              pattern: '^([0-9 ]{1,10})$'
                              description: The preferred program to which the tier label belongs.
                              example: '1082'                    
              HotelDescriptiveInfo:
                type: object
                description: Contains Hotel Information.
                properties:
                  PropertyInfo:
                    description: The Property specific information.
                    type: object
                    properties:
                      Floors:
                        type: string
                        pattern: '^([A-Z0-9]{0,3})$'
                        description: The number of floors in a hotel.
                        example: '3'
                      Rooms:
                        type: string
                        pattern: '^([A-Z0-9]{0,4})$'
                        description: The number of rooms in a hotel.
                        example: '118'
                      PropertyTypeInfo:
                        type: object
                        description: Contains the Property Class Type. It is mapped to OTA Code PCT.
                        properties:
                          PropertyType:
                            type: array
                            description: Lists the type of properties.
                            items:
                              type: object
                              properties:
                                Code:
                                  type: integer
                                  minimum: 1
                                  description: The OTA code for Property Class.
                                  example: 1
                                Description:
                                  type: string
                                  minLength: 0
                                  maxLength: 255
                                  description: The Property Class description for the OTA Code.
                                  example: 'All Suite'
                      PropertyFeatures:
                        type: object
                        description: Contains Property Features.                        
                        properties:
                          PropertyFeature:
                            type: array
                            description: List of Property Feature Information.
                            items:
                              type: object
                              properties:
                                Info:
                                  type: string
                                  minLength: 0
                                  maxLength: 20
                                  example: 'ADAA'
                                value:
                                  type: string
                                  example: 'ADA Accessible'
                      Policies:
                        type: object
                        required:
                          - Policy
                        description: Contains Property policies such as check-in and check-out time.
                        properties:
                          Policy:
                            type: array
                            minItems: 2
                            description: List of Policy Information for the property.
                            items:
                              type: object
                              required:
                                - Text
                              properties:
                                Text: 
                                  type: object
                                  required:
                                    - Type
                                  description: Contains detail information about the check-in / out policy.
                                  properties:
                                    Type:
                                      description: The different Policy Types.
                                      type: string
                                      example: 'CheckIn'
                                      enum:
                                        - CheckIn
                                        - CheckOut
                                    value: 
                                      type: string
                                      example: '1200'
                      PropertyQualityInfo:
                        type: object
                        description: Contains information on Hotel quality.
                        properties:
                          PropertyQuality:
                            type: array
                            items:
                              type: object
                              properties:
                                Code:
                                  type: integer
                                  minimum: 1
                                  example: 57
                                Description:
                                  type: string
                                  minLength: 0
                                  maxLength: 255
                                  example: 'Luxury'
                      PropertyTaxes:
                        type: object
                        description: Contains details on Property Tax Information.
                        properties:
                          PropertyTax:
                            type: array
                            description: Lists Property tax breakdown.
                            items:
                              type: object
                              properties:
                                Info:
                                  type: string
                                  minLength: 0
                                  maxLength: 20
                                  example: 'TAX1'
                                value:
                                  type: string
                                  example: '13.00 PCT'
                      RoomTraits:
                        type: object
                        description: Contains the list of room information for the property.
                        properties:
                          RoomTrait:
                            type: array
                            description: Lists the room information for the property.
                            items:
                              type: object
                              properties:
                                Info:
                                  type: string
                                  minLength: 0
                                  maxLength: 20
                                  example: 'CFEE'
                                value:
                                  type: string
                                  example: 'In room Coffee/Tea'
                      RequestableAmenities:
                        type: object
                        description: Contains the list of additional amenities that can be requested at the time of booking.
                        properties:
                          Amenity:
                            type: array
                            description: List of amenities that can be requested at the time of booking.
                            items:
                              type: object
                              properties:
                                Info:
                                  type: string
                                  minLength: 0
                                  maxLength: 20
                                  example: 'EXPERSON'
                                value:
                                  type: string
                                  example: 'Extra person'
                  LocationInfo:
                    type: object
                    description: Contains the location information of a hotel.
                    properties:
                      Latitude:
                        type: number
                        multipleOf: 0.01
                        example: 36.154800
                        description: Specifies the geographical latitude of the hotel location.
                      Longitude:
                        type: number
                        multipleOf: 0.01
                        example: -95.990356
                        description: Specifies the geographical longitude of the hotel location.
                      Address:
                        type: object
                        required:
                          - AddressLine1
                          - CityName
                          - PostalCode
                          - CountryName
                        properties:
                          AddressLine1:
                            type: string
                            minLength: 0
                            maxLength: 500
                            example: '50 N MARTINGALE RD'
                          AddressLine2:
                            type: string
                            minLength: 0
                            maxLength: 500
                            example: 'Pointer Square'
                          AddressLine3:
                            type: string
                            minLength: 0
                            maxLength: 500
                            example: 'Orlando'
                          CityName:
                            type: object
                            properties:
                              CityCode:
                                type: string
                                pattern: '^[A-Z0-9]{0,5}$'
                                description: The City Code.
                                example: 'TUL'
                              value:
                                type: string
                                minLength: 0
                                maxLength: 50
                                description: The City Name.
                                example: 'Tulsa'
                          StateProv:
                            type: object
                            properties:
                              StateCode:
                                type: string
                                description: The property, state or province code.
                                minLength: 0
                                maxLength: 10
                                example: 'OK'
                              value:
                                type: string
                                example: 'Oklahoma'
                          PostalCode:
                            type: string
                            description: The postal code information for the property.
                            minLength: 0
                            maxLength: 50
                            example: '60173'
                          CountryName:
                            type: object
                            description: The name of the country where the property is located.
                            properties:
                              Code:
                                type: string
                                description: The two-letter code of the country where the property is located.
                                pattern: '^[A-Z0-9]{0,3}$'
                                example: 'US'
                              value:
                                type: string
                                example: 'United States'
                      Neighborhoods:
                        type: object
                        description: Contains the list of neighborhood information.
                        properties:
                          Neighborhood:
                            type: array
                            description: Lists the information about neighborhood polygons such as MSA/Area/Hood under which the property location falls.
                            maxItems: 10
                            items:
                              type: object
                              properties:
                                Id:
                                  type: string
                                  minLength: 0
                                  maxLength: 20
                                  description: The polygon ID of the neighborhood.
                                  example: '90000092'
                                value: 
                                  type: string
                                  description: The name of the polygon.
                                  example: 'Tulsa OK'
                      Contact: 
                        type: object
                        description: Contains the contact details of the property.
                        properties:
                          Phone:
                            type: string
                            description: The phone number of the hotel.
                            minLength: 0
                            maxLength: 20
                            example: '999-222-1111'
                          Fax:
                            type: string
                            minLength: 0
                            maxLength: 20
                            description: The fax number of the hotel.
                            example: '999-222-1110'
                  Amenities:
                    type: object
                    properties:
                      Amenity:
                        type: array
                        minItems: 0
                        items:
                          type: object
                          properties:
                            Code:
                              type: integer
                              minimum: 1
                              example: 15
                              description: The OTA Code mapped to the HAC OTA Code.
                            Description:
                              type: string
                              example: Car rental desk
                              description: A description of the OTA Code.
                            ComplimentaryInd:
                              type: boolean
                              example: false
                              description: If true, the amenity mentioned is free of charge.
                            value:
                              type: string
                              example: "Ask at reception for car rental charges"
                  SecurityFeatures:
                    type: object
                    properties:
                      SecurityFeature:
                        type: array
                        minItems: 0
                        items:
                          type: object
                          properties:
                            Code:
                              type: integer
                              minimum: 1
                              example: 9
                              description: The OTA Code mapped to the SEC OTA Code.
                            Description:
                              type: string
                              example: "Complies with Local/State/Federal fire laws"
                              description: A description of the OTA Code.
                            value:
                              type: string
                              example: "Fire safety law compliant"                                  
                  AdditionalCharges:
                    type: object
                    description: Contains the list of additional charges for specific room incidentals.
                    properties:
                      AdditionalCharge:
                        type: array
                        description: List of additional charges for specific room incidentals.
                        items:
                          type: object
                          properties:
                            Code:
                              type: integer
                              minimum: 1
                              description: Numeric OTA code for the room amenity.
                              example: 196
                            Amount:
                              type: number
                              multipleOf: 0.01
                              description: The amount charged extra for the corresponding room amenity.
                              example: 25.00
                            Description:
                              type: string
                              description: The description of the room amenity.
                              minLength: 0
                              maxLength: 255
                              example: 'Extra adult charge'
                  
                  Descriptions:
                    type: object
                    description: Contains the list of descriptive information based on request parameters for the property.
                    properties:
                      Description:
                        type: array
                        description: Lists the descriptive information for the property.
                        items:
                          type: object
                          properties:
                            Text:
                              type: object
                              required:
                                - Type
                              description: Contains the descriptive information returned in response.
                              properties:
                                Type:
                                  type: string
                                  description: The type of Descriptive Information required in response.
                                  example: 'Dining'
                                  enum:
                                    - ShortDescription
                                    - Alerts
                                    - Dining
                                    - Facilities
                                    - Recreation
                                    - Services
                                    - Attractions
                                    - CancellationPolicy
                                    - DepositPolicy
                                    - Directions
                                    - Policies
                                    - SafetyInfo
                                    - TransportationInfo
                                value:
                                  type: string
                                  example: 'Bluefire Grill   Full service dining, Breakfast Buffet,    mediterrranian menu with midwest   specialties.     **Closed everyday from 1400-1700** - Bevende Lounge   Art Deco atmosphere. Snack menu available. - Bean Counter    Quick pickup and go, Starbuck*s coffee, danish,    donuts, bagels, etc. - Room Service   Available 0600-2300'

                  Airports:
                    type: object
                    description: Contains information on the list of airports near the hotel.
                    properties:
                      Airport:
                        type: array
                        description: Lists the information about an airport near the hotel.
                        items:
                          type: object
                          properties:
                            AirportOrCityCode:
                              type: string
                              pattern: '^[A-Z0-9]{3}$'
                              description: The three-letter airport code of the respective airport.
                              example: 'ORD'
                            DirectionId:
                              type: string
                              description: The direction of the airport from the hotel.
                              enum:
                                - E
                                - N
                                - NE
                                - NW
                                - S
                                - SE
                                - SW
                                - W
                            DistanceFromHotel:
                              type: integer
                              description: Distance of the airport from the hotel in the specified direction.
                              minimum: 0
                              example: 21
                            UOM:
                              type: string
                              description: The unit of measure for distance.
                              enum: 
                                - MI
                                - KM
                            AirportOrCityDescription:
                              type: string
                              minLength: 0
                              maxLength: 50
                              description: The airport or city description.
                              example: "Chicago O'Hare"
                            TransportationCode:
                              type: string
                              minLength: 0
                              maxLength: 50
                              description: The code related to transportation.
                              example: "O"
                            AirportOrCityStateCode:
                              type: string
                              minLength: 0
                              maxLength: 20
                              description: The code which represents airport  or city /state.
                              example: 'OK'
                            AirportOrCityCountryCode:
                              type: string
                              pattern: '^[A-Z0-9]{2}$'
                              description: The code which represents airport or city/country code.
                              example: 'US'
                            Primary:
                              type: boolean
                              description: If true, respective airport is the primary airport near the hotel.
                              example: true
                  PointsOfInterest:
                    type: object
                    description: Contains information about nearby attractions around the property location.
                    properties:
                      PointOfInterest:
                        type: array
                        description: Lists the information about nearby attractions around the property location.
                        items:
                          type: object
                          properties:
                            CountryCode:
                              type: string
                              pattern: '^[A-Z0-9]{2}$'
                              description: The two-letter code of the country where the hotel is located.
                              example: 'US'
                            DirectionId:
                              type: string
                              description: The direction of the point of interest from the hotel.
                              example: 'S'
                              enum:
                                - E
                                - N
                                - NE
                                - NW
                                - S
                                - SE
                                - SW
                                - W
                            DistanceFromHotel:
                              type: integer
                              description: The distance of the PoI from the hotel in the specified direction.
                              minimum: 0
                              example: 1
                            TransportationCode:
                              type: string
                              minLength: 0
                              maxLength: 50
                              description: The transportation code.
                              example: "O"
                            StateCode:
                              type: string
                              minLength: 0
                              maxLength: 20
                              description: The state code.
                              example: "O"
                            UOM:
                              type: string
                              description: The unit of measure for the distance.
                              enum: 
                                - MI
                                - KM                                
                            Description:
                              type: string
                              description: The short description about the point of interest.
                              minLength: 0
                              maxLength: 50
                              example: "Tulsa Conv Ctr Arena"
                  AcceptedCreditCards:
                    type: object
                    description: Contains the list of cards accepted for payment at the hotel.
                    properties:
                      CreditCard:
                        type: array
                        description: Lists the details of the credit card.
                        minItems: 0
                        items:
                          type: object
                          properties:
                            Code:
                              type: string
                              pattern: '^[A-Z0-9]{2}$'
                              description: The code of the credit card.
                              example: 'AX'
                            value:
                              type: string
                              description: The issuer of the credit card.
                              example: 'AMERICAN EXPRESS'
                  GuaranteePolicies:
                    type: object
                    description: Contains the list of different modes of payment accepted at the property.
                    properties:
                      GuaranteeAccepted:
                        type: array
                        description: Lists the details about a mode of payment accepted at the property. OTA is mapped to PMT OTA code.
                        items:
                          type: object
                          properties:
                            Code:
                              type: integer
                              minimum: 1
                              description: Specifies the numeric OTA code for payment method from PMT table.
                              example: 19
                            Description:
                              type: string
                              minLength: 0
                              maxLength: 255
                              description: The description of corresponding OTA code in PMT table.
                              example: 'Travel agency IATA number'
              HotelRateInfo:
                type: object
                description: Contains the hotel rate information.
                required:
                   - RateInfos
                properties:
                      RateInfos:
                        type: object
                        description: Contains information about the product rates.
                        properties:
                          ShopKey:
                            type: string
                            description: ShopKey when returned, signifies that more products are available for the property from a supplier.
                            example: "06a8f6abd91b-"
                          RateInfo:
                            $ref: '#/definitions/GetHotelDetailsRS.RateInfos.RateInfo'
                          ConvertedRateInfo:
                            $ref: '#/definitions/GetHotelDetailsRS.RateInfos.RateInfo'
                      Rooms:
                        type: object
                        required:
                          - Room
                        properties:
                          Room:
                            $ref: '#/definitions/GetHotelDetailsRS.Room'
                      RoomSets:
                        type: object
                        required:
                          - RoomSet
                        properties:
                          RoomSet:
                            type: array
                            items:
                              type: object
                              properties:
                                Type:
                                  type: string
                                  enum: 
                                    - BedTypeCode
                                    - InfoSource
                                  example: 'InfoSource'
                                Value:
                                  type: string
                                  description: The value for the `RoomSet` type.
                                  example: '100'
                                Room:
                                  $ref: '#/definitions/GetHotelDetailsRS.Room'
              
              HotelMediaInfo:
                type: object
                description: Contains a list of media types,each of which represents a media type (Image / Panoramic Image / Video) available for a particular hotel code.
                properties:
                  MediaItems:
                    type: object
                    properties:
                      MediaItem:
                        type: array
                        description: Lists information about one image /  panoramic image / video. It is repeated for every individual media item which is available for the property.
                        items:
                          type: object
                          required:
                            - Id
                            - Ordinal
                            - LastModifedDate
                            - Format
                          properties:
                            Id:
                              type: string
                              minLength: 0
                              maxLength: 255
                              description: The Unique Id for the Media Item.
                              example: '1377631'
                            Ordinal:
                              type: integer
                              minimum: 0
                              description: Specifies the media item priority ( lower the number, higher the priority).
                              example: 2
                            LastModifedDate:
                              type: string
                              format: date
                              description: Date when the media item was last updated/changed in YYYY-MM-DD format.
                              example: '2024-06-28'
                            Format:
                              type: string
                              description: Indicates the format of the media returned.
                              example: 'JPG'
                              enum:
                                - BMP
                                - GIF
                                - ICO
                                - JPG
                                - PNG
                                - TIFF
                                - WEBP
                            ImageItems:
                              type: object
                              description: Contains the image items for the property.
                              properties:
                                Image:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - Url
                                      - Type
                                      - Height
                                      - Width
                                    properties:
                                      Url:
                                        type: string
                                        format: uri
                                        description: The Image URL.
                                        example: 'http://vcmp-hotels.cert.sabre.com/image/upload/t_vcmp_thumb/hotel/i/1/jdbkyzhiy4tmmm0a30e3.jpg'
                                      Type:
                                        type: string
                                        description: The Image types.
                                        example: 'THUMBNAIL'
                                        enum:
                                          - ORIGINAL
                                          - THUMBNAIL
                                          - SMALL
                                          - MEDIUM
                                          - LARGE
                                      Height:
                                        type: integer
                                        minimum: 0
                                        example: 100
                                        description: Height of the image in pixels.
                                      Width:
                                        type: integer
                                        minimum: 0
                                        example: 150
                                        description: Width of the image in pixels.
                            PanoramicMediasItems:
                              type: object
                              description: Contains Panoramic Image items for property.
                              properties:
                                PanoramicMedia:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - Url
                                      - Type
                                      - Height
                                      - Width
                                    properties:
                                      Url:
                                        type: string
                                        format: uri
                                        description: The Panoramic Image URL.
                                        example: 'https://www.iceportal.com/brochures/Media/Show/photoThumb.aspx?did=8845&brochureid=6354&mtype=26162&publicid=22707462&instanceid=9&resizing=default'
                                      Type:
                                        type: string
                                        description: The Panoramic Image types.
                                        example: 'HD360'
                                        enum:
                                          - HD360
                                      Height:
                                        type: integer
                                        minimum: 0
                                        example: 100
                                        description: The Panoramic Image height in pixels.
                                      Width:
                                        type: integer
                                        minimum: 0
                                        example: 150
                                        description: The Panoramic Image width in pixels.
                            VideosItems:
                              type: object
                              description: Contains video items for the given property.
                              properties:
                                Video:
                                  type: array
                                  items:
                                    type: object
                                    required:
                                      - Url
                                      - Type
                                      - Height
                                      - Width
                                    properties:
                                      Url:
                                        type: string
                                        format: uri
                                        description: The Video item URL.
                                        example: 'http://s3.amazonaws.com/iceportaldata/brochures/20416/video021016165607956.mp4'
                                      Type:
                                        type: string
                                        description: The video item types.
                                        example: 'VIDEO360'
                                        enum:
                                          - VIDEOTHUMBNAIL
                                          - VIDEO360
                                          - VIDEO720
                                          - ALL
                                      Height:
                                        type: integer
                                        minimum: 0
                                        example: 100
                                        description: The video item height.
                                      Width:
                                        type: integer
                                        minimum: 0
                                        example: 150
                                        description: The video item width.
                            Category:
                              type: object
                              description: Contains the type of category to which the media item belongs. it is mapped to OTA code PCI.
                              required:
                                - Description
                              properties:
                                CategoryCode:
                                  type: integer
                                  minimum: 1
                                  example: 3
                                  description: The media item category code. It is mapped to PCI OTA code.
                                Description:
                                  type: object
                                  description: Contains media item description.
                                  properties:
                                    Text:
                                      type: array
                                      description: Lists the descriptions in all requested language codes.
                                      items:
                                        type: object
                                        properties:
                                          Language:
                                            type: string
                                            pattern: '^([a-z][a-z][_][A-Z][A-Z])|([a-zA-Z]{2})$'
                                            example: 'en'
                                            description: The two character language code.
                                          value:
                                            type: string
                                            example: 'Exterior view'
                            RoomTypeCode:
                              type: array
                              description: The code attributed to the specific type of the room.
                              items:
                                type: object
                                properties:
                                  Code:
                                    type: string
                                    description: The room type code.
                                    example: 'AQK'
                            AdditionalInfo:
                              type: object
                              description: Contains additional information related to the media item.
                              properties:
                                Info:
                                  type: array
                                  maxItems: 10
                                  description: Lists additional information as a caption in response.
                                  items:
                                    type: object
                                    required:
                                      - Type
                                      - Description
                                    properties:
                                      Type:
                                        type: string
                                        description: Specifies the type of additional info.
                                        example: 'CAPTION'
                                        enum:
                                          - CAPTION
                                          - ROOM_TYPE_CODE
                                      Description:
                                        type: object
                                        description: Contains the description for the chosen Additional Info parameter
                                        properties:
                                          Text:
                                            type: array
                                            items:
                                              type: object
                                              properties:
                                                Language:
                                                  type: string
                                                  pattern: '^([a-z][a-z][_][A-Z][A-Z])|([a-zA-Z]{2})$'
                                                  description: The two character language code.
                                                  example: 'en'
                                                value:
                                                  type: string
                                                  example: 'Guestroom'
                                                    
  GetHotelDetailsRS.ApplicationResults.ElementStructure:
      type: array
      description: Lists the results of the application's search, as well as any errors that may have occured.
      items:
        type: object
        properties:
          type:
            type: string
            description: Specifies the source of error when processing the request.
          timeStamp:
            type: string
            description: Contains current application server time stamp.
          SystemSpecificResults:
            type: array
            description: Lists the application response status.
            items:
              type: object
              properties:
                timeStamp:
                  type: string
                  description: Contains current application server time stamp.
                reference:
                  type: string
                  description: If present, provides the name of the field for which the results apply.
                ShortText:
                  type: object
                  description: Contains an abbreviated version of the error in text format.
                Element:
                  type: object
                  description: Contains the identity of the unknown or misspelled tag that caused the processing error.
                RecordID:
                  type: object
                  description: Contains the identity of the record that failed among a group of records. This value may contain a concatenation of a unique failed transaction ID with specific record(s) associated with that transaction.
                DocURL:
                  type: object
                  description: Contains an online description of the error that occurred.
                HostCommand:
                  type: object
                  description: Contains the host system common run to create the result.
                  properties:
                    LNIATA:
                      type: string
                      description: The Line Number Interchange Address Terminal Address (LNIATA) number.
                Message:
                  type: array
                  description: Lists application-specific codes and messages. A textual description to provide more information about the specific condition, warning, or error with the code attribute as a numeric value.
                  items:
                    type: object
                    properties:
                      code:
                        type: string
                        description: The code, if returned, for an error or warning.
                        example: ERR.0381
                      value:
                        type: string
                        description: The message associated to the above code.
                        example: "Invalid check-in date" 
                        
  GetHotelDetailsRS.RateInfos.RateInfo:
    type: array
    description: Lists information about the returned rates.
    minItems: 1
    items:
      type: object
      description: Contains details of the given rate.
      required:
        - RateKey
        - RateSource
      properties:
        StartDate:
          type: string
          format: date
          example: '2024-01-16'
          description: The date of the traveler's check-in.
        EndDate:
          type: string
          format: date
          example: '2024-01-22'
          description: The date of the traveler's check-out.
        AmountBeforeTax:
          type: number
          multipleOf: 0.01
          example: 923.12
          description: The total amount chargeable for the booking, before any taxes have been applied.
        AmountAfterTax:
          type: number
          multipleOf: 0.01
          example: 1023.12
          description: The total amount chargeable for the booking, with taxes included in the value.
        AverageNightlyRate:
          type: number
          multipleOf: 0.01
          example: 170.52
          description: The average rate per night for the duration of the stay.
        CurrencyCode:
          type: string
          pattern: '^[A-Z]{3}$'
          example: AUD
          description: Specifies the IATA (ISO 4217) currency code of the returned rates.
        AdditionalFeesInclusive:
          type: boolean
          example: true
          description: If true, all additional fees are included in the returned rate.
        TaxInclusive:
          type: boolean
          example: true
          description: If true, all taxes are included in the returned rate.
        LocalFeesInclusive:
          type: boolean
          example: true
          description: If true, all local fees are included in the returned rate.
        IncidentalsInclusive:
          type: boolean
          example: true
          description: If true, all incidental fees are included in the returned rate.
        RateSource:
          type: string
          example: '100'
          description: Indicates which supplier the rates are returned from.
        RateKey:
          type: string
          example: NFZ6Y/BZlGHH9RhcPEBtCN6zQTOAckUn8C11PGKuz9BaSMsJXduJuKzEeFe7t24KvAItmy9bNxc1kL3b6g31NPQGvihdWaZCsVfLg6f/Qe4KgDhaUpTYQj+xMd/8l49JTQRreXBUK4EqtYhVkY0aqA5WIxCfzOrYgIdZkKNtngnbjkr4IvmCmKu+MVMNFKgpADA3rjwPCaxFM5MY1s5NYEBHdP2LnMHNvmuLxp1kYoBNIUlAPYFdUh9fQZe1RkYSPcCUaPYJMH5RgC9FyW6E2cu+TefaO1YkzIy4zJXrdnNBDuU/imR3O4FA0n8R0Vb+d8hZZL3Q/+vNfbxzRLX3CQ==
          description: The specific key associated with the rate.
        LoyaltyId:
          type: string
          example: MC1123
          description: The Loyalty ID of the traveler.
        Commission:
          type: object
          description: Contains the commission percentage, amount, and description.
          properties:
            Percent:
              type: number
              multipleOf: 0.01
              example: 12.01
              description: The percentage of the total rate that will be taken as a commission.
            Amount:
              type: number
              minimum: 0
              multipleOf: 0.01
              example: 82.41
              description: The total amount out of the rate that will be taken as a commission.
            CurrencyCode:
              type: string
              pattern: '^[A-Z]{3}$'
              example: AUD
              description: Specifies the IATA (ISO 4217) currency code of the returned rates.
            Type:
              type: string
              example: Variable
              description: The type of the commission.
            CommissionDescription:
              type: object
              required:
                - Text
              properties:
                Text:
                  type: string
                  example: 30 percent
                  description: Text-based description of the commission, its value, and type. 
                  
  GetHotelDetailsRS.Room:
    type: array
    minItems: 1
    items:
      type: object
      description: Contains the price check.
      required:
        - RoomIndex
        - RatePlans
      properties:
        RoomIndex:
          type: integer
          minimum: 1
          example: 3
          description: The indexed value of the room.
        RoomType:
          type: string
          example: Suite
          description: The type of the room.
        RoomTypeCode:
          type: string
          example: 'A1K'
          description: The code attributed to the specific type of the room.
        RoomCategory:
          type: string
          example: Suite
          description: The category to which the room belongs.
        RoomID:
          type: string
          example: B11
          description: The property specific ID of the room.
        Floor:
          type: integer
          example: 5
          description: The floor of the hotel where the room is.
        RoomViewCode:
          type: integer
          minimum: 1
          example: 1
          description: The room code required to view its interior. Mapped to RVT OTA Code
        NonSmoking:
          type: boolean
          example: true
          description: If true, the room does not allow smoking inside of it.
        SharedRoomInd:
          type: boolean
          example: true
          description: If true, the room can be shared.
        GuestRoomInfo:
          type: integer
          minimum: 1
          example: 4
          description: Information concerning the guest room status, mapped to the GRI OTA Code.
        BedTypes:
          type: object
          required:
            - BedType
          properties:
            BedType:
              type: array
              minItems: 1
              items:
                type: object
                properties:
                  Code:
                    type: integer
                    minimum: 1
                    description: Mapped to BED OTA Code
                    example: 1
                  Count:
                    type: integer
                    minimum: 0
                    description: Number of the corresponding beds available in the room
                    example: 2
        RoomDescription:
          type: object
          properties:
            Name:
              type: string
              example: Suite
              description: The name of the room.
            Text:
              type: array
              minItems: 0
              items:
                type: string
                description: The text-based description of the room.
                example: The room is a cozy two person place with its own kitchen and a shower.
        AdditionalDetails:
          type: object
          required:
            - AdditionalDetail
          properties:
            AdditionalDetail:
              type: array
              description: Lists all additional details associated with the room.
              minItems: 1
              items:
                type: object
                properties:
                  Code:
                    type: integer
                    minimum: 1
                    example: 13
                    description: The OTA Code mapped to the ADT table.
                  Amount:
                    type: number
                    multipleOf: 0.01
                    example: 23.12
                    description: The total value of the additional details rates.
                  CurrencyCode:
                    type: string
                    pattern: '^[A-Z]{3}$'
                    example: AUD
                    description: Specifies the currency code of the returned rates.
                  Text:
                    type: array
                    minItems: 0
                    items:
                      type: string
                      description: A description of the room and any additional details it has.
                      example: The room has several additions, such as an extra bathroom and two beds more than the usual.
        Amenities:
          type: object
          properties:
            Amenity:
              type: array
              items:
                type: object
                properties:
                  Code:
                    type: integer
                    minimum: 1
                    example: 15
                    description: The OTA Code mapped to the RMA OTA Code.
                  Description:
                    type: string
                    example: Car rental desk
                    description: A description of the OTA Code.
                  ComplimentaryInd:
                    type: boolean
                    example: false
                    description: If true, the amenity mentioned is free of charge.
                  value:
                    type: string
                    example: "Ask at reception for car rental charges"
        Occupancy:
          type: object
          description: Contains the minimum and maximum occupancy of the room.
          properties:
            Min:
              type: integer
              example: 1
              description: The minimum occupancy of the room.
            Max:
              type: integer
              example: 6
              description: The maximum occupancy of the room.
        RatePlans:
          type: object
          required:
            - RatePlan
          properties:
            RatePlan:
              type: array
              minItems: 1
              items:
                type: object
                required:
                  - PrepaidIndicator
                  - RateSource
                  - RateKey
                properties:
                  RatePlanName:
                    type: string
                    example: Single Bed Room with Breakfast
                    description: The name of the plan associated with the rate.
                  RatePlanCode:
                    type: string
                    example: LES
                    description: The code associated specifically with the plan of the rate.
                  RatePlanType:
                    type: string
                    pattern: '^([0-9]{1,2})$'
                    enum:
                      - '1'
                      - '2'
                      - '3'
                      - '4'
                      - '5'
                      - '6'
                      - '7'
                      - '8'
                      - '9'
                      - '10'
                      - '11'
                      - '12'
                      - '13'
                      - '14'
                      - '15'
                      - '16'
                      - '17'
                      - '18'
                      - '19'
                      - '20'
                      - '21'
                      - '22'
                      - '23'
                      - '24'
                      - '25'
                      - '26'
                      - '27'
                      - '28'
                      - '29'
                      - '30'
                      - '31'
                      - '32'
                      - '33'
                    example: '10'
                    description: Specifies if the rate is merchant standard, a merchant package, or is a direct agency rate. It is mapped to the RPT OTA Code.
                  PrepaidIndicator:
                    type: boolean
                    example: true
                    description: If true, the rate can be prepaid in advance. Currently, this field will always be populated as 'false' for GDS and Booking.com rates and 'true' for BedsOnline rates.
                  AvailableQuantity:
                    type: integer
                    example: 3
                    description: The available quantity of rates.
                  LimitedAvailability:
                    type: string
                    example: "true"
                    description: Specifies whether the rate is of limited availability.
                  RateSource:
                    type: string
                    example: '100'
                    description: Specifies the source of the rate.
                  RateKey:
                    type: string
                    example: NFZ6Y/BZlGHH9RhcPEBtCN6zQTOAckUn8C11PGKuz9BaSMsJXduJuKzEeFe7t24KvAItmy9bNxc1kL3b6g31NPQGvihdWaZCsVfLg6f/Qe4KgDhaUpTYQj+xMd/8l49JTQRreXBUK4EqtYhVkY0aqA5WIxCfzOrYgIdZkKNtngnbjkr4IvmCmKu+MVMNFKgpADA3rjwPCaxFM5MY1s5NYEBHdP2LnMHNvmuLxp1kYoBNIUlAPYFdUh9fQZe1RkYSPcCUaPYJMH5RgC9FyW6E2cu+TefaO1YkzIy4zJXrdnNBDuU/imR3O4FA0n8R0Vb+d8hZZL3Q/+vNfbxzRLX3CQ==
                    description: The specific key associated with the rate.
                  ClientId:
                    type: string
                    example: "AMX"
                    description: The ID associated with the rate plan.
                  ProductCode:
                    type: string
                    description: The Inventory Block Code of the room. This is populated only for the GDS products.
                    example: "A1KRAC"
                  RatePlanDescription:
                    type: object
                    required:
                      - Text
                    properties:
                      Text:
                        type: string
                        example: Junior Suite
                        description: The description of the rate plan, such as which suite type it is for, etc.
                  RatePlanInclusions:
                    type: object
                    required:
                      - RatePlanInclusionDescription
                    properties:
                      RatePlanInclusionDescription:
                        type: array
                        minItems: 1
                        items:
                          type: object
                          properties:
                            Name:
                              type: string
                              example: Junior
                              description: The name of the rate plan.
                            Code:
                              type: integer
                              minimum: 1
                              example: 12
                              description: The code associated with the specific rate plan.
                            Text:
                              type: array
                              minItems: 0
                              items:
                                type: string
                                description: A text-based description of the room.
                                example: The room includes several amenities such as a bar, and is a large suite.
                  MealsIncluded:
                    type: object
                    description: Contains the different types of meals included as part of the rate plan.
                    properties:
                      BreakFast:
                        type: boolean
                        example: true
                        description: If true, breakfast is included in the plan.
                      Lunch:
                        type: boolean
                        example: true
                        description: If true, lunch is included in the plan.
                      Dinner:
                        type: boolean
                        example: true
                        description: If true, dinner is included in the plan.
                      MealPlanIndicator:
                        type: boolean
                        example: true
                        description: If true, a meal plan is included.
                      MealPlanCode:
                        type: integer
                        minimum: 1
                        example: 11
                        description: An OTA code mapped to the MPT OTA table that is associated with the meal plan.
                      GuestCount:
                        type: integer
                        minimum: 0
                        example: 2
                        description: Number of guests included in the MealPlan.
                  RateInfo:
                    $ref: '#/definitions/GetHotelDetailsRS.Room.RateInfo'                
                  ConvertedRateInfo:
                    $ref: '#/definitions/GetHotelDetailsRS.Room.RateInfo'                
                    
  GetHotelDetailsRS.Room.RateInfo:
    type: object
    required:
      - CancelPenalties
    properties:
      StartDate:
        type: string
        format: date
        example: '2024-01-16'
        description: The date of the traveler's check in.
      EndDate:
        type: string
        format: date
        example: '2024-01-22'
        description: The date of the traveler's check out.
      AmountBeforeTax:
        type: number
        multipleOf: 0.01
        example: 923.12
        description: The total amount to be paid for the booking before taxes are included.
      AmountAfterTax:
        type: number
        multipleOf: 0.01
        example: 1023.12
        description:  The total amount to be paid for the booking, with taxes included.
      AverageNightlyRate:
        type: number
        multipleOf: 0.01
        example: 953.12
        description: The average per night rate of the traveler's entire stay.
      CurrencyCode:
        type: string
        pattern: '^[A-Z]{3}$'
        example: AUD
        description: Specifies the IATA (ISO 4217) currency code of the returned rates.
      AdditionalFeesInclusive:
        type: boolean
        example: true
        description: If true, additional fees are included in the rate.
      TaxInclusive:
        type: boolean
        example: true
        description: If true, taxes are included in the rate.
      LocalFeesInclusive:
        type: boolean
        example: true
        description: If true, any local fees are included in the rate.
      IncidentalsInclusive:
        type: boolean
        example: true
        description: If true, incidentals are included in the rate.
      Rates:
        type: object
        required:
          - Rate
        properties:
          Rate:
            type: array
            minItems: 1
            items:
              type: object
              properties:
                StartDate:
                  type: string
                  format: date
                  example: '2024-02-20'
                  description: The date of the traveler's check in.
                EndDate:
                  type: string
                  format: date
                  example: '2024-02-22'
                  description: The date of the traveler's check out.
                AmountBeforeTax:
                  type: number
                  minimum: 0
                  multipleOf: 0.01
                  example: 1253.12
                  description: The total amount to be paid for the booking before taxes are included.
                AmountAfterTax:
                  type: number
                  minimum: 0
                  multipleOf: 0.01
                  example: 1475.23
                  description: The total amount to be paid for the booking, with taxes included.
                CurrencyCode:
                  type: string
                  pattern: '^[A-Z]{3}$'
                  example: AUD
                  description: Specifies the IATA (ISO 4217) currency code of the returned rates.
      Taxes:
        type: object
        description: Contains tax information.
        properties: 
          Amount:
            type: number
            minimum: 0
            multipleOf: 0.01
            example: 22.46
            description: Specifies the total tax amount.
          CurrencyCode:
            type: string
            pattern: '^[A-Z]{3}$'
            example: 'AUD'
            description: Specifies the Currency Code of the returned rates.
          Tax:
            type: array
            minItems: 0
            items:
              type: object
              required:
                - Amount
                - CurrencyCode
              properties:
                StartDate:
                  type: string
                  format: date
                  description: The date from which corresponding Tax amount is applied in YYYY-MM-DD format.
                  example: "2024-09-20"
                EndDate:
                  type: string
                  format: date
                  description: The date till which the corresponding tax amount is applied in YYYY-MM-DD format.
                  example: "2024-09-22"
                Amount:
                  type: number
                  minimum: 0
                  multipleOf: 0.01
                  example: 11.23
                  description: The tax amount in the given date range.
                CurrencyCode:
                  type: string
                  pattern: '^([A-Z]{3})$'
                  example: "AUD"
                  description: Specifies the Currency Code of the tax.
          TaxGroups:
            type: object
            description: Contains breakup of different types of Tax.
            required:
              - TaxGroup
            properties:
              TaxGroup:
                type: array
                minItems: 1
                items:
                  type: object
                  required:
                    - Code
                    - Amount
                    - CurrencyCode
                  properties:
[...]
